<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:carregando="http://java.sun.com/jsf/composite/carregando">

<h:body>

	<composite:interface />
	<composite:implementation>

		<!-- Main Header -->
		<header class="main-header">

			<!-- Logo -->
			<a href="/PortalEmpresaPCMSO/resources/page/dashboard.jsf" class="logo" style="background-color: #{usuarioLogado.estadoSistema ? '' : 'red'}"> <!-- mini logo for sidebar mini 50x50 pixels -->
				<h:panelGroup rendered="#{usuarioLogado.estadoSistema}">
					<span class="logo-mini"><b>P</b></span> <!-- logo for regular state and mobile devices -->
					<span class="logo-lg"><b>Portal </b>PCMSO</span>
				</h:panelGroup>
				<h:panelGroup rendered="#{!usuarioLogado.estadoSistema}">
					<span class="logo-mini"><b>I</b></span> <!-- logo for regular state and mobile devices -->
					<span class="logo-lg"><b>PCMSO INATIVO </b></span>
				</h:panelGroup>
			</a>

			<!-- Header Navbar -->
			<nav class="navbar navbar-static-top navbar-danger" role="navigation" style="background-color: #{usuarioLogado.estadoSistema ? '' : 'red'}">
				<!-- Sidebar toggle button-->
				<a href="#" class="sidebar-toggle" data-toggle="offcanvas"
					role="button"> <span class="sr-only">Toggle navigation</span>
				</a>
				<!-- Navbar Right Menu -->
				<div class="navbar-custom-menu">
					<ul class="nav navbar-nav">

						<!-- Tasks Menu -->
						<!-- User Account Menu -->
						<li class="dropdown user user-menu">
							<!-- Menu Toggle Button --> <a href="#" class="dropdown-toggle"
							data-toggle="dropdown"> <!-- The user image in the navbar-->
								<img src="/PortalEmpresaPCMSO/resources/img/avatar.png" class="user-image"
								alt="User Image" /> <span class="hidden-xs">#{usuarioLogado.nomeUsuarioLogado}</span>
								<small>Alterar senha</small>
							</a>
							<ul class="dropdown-menu">
				              <li class="user-footer">
				                <div class="pull">
				                  <a href="/PortalEmpresaPCMSO/resources/page/login/atualizarSenha.jsf" class="btn btn-success" style="width: 100%">Atualizar Senha</a>
				                </div>
				              </li>
				            </ul>
						</li>
						<!-- Control Sidebar Toggle Button -->
						<li><a href="/PortalEmpresaPCMSO/sair.jsp" ><i class="fa fa-power-off"></i></a></li>
					</ul>
				</div>
			</nav>
		</header>
		<h:outputScript library="js" name="funcoes.js" />
		<carregando:carregando />
	</composite:implementation>

</h:body>
</html>
