<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:composite="http://java.sun.com/jsf/composite">

<h:head></h:head>

<h:body>
	<composite:interface />
	<composite:implementation>
	
		<!-- Main Footer -->
		  <footer class="main-footer">
		    <!-- To the right -->
		    <div class="pull-right hidden-xs">
		      <a href="#">Suporte</a>
		    </div>
		    <!-- Default to the left -->
		    <strong>Copyright #{beanDigitacaoDeNotas.nomeCliente()} #{beanDigitacaoDeNotas.anoAtual()}.</strong> Todos os direitos reservados.
		  </footer>
	</composite:implementation>
</h:body>
</html>