<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:composite="http://java.sun.com/jsf/composite">

<h:head></h:head>

<h:body>
	<composite:interface />
	<composite:implementation>
	
		<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation"
			style="text-align: center; padding: 10px;">
			<div class="container">
				<p class="text-muted" style="font-size: 10px;">
					Copyright #{beanDigitacaoDeNotas.nomeCliente()} #{beanDigitacaoDeNotas.anoAtual()} - Todos os direitos reservados.
					Conteúdo estratégico e confidencial.<br /> As informações contidas
					neste sistema não podem ser utilizadas para outros fins.
				</p>
			</div>
			<h:panelGroup >
				<div style="position: absolute; top: 5px; width: 99%" align="right">
					<h:graphicImage library="imgs" name="cornertrust.gif" width="60px" title="Sistema Seguro" />
				</div>
			</h:panelGroup>
		</nav>
	</composite:implementation>
</h:body>
</html>