
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:topo="http://java.sun.com/jsf/composite/topo"
	xmlns:sidebar="http://java.sun.com/jsf/composite/sidebar"
	xmlns:baixo="http://java.sun.com/jsf/composite/baixo"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
	#{usuarioLogado.onLoad()}
	#{beanExamePCMSO.inic()}
<h:head>

	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Portal Empresa PCMSO</title>

	<meta
		content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
		name="viewport" />

	<h:outputStylesheet library="bootstrap/css" name="bootstrap.min.css" />

	<h:outputStylesheet library="css" name="font-awesome.min.css" />
	<h:outputStylesheet library="css" name="ionicons.min.css" />

	<h:outputStylesheet library="css" name="AdminLTE.min.css" />
	<h:outputStylesheet library="css/skins" name="skin-green.min.css" />

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	  <![endif]-->

	<style>
.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td {
	border-style: none;
}

.tblPrestador {
	width: 100px
}

.tblNome {
	width: 110px
}

.tblAFT {
	width: 50px
}

.tblProcedimento {
	width: 100px
}

.tblDescricao {
	width: 300px
}

.tblQuantidade {
	width: 60px
}

.tblValor {
	width: 80px
}

.tblBtnAdd {
	width: 40px
}

.ui-paginator-page {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}
/*Alinear a la derecha*/
</style>

</h:head>
<h:body class="skin-green sidebar-mini sidebar-collapse">
	<div class="wrapper">
		
		<topo:topo />

		<sidebar:sidebar />
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					Exames Saúde Ocupacional
				</h1>
				<ol class="breadcrumb">
					<li>
						<h:form>
							<h:commandLink styleClass="btn btn-link"  action="#{beanExamePCMSO.cancelar()}">
								<i class="fa fa-dashboard"></i> Listagem
								<f:ajax />
							</h:commandLink>
						</h:form>
					</li>
				</ol>

			</section>
			
			<!-- Main content -->
			<section class="content">

				<div class="container-fluid">
				<br />
				
		        <div class="col-xs-12 col-sm-12 col-md-12">
		            <div class="panel panel-default">
		                
		                <div class="panel-body">
		                	<h:panelGroup rendered="#{beanExamePCMSO.msgAoUsuario != null}">
		               			<h:form id="mensagem">
									<div class="row">
										<div class="alert alert-success alert-dismissible fade in"
											role="alert" align="center">
											<h:commandLink class="close" data-dismiss="alert" aria-label="Close" action="#{beanExamePCMSO.limpaMensagem()}">
												X
												<f:setPropertyActionListener target="#{beanExamePCMSO.msgAoUsuario}" value="null"></f:setPropertyActionListener>
											</h:commandLink>
											#{beanExamePCMSO.msgAoUsuario}
										</div>
									</div>	
								</h:form>
							</h:panelGroup>
							<div>
							
							<div>
								<h:form>
									<ul class="nav nav-tabs" role="tablist">
										<li role="presentation" class="active">
											<a href="#lista" aria-controls="dados" role="tab" data-toggle="tab">
									    		Listagem
									    	</a>
										</li>
										<li role="presentation" class="#{beanExamePCMSO.abaComplementares}">
											<a href="#relatorios" aria-controls="home" role="tab" data-toggle="tab">
									    		Relatórios
									    	</a>
										</li>
									</ul>
								</h:form>
							</div>
									
							  <!-- Tab panes -->
							  <div class="tab-content">
							  	<div role="tabpanel" class="tab-pane" id="relatorios">
							  		<br /><br /><br />
							  		<div class="row">
							  			<h:form>
							  				<div class="col-xs-1 col-sm-1 col-md-1"></div>
											<div class="col-xs-2 col-sm-2 col-md-2">
												<h:commandLink onclick="abreNovoExame()" styleClass="btn btn-default" style="width:100%" >
													<br /><span class="fa fa-print" style="margin-top: 3px; font-size:20px"></span> <br /><br />Gera um Novo Exame<br /><br />
													<f:ajax />
												</h:commandLink>			
											</div>
											<!-- Modal Novo Exame -->
											<div class="modal fade" id="ModalNovoExame" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
											  <div class="modal-dialog" role="document">
											    <div class="modal-content">
											      <div class="modal-header">
											        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
											        <h4 class="modal-title" id="myModalLabel">Gerar um Novo Exame</h4>
											      </div>
											      <div class="modal-body">
											        <div class="row">
											        	<div class="col-xs-12 col-sm-12 col-md-12">
											        		Tipo de Exame:
											        		<h:selectOneMenu styleClass="form-control" value="#{beanExamePCMSO.tpExameRel}" >
											        			<f:selectItem itemValue="A" itemLabel="Admissional"></f:selectItem>
											        			<f:selectItem itemValue="D" itemLabel="Demissional"></f:selectItem>
											        			<f:selectItem itemValue="P" itemLabel="Periódico"></f:selectItem>
											        			<f:selectItem itemValue="R" itemLabel="Retorno ao Trabalho"></f:selectItem>
											        			<f:selectItem itemValue="M" itemLabel="Troca de Função"></f:selectItem>
											        			<f:ajax />
											        		</h:selectOneMenu>
											        	</div>
											        </div>
											        <div class="row">
											        	<div class="col-xs-3 col-sm-3 col-md-3">
											        		Beneficiário:
											        		<div class="form-group">
														    <div class="input-group">
														      <h:inputText styleClass="form-control" value="#{beanExamePCMSO.cdBeneficiarioCartaoRel}" >
												              	<f:ajax render="nomeBenef" />
												              </h:inputText>
														      <div class="input-group-addon">
																<span class="fa fa-search" onclick="abrePesquisaBeneficiario()"></span>
															  </div>
														    </div>
														  </div>
											        	</div>
											        	<div class="col-xs-9 col-sm-9 col-md-9">
											        		<br />
											        		<h:panelGroup id="nomeBenef">
												        		<h:inputText styleClass="form-control" disabled="true" value="#{beanExamePCMSO.dsNomeBeneficiario}">
												        			<f:ajax />
												        		</h:inputText>
											        		</h:panelGroup>
											        	</div>
											        </div>
											        <div class="row">
											        	<div class="col-xs-3 col-sm-3 col-md-3">
											        		Médico:
											        		<div class="form-group">
														    <div class="input-group">
														      <h:inputText styleClass="form-control" value="#{beanExamePCMSO.cdMedicoRel}">
											        			<f:ajax render="nomeMedico" />
											        	      </h:inputText>
														      <div class="input-group-addon">
																<span class="fa fa-search" onclick="abrePesquisaMedico()"></span>
															  </div>
														    </div>
														  </div>
											        	</div>
											        	<div class="col-xs-9 col-sm-9 col-md-9">
											        		<br />
											        		<h:panelGroup id="nomeMedico">
												        		<h:inputText styleClass="form-control" disabled="true" value="#{beanExamePCMSO.dsNomeMedico}">
												        			<f:ajax />
												        		</h:inputText>
											        		</h:panelGroup>
											        	</div>
											        </div>
											        
											      </div>
											      <div class="modal-footer">
											        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
											        <h:commandLink action="#{beanExamePCMSO.processoNovoExame()}" styleClass="btn btn-default" >
											        	Emitir
											        	<f:ajax onevent="function carregando(event) {
											        		if( event.status == 'complete' ) {
											        			abreRelatorio();
											        		}
											        	}" />
											        </h:commandLink>
											      </div>
											    </div>
											  </div>
											</div>
											
											<!-- Modal PESQUISA BENEFICIARIO -->
											<div class="modal fade" id="ModalPesquisaBeneficiario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
											  <div class="modal-dialog" role="document">
											    <div class="modal-content">
											      <div class="modal-header">
											        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
											        <h4 class="modal-title" id="myModalLabel">Pesquisa Beneficiário</h4>
											      </div>
											      <div class="modal-body">
											        <div class="row">
											        	<div class="col-xs-3 col-sm-3 col-md-3">
											        		Beneficiário:
											        		<div class="form-group">
														    <div class="input-group">
														      <h:inputText styleClass="form-control">
												        			<f:ajax></f:ajax>
												        		</h:inputText>
														      <div class="input-group-addon">
																<span class="fa fa-search" onclick="abrePesquisaBeneficiario()"></span>
															  </div>
														    </div>
														  </div>
											        	</div>
											        	<div class="col-xs-9 col-sm-9 col-md-9">
											        		<br />
											        		<h:inputText styleClass="form-control">
											        			<f:ajax></f:ajax>
											        		</h:inputText>
											        	</div>
											        </div>
											        
											      </div>
											      <div class="modal-footer">
											        <a href="#" onclick="abreNovoExame()" type="button" class="btn btn-default" data-dismiss="modal">Cancelar</a>
											      </div>
											    </div>
											  </div>
											</div>
											
											<!-- Modal PESQUISA MÉDICO -->
											<div class="modal fade" id="ModalPesquisaMedico" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
											  <div class="modal-dialog" role="document">
											    <div class="modal-content">
											      <div class="modal-header">
											        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
											        <h4 class="modal-title" id="myModalLabel">Pesquisa Médico</h4>
											      </div>
											      <div class="modal-body">
											        <div class="row">
											        	<div class="col-xs-3 col-sm-3 col-md-3">
											        		Beneficiário:
											        		<div class="form-group">
														    <div class="input-group">
														      <h:inputText styleClass="form-control">
												        			<f:ajax></f:ajax>
												        		</h:inputText>
														      <div class="input-group-addon">
																<span class="fa fa-search" onclick="abrePesquisaBeneficiario()"></span>
															  </div>
														    </div>
														  </div>
											        	</div>
											        	<div class="col-xs-9 col-sm-9 col-md-9">
											        		<br />
											        		<h:inputText styleClass="form-control">
											        			<f:ajax></f:ajax>
											        		</h:inputText>
											        	</div>
											        </div>
											        
											      </div>
											      <div class="modal-footer">
											        <a href="#" onclick="abreNovoExame()" type="button" class="btn btn-default" data-dismiss="modal">Cancelar</a>
											      </div>
											    </div>
											  </div>
											</div>
											
											<div class="col-xs-2 col-sm-2 col-md-2">
												<h:commandLink onclick="abreEmissaoDeRenovacao()" styleClass="btn btn-default" style="width:100%">
													<br /><span class="fa fa-print" style="margin-top: 3px; font-size:20px"></span> <br /><br />Emissão de Renovação<br /><br />
													<f:ajax />
												</h:commandLink>			
											</div>
											
											<!-- Modal EMISSAO DE RENOVACAO -->
											<div class="modal fade" id="ModalEmissaoDeRenovacao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
											  <div class="modal-dialog" role="document">
											    <div class="modal-content">
											      <div class="modal-header">
											        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
											        <h4 class="modal-title" id="myModalLabel">Emissão de Renovação</h4>
											      </div>
											      <div class="modal-body">
											        <div class="row">
											        	<div class="col-xs-3 col-sm-3 col-md-3">
											        		Empresa:
											        		<div class="form-group">
														    <div class="input-group">
														      <h:inputText styleClass="form-control" value="#{beanExamePCMSO.cdEmpresaRel}">
												        			<f:ajax render="nomeEmpresa" />
												        		</h:inputText>
														      <div class="input-group-addon">
																<span class="fa fa-search" onclick="abrePesquisaBeneficiario()"></span>
															  </div>
														    </div>
														  </div>
											        	</div>
											        	<div class="col-xs-9 col-sm-9 col-md-9">
											        		<br />
											        		<h:panelGroup id="nomeEmpresa">
												        		<h:inputText styleClass="form-control" value="#{beanExamePCMSO.dsNomeEmpresa}">
												        			<f:ajax></f:ajax>
												        		</h:inputText>
											        		</h:panelGroup>
											        	</div>
											        </div>
											        <div class="row">
											        	<div class="col-xs-6 col-sm-6 col-md-6">
											        		Data Inicial:
											        		<h:inputText styleClass="form-control" value="#{beanExamePCMSO.dtInicial}">
											        			<f:ajax />
											        		</h:inputText>
											        	</div>
											        	<div class="col-xs-6 col-sm-6 col-md-6">
											        		Data Final:
											        		<h:inputText styleClass="form-control" value="#{beanExamePCMSO.dtFinal}">
											        			<f:ajax />
											        		</h:inputText>
											        	</div>
											        </div>
											        
											        <div class="row">
											        	<div class="col-xs-12 col-sm-12 col-md-12">
											        		Tipo de Exame:
											        		<h:selectOneMenu styleClass="form-control" value="#{beanExamePCMSO.tpExameRelRenovacao}" >
											        			<f:selectItem itemValue="M" itemLabel="Renovação Mensal"></f:selectItem>
											        			<f:selectItem itemValue="I" itemLabel="Renovação Após Amissão"></f:selectItem>
											        			<f:selectItem itemValue="S" itemLabel="Renovação Semestral"></f:selectItem>
											        			<f:ajax />
											        		</h:selectOneMenu>
											        	</div>
											        </div>
											        
											      </div>
											      <div class="modal-footer">
											        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
											        <h:commandLink action="#{beanExamePCMSO.processoRelatorioRenovacao()}" styleClass="btn btn-default" >
											        	Emitir
											        	<f:ajax onevent="function carregando(event) {
											        		if( event.status == 'complete' ) {
											        			abreRelatorio();
											        		}
											        	}" />
											        </h:commandLink>
											      </div>
											    </div>
											  </div>
											</div>
											
											
											<div class="col-xs-2 col-sm-2 col-md-2">
												<h:commandLink onclick="abreModalEmissaoExamePorEmpresa()" styleClass="btn btn-default" style="width:100%" title="Emissão de Exame por Empresas/Funcionário/Periodo">
													<br /><span class="fa fa-print" style="margin-top: 3px; font-size:20px"></span> <br /><br />Emissão de Exame<br /><br />
													<f:ajax />
												</h:commandLink>			
											</div>
											
											<!-- Modal EMISSAO EXAME POR EMPRESA -->
											<div class="modal fade" id="ModalEmissaoExamePorEmpresa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
											  <div class="modal-dialog" role="document">
											    <div class="modal-content">
											      <div class="modal-header">
											        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
											        <h4 class="modal-title" id="myModalLabel">Emissão de Exame por Empresas/Funcionário/Periodo</h4>
											      </div>
											      <div class="modal-body">
											        <div class="row">
											        	<div class="col-xs-3 col-sm-3 col-md-3">
											        		Empresa:
											        		<div class="form-group">
														    <div class="input-group">
														      <h:inputText styleClass="form-control" value="#{beanExamePCMSO.cdEmpresaRel}">
												        			<f:ajax render="nomeExameEmpresa" />
												        		</h:inputText>
														      <div class="input-group-addon">
																<span class="fa fa-search" onclick="abrePesquisaBeneficiario()"></span>
															  </div>
														    </div>
														  </div>
											        	</div>
											        	<div class="col-xs-9 col-sm-9 col-md-9">
											        		<br />
											        		<h:panelGroup id="nomeExameEmpresa">
												        		<h:inputText styleClass="form-control" value="#{beanExamePCMSO.dsNomeEmpresa}">
												        			<f:ajax></f:ajax>
												        		</h:inputText>
											        		</h:panelGroup>
											        	</div>
											        </div>
											        <div class="row">
											        	<div class="col-xs-3 col-sm-3 col-md-3">
											        		Lotação:
											        		<div class="form-group">
														    <div class="input-group">
														      <h:inputText styleClass="form-control" value="#{beanExamePCMSO.idLotacaoRelExame}">
												        			<f:ajax render="nomeLotacao" />
												        		</h:inputText>
														      <div class="input-group-addon">
																<span class="fa fa-search" onclick="abrePesquisaBeneficiario()"></span>
															  </div>
														    </div>
														  </div>
											        	</div>
											        	<div class="col-xs-9 col-sm-9 col-md-9">
											        		<br />
											        		<h:panelGroup id="nomeLotacao">
												        		<h:inputText styleClass="form-control" value="#{beanExamePCMSO.dsNomeLotacao}">
												        			<f:ajax></f:ajax>
												        		</h:inputText>
											        		</h:panelGroup>
											        	</div>
											        </div>
											        <div class="row">
											        	<div class="col-xs-6 col-sm-6 col-md-6">
											        		Data Inicial:
											        		<h:inputText styleClass="form-control" value="#{beanExamePCMSO.dtInicial}">
											        			<f:ajax />
											        		</h:inputText>
											        	</div>
											        	<div class="col-xs-6 col-sm-6 col-md-6">
											        		Data Final:
											        		<h:inputText styleClass="form-control" value="#{beanExamePCMSO.dtFinal}">
											        			<f:ajax />
											        		</h:inputText>
											        	</div>
											        </div>
											        
											      </div>
											      <div class="modal-footer">
											        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
											        <h:commandLink action="#{beanExamePCMSO.processoRelatorioExames()}" styleClass="btn btn-default" >
											        	Emitir
											        	<f:ajax onevent="function carregando(event) {
											        		if( event.status == 'complete' ) {
											        			abreRelatorio();
											        		}
											        	}" />
											        </h:commandLink>
											      </div>
											    </div>
											  </div>
											</div>
											
											<div class="col-xs-2 col-sm-2 col-md-2">
												<h:commandLink onclick="abreModalEmissaoExameAnual()" styleClass="btn btn-default" style="width:100%" title="Emissão de Planílha Anual">
													<br /><span class="fa fa-print" style="margin-top: 3px; font-size:20px"></span> <br /><br />Emissão de Planílha<br /><br />
													<f:ajax />
												</h:commandLink>			
											</div>
											
											<!-- Modal EMISSAO EXAME ANUAL -->
											<div class="modal fade" id="ModalEmissaoExameAnual" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
											  <div class="modal-dialog" role="document">
											    <div class="modal-content">
											      <div class="modal-header">
											        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
											        <h4 class="modal-title" id="myModalLabel">Emissão de Planílha Anual</h4>
											      </div>
											      <div class="modal-body">
											        <div class="row">
											        	<div class="col-xs-3 col-sm-3 col-md-3">
											        		Empresa:
											        		<div class="form-group">
														    <div class="input-group">
														      <h:inputText styleClass="form-control" value="#{beanExamePCMSO.cdEmpresaRel}">
												        			<f:ajax render="nomeExameEmpresaAnual" />
												        		</h:inputText>
														      <div class="input-group-addon">
																<span class="fa fa-search" onclick="abrePesquisaBeneficiario()"></span>
															  </div>
														    </div>
														  </div>
											        	</div>
											        	<div class="col-xs-9 col-sm-9 col-md-9">
											        		<br />
											        		<h:panelGroup id="nomeExameEmpresaAnual">
												        		<h:inputText styleClass="form-control" value="#{beanExamePCMSO.dsNomeEmpresa}">
												        			<f:ajax></f:ajax>
												        		</h:inputText>
											        		</h:panelGroup>
											        	</div>
											        </div>
											        
											        <div class="row">
											        	<div class="col-xs-6 col-sm-6 col-md-6">
											        		Data Inicial:
											        		<h:inputText styleClass="form-control" value="#{beanExamePCMSO.dtInicial}">
											        			<f:ajax />
											        		</h:inputText>
											        	</div>
											        	<div class="col-xs-6 col-sm-6 col-md-6">
											        		Data Final:
											        		<h:inputText styleClass="form-control" value="#{beanExamePCMSO.dtFinal}">
											        			<f:ajax />
											        		</h:inputText>
											        	</div>
											        </div>
											        <div class="row">
											        	<div class="col-xs-3 col-sm-3 col-md-3">
											        		Lotação Inicial:
											        		<div class="form-group">
														    <div class="input-group">
														      <h:inputText styleClass="form-control" value="#{beanExamePCMSO.idLotacaoRelExame}">
												        			<f:ajax render="nomeLotacaoInicial" />
												        		</h:inputText>
														      <div class="input-group-addon">
																<span class="fa fa-search" onclick="abrePesquisaBeneficiario()"></span>
															  </div>
														    </div>
														  </div>
											        	</div>
											        	<div class="col-xs-9 col-sm-9 col-md-9">
											        		<br />
											        		<h:panelGroup id="nomeLotacaoInicial">
												        		<h:inputText styleClass="form-control" value="#{beanExamePCMSO.dsNomeLotacao}">
												        			<f:ajax></f:ajax>
												        		</h:inputText>
											        		</h:panelGroup>
											        	</div>
											        </div>
											        
											         <div class="row">
											        	<div class="col-xs-3 col-sm-3 col-md-3">
											        		Lotação Final:
											        		<div class="form-group">
														    <div class="input-group">
														      <h:inputText styleClass="form-control" value="#{beanExamePCMSO.idLotacaoFinalRelExame}">
												        			<f:ajax render="nomeLotacaoFinal" />
												        		</h:inputText>
														      <div class="input-group-addon">
																<span class="fa fa-search" onclick="abrePesquisaBeneficiario()"></span>
															  </div>
														    </div>
														  </div>
											        	</div>
											        	<div class="col-xs-9 col-sm-9 col-md-9">
											        		<br />
											        		<h:panelGroup id="nomeLotacaoFinal">
												        		<h:inputText styleClass="form-control" value="#{beanExamePCMSO.dsNomeLotacaoFinal}">
												        			<f:ajax></f:ajax>
												        		</h:inputText>
											        		</h:panelGroup>
											        	</div>
											        </div>
											      </div>
											      
											      <div class="modal-footer">
											        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
											        <h:commandLink action="#{beanExamePCMSO.processoRelatorioAnualXls()}" styleClass="btn btn-default" >
											        	Emitir
											        	<f:ajax onevent="function carregando(event) {
											        		if( event.status == 'complete' ) {
											        			abreRelatorio();
											        		}
											        	}" />
											        </h:commandLink>
											      </div>
											    </div>
											  </div>
											</div>
											
											<div class="col-xs-2 col-sm-2 col-md-2">
												<h:commandLink onclick="abreModalAlteraMesExame()" styleClass="btn btn-default" style="width:100%" title="Emissão de Planílha Anual">
													<br /><span class="fa fa-random" style="margin-top: 3px; font-size:20px"></span> <br /><br />Alterar Mês do Exame<br /><br />
													<f:ajax />
												</h:commandLink>			
											</div>
											
											<!-- Modal EMISSAO EXAME ANUAL -->
											<div class="modal fade" id="ModalAlteraMesExame" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
											  <div class="modal-dialog" role="document">
											    <div class="modal-content">
											      <div class="modal-header">
											        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
											        <h4 class="modal-title" id="myModalLabel">Alterar mês do Exame</h4>
											      </div>
											      <div class="modal-body">
											        <div class="row">
											        	<div class="col-xs-3 col-sm-3 col-md-3">
											        		Empresa Inicial:
											        		<div class="form-group">
														    <div class="input-group">
														      <h:inputText styleClass="form-control" value="#{beanExamePCMSO.cdEmpresaRel}">
												        			<f:ajax render="nomeAlteraExame" />
												        		</h:inputText>
														    </div>
														  </div>
											        	</div>
											        	<div class="col-xs-9 col-sm-9 col-md-9">
											        		<br />
											        		<h:panelGroup id="nomeAlteraExame">
												        		<h:inputText disabled="true" styleClass="form-control" value="#{beanExamePCMSO.dsNomeEmpresa}">
												        			<f:ajax></f:ajax>
												        		</h:inputText>
											        		</h:panelGroup>
											        	</div>
											        </div>
											        
											        <div class="row">
											        	<div class="col-xs-3 col-sm-3 col-md-3">
											        		Empresa Final:
											        		<div class="form-group">
														    <div class="input-group">
														      <h:inputText styleClass="form-control" value="#{beanExamePCMSO.cdEmpresaFinalRel}">
												        			<f:ajax render="nomeAlteraExameFinal" />
												        		</h:inputText>
														    </div>
														  </div>
											        	</div>
											        	<div class="col-xs-9 col-sm-9 col-md-9">
											        		<br />
											        		<h:panelGroup id="nomeAlteraExameFinal">
												        		<h:inputText disabled="true" styleClass="form-control" value="#{beanExamePCMSO.dsNomeEmpresaFinal}">
												        			<f:ajax></f:ajax>
												        		</h:inputText>
											        		</h:panelGroup>
											        	</div>
											        </div>
											        
											        <div class="row">
											        	<div class="col-xs-3 col-sm-3 col-md-3">
											        		Procedimento Inicial:
											        		<div class="form-group">
														    <div class="input-group">
														      <h:inputText styleClass="form-control" value="#{beanExamePCMSO.cdProcedimento}">
												        			<f:ajax render="nomeProcedimento" />
												        		</h:inputText>
														    </div>
														  </div>
											        	</div>
											        	<div class="col-xs-9 col-sm-9 col-md-9">
											        		<br />
											        		<h:panelGroup id="nomeProcedimento">
												        		<h:inputText disabled="true" styleClass="form-control" value="#{beanExamePCMSO.dsProcedimento}">
												        			<f:ajax></f:ajax>
												        		</h:inputText>
											        		</h:panelGroup>
											        	</div>
											        </div>
											        
											        <div class="row">
											        	<div class="col-xs-3 col-sm-3 col-md-3">
											        		Procedimento Final:
											        		<div class="form-group">
														    <div class="input-group">
														      <h:inputText styleClass="form-control" value="#{beanExamePCMSO.cdProcedimentoFinal}">
											        			<f:ajax render="nomeProcedimentoFinal" />
											        		</h:inputText>
														    </div>
														  </div>
											        	</div>
											        	<div class="col-xs-9 col-sm-9 col-md-9">
											        		<br />
											        		<h:panelGroup id="nomeProcedimentoFinal">
												        		<h:inputText disabled="true" styleClass="form-control" value="#{beanExamePCMSO.dsProcedimentoFinal}">
												        			<f:ajax></f:ajax>
												        		</h:inputText>
											        		</h:panelGroup>
											        	</div>
											        </div>
											        
											        <div class="row">
											        	<div class="col-xs-6 col-sm-6 col-md-6">
											        		No mês do Exame:
											        		<h:inputText styleClass="form-control" value="#{beanExamePCMSO.novoMesExame}">
											        			<f:ajax />
											        		</h:inputText>
											        	</div>
											        </div>
											        <div class="row">
											        	<div class="col-xs-5 col-sm-5 col-md-5">
											        		Dias após hoje:
											        		<h:inputText styleClass="form-control" value="#{beanExamePCMSO.diasInicial}">
											        			<f:ajax />
											        		</h:inputText>
											        	</div>
											        	<div class="col-xs-5 col-sm-5 col-md-5">
											        		à
											        	</div>
											        	<div class="col-xs-5 col-sm-5 col-md-5">
											        		<br />
											        		<h:inputText styleClass="form-control" value="#{beanExamePCMSO.diasFinal}">
											        			<f:ajax />
											        		</h:inputText>
											        	</div>
										       	  </div>
										       	  </div>
											      
											      <div class="modal-footer">
											        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
											        <h:commandLink action="#{beanExamePCMSO.processoRelatorioAnualXls()}" styleClass="btn btn-default" >
											        	Emitir
											        	<f:ajax onevent="function carregando(event) {
											        		if( event.status == 'complete' ) {
											        			abreRelatorio();
											        		}
											        	}" />
											        </h:commandLink>
											      </div>
											    </div>
											  </div>
											</div>
										</h:form>
									</div>
							  		<br /><br /><br /><br /><br /><br />
							  		<br /><br /><br /><br /><br /><br />
							  		<br /><br /><br /><br /><br /><br />
							  		<br /><br /><br /><br /><br /><br />
							  		<br /><br /><br /><br /><br /><br />
							  	</div>
							  	<div role="tabpanel" class="tab-pane active" id="lista">
									<br />
									<h4 class="page-header">Listagem</h4>
									<h:form id="formBeneficiarioInativo">
										<div style="width: 98%; margin-top: -60px" align="right">
											<a class="btn btn-default" role="button" data-toggle="collapse" href="#filtroBeneficiarioInativo" aria-expanded="false" aria-controls="filtroBeneficiarioInativo">
											  <span class="fa fa-search" style="margin-top: 3px"></span> Pesquisar
											</a>
										</div>
										<div class="collapse" id="relatorios">
										
										</div>
										<div class="collapse" id="filtroBeneficiarioInativo">
											<br />
											<div class="row">
												<div class="col-xs-3 col-sm-3 col-md-3">
													Pesquisar por Cartão:
													<h:inputText styleClass="form-control" value="#{beanExamePCMSO.pesquisaCodigo}">
														<f:ajax />
													</h:inputText>
												</div>
												<div class="col-xs-3 col-sm-3 col-md-3">
													Pesquisar por Código Procedimento:
													<h:inputText styleClass="form-control" value="#{beanExamePCMSO.pesquisaDescricao}" >
														<f:ajax />
													</h:inputText>
												</div>
												<div class="col-xs-4 col-sm-2 col-md-2">
													<br />
													<h:commandLink style="height: 32px" styleClass="btn btn-success" action="#{beanExamePCMSO.pesquisar()}" >
														<span class="fa fa-search" style="margin-top: 3px"></span>
													</h:commandLink>
													<h:commandLink style="height: 32px" styleClass="btn btn-default" action="#{beanExamePCMSO.limpaFiltro()}"  >
														Limpar Filtro
													</h:commandLink>
												</div>
											</div>
										</div>
							
										
										<br />
										<div class="row">
		
											<div class="col-xs-12 col-sm-12 col-md-12">
												<div class="table-responsive">
													<p:dataTable
														value="#{beanExamePCMSO.listagem}" var="l"
														rows="25" paginator="true"
														paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
														rowsPerPageTemplate="25,50,100"
														tableStyleClass="table table-hover"
														style="font-size: 13px">
														
														
														<p:column headerText="Número" width="100"
															style="font-size: 13px;">
															#{l.nrExame}
														</p:column>
		
														<p:column headerText="Cartão" width="150"
															style="font-size: 13px;">
															#{l.cdBeneficiarioCartao}
														</p:column>
														
														<p:column headerText="Nome" width="350"
															style="font-size: 13px;">
															#{beanExamePCMSO.getNomeBenef(l)}
														</p:column>
														
														<p:column headerText="Tipo" width="100"
															style="font-size: 13px; text-align: center">
															#{l.tpExame.equals('A') ? 'Admissional' : ''}
															#{l.tpExame.equals('P') ? 'Periódico' : ''}
															#{l.tpExame.equals('R') ? 'Retorno ao Trabalho' : ''}
															#{l.tpExame.equals('M') ? 'Mudança de Função' : ''}
															#{l.tpExame.equals('D') ? 'Demissional' : ''}
															#{l.tpExame.equals('E') ? 'Referencial Periódico' : ''}
														</p:column>
														
														<p:column headerText="Procedimento" width="100"
															style="font-size: 13px;">
															#{l.cdProcedimento}
														</p:column>
														 
														<p:column headerText="Execução" width="80"
															style="font-size: 13px;">
															#{l.dtExecucaoExame}
														</p:column>
														
														<p:column headerText="" width="100" style="font-size: 13px; text-align: right">
															
															<h:commandLink title="Reemissão de Exame" styleClass="btn btn-link" style="margin-top: -5px; margin-bottom: -10px; margin-left: -15px;" action="#{beanExamePCMSO.geraRelatorio(l.nrExame)}">
																<span class="fa fa-print" style="font-size: 13px;"></span>
																<f:ajax onevent="function carregando(event) {
													        		if( event.status == 'complete' ) {
													        			abreRelatorio();
													        		}
													        	}" />
															</h:commandLink>
															<h:commandLink title="Editar Exame" styleClass="btn btn-link" style="margin-top: -5px; margin-bottom: -10px; margin-left: -15px;" action="#{beanExamePCMSO.seleciona(l)}">
																<span class="fa fa-pencil" style="font-size: 13px;"></span>
																<f:ajax />
															</h:commandLink>
															
														</p:column>
														
													</p:dataTable>
												</div>
		
											</div>
										</div>
									</h:form>
								
							 	 </div>
							  </div>
							
							</div>
							
		                </div>
		            </div>
		        </div>
		    </div>

			</section>
		</div>

		<baixo:baixoAdm />
		<sidebar:sidebarDireita />

	</div>
	<!-- ./wrapper -->

	<h:outputScript library="plugins/jQuery" name="jquery-2.2.3.min.js" />
	<h:outputScript library="bootstrap/js" name="bootstrap.min.js" />

	<h:outputScript library="js" name="app.min.js" />
	<h:outputScript library="js" name="jquery-2.1.0.min.js" />
	<h:outputScript library="js" name="jquery.maskedinput.js" />
	<h:outputScript library="js" name="bootstrap.min.js" />
	<h:outputScript library="js" name="mascaras.js" />
	<h:outputScript library="js" name="jquery.dtCalendario.js" />
	
	 <script>
	 
	 	function abreNovoExame() {
	 		$('#ModalNovoExame').modal('show');
	 		$('#ModalPesquisaBeneficiario').modal('hide');
	 		$('#ModalPesquisaMedico').modal('hide');
	 	}
	 	function abrePesquisaBeneficiario() {
// 	 		$('#ModalNovoExame').modal('hide');
// 	 		$('#ModalPesquisaBeneficiario').modal('show');
// 	 		$('#ModalPesquisaMedico').modal('hide');
	 	}
	 	function abrePesquisaMedico() {
// 	 		$('#ModalNovoExame').modal('hide');
// 	 		$('#ModalPesquisaBeneficiario').modal('hide');
// 	 		$('#ModalPesquisaMedico').modal('show');
	 	}
	 	
	 	function abreEmissaoDeRenovacao() {
	 		$('#ModalEmissaoDeRenovacao').modal('show');
	 	}
	 	
	 	function abreModalEmissaoExamePorEmpresa() {
	 		$('#ModalEmissaoExamePorEmpresa').modal('show');
	 	}
	 	
	 	function abreModalEmissaoExameAnual() {
	 		$('#ModalEmissaoExameAnual').modal('show');
	 	}
	 	
	 	function abreModalAlteraMesExame() {
	 		$('#ModalAlteraMesExame').modal('show');
	 	}
	 	
		 function delay(ms) {
	        var cur_d = new Date();
	        var cur_ticks = cur_d.getTime();
	        var ms_passed = 0;
	        while(ms > ms_passed) {
	            var d = new Date();  // Possible memory leak?
	            var ticks = d.getTime();
	            ms_passed = ticks - cur_ticks;
	            // d = null;  // Prevent memory leak?
	        }
	    }

	 	function abreRelatorio() {
	 		window.open('/PortalEmpresaPCMSO/relatorio.relatorioPdf', '_blank');
	 		
	 	}
	 	
	 	function vaiPara( prm ) {
	 		$('.' + prm ).focus();
	 	}
    	function adicionaItem() {
    		$('.btnNovoIem').click();
    		var height = $('html, body').height();

    		$('html, body').animate({scrollTop: height}, 'slow');
    	}
    	
    	var numeroGuia = $('.numeroGuia');
    	var modoCobranca = $('.modoCobranca');
    	var codUsuario = $('.codUsuario');
    	var nrAutorizacao = $('.nrAutorizacao');
    	var data = $('.dataAtendimento');
    	var tipoAtendimento = $('.tipoAtendimento');
    	var nomeBeneficiario = $('.nomeBeneficiario');
    	var dataAutorizacao = $('.dataAutorizacao');
    	
    	
    	if( numeroGuia.val() == '' ) {
    		numeroGuia.focus();
    	} else {
    		if( codUsuario.val() != '' ) {
    			if( nomeBeneficiario.val() == '' ) {
    				nomeBeneficiario.focus();
    			} else {
    				if( data.val() == '' ) {
    					data.focus();
    				} else {
   						if( nrAutorizacao.val() == '' ) {
   							tipoAtendimento.focus();
		    			} else { 
			    			if( dataAutorizacao.val() == '' ) {
			    				dataAutorizacao.focus();
			    			}
		    			}
    				}
    			}
    		} else {
    			modoCobranca.focus();	
    		}
    	}
    
    </script>

</h:body>
</html>