
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:topo="http://java.sun.com/jsf/composite/topo"
	xmlns:sidebar="http://java.sun.com/jsf/composite/sidebar"
	xmlns:baixo="http://java.sun.com/jsf/composite/baixo"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
	#{usuarioLogado.onLoad()}
	#{beanExamePCMSO.inic()}
<h:head>

	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Portal Empresa PCMSO</title>

	<meta
		content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
		name="viewport" />

	<h:outputStylesheet library="bootstrap/css" name="bootstrap.min.css" />

	<h:outputStylesheet library="css" name="font-awesome.min.css" />
	<h:outputStylesheet library="css" name="ionicons.min.css" />

	<h:outputStylesheet library="css" name="AdminLTE.min.css" />
	<h:outputStylesheet library="css/skins" name="skin-green.min.css" />

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	  <![endif]-->

	<style>
.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td {
	border-style: none;
}

.tblPrestador {
	width: 100px
}

.tblNome {
	width: 110px
}

.tblAFT {
	width: 50px
}

.tblProcedimento {
	width: 100px
}

.tblDescricao {
	width: 300px
}

.tblQuantidade {
	width: 60px
}

.tblValor {
	width: 80px
}

.tblBtnAdd {
	width: 40px
}

.ui-paginator-page {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}
/*Alinear a la derecha*/
</style>

</h:head>
<h:body class="skin-green sidebar-mini sidebar-collapse">
	<div class="wrapper">
		
		<topo:topo />

		<sidebar:sidebar />
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					Exame
				</h1>
				<ol class="breadcrumb">
					<li>
						<h:form>
							<h:commandLink styleClass="btn btn-link"  action="#{beanExamePCMSO.cancelar()}">
								<i class="fa fa-dashboard"></i> Dashboard
							</h:commandLink>
						</h:form>
					</li>
					<li>
						<h:form>
							<h:commandLink styleClass="btn btn-link"  action="#{beanExamePCMSO.cancelar()}">
								<i class="fa fa-list"></i> Listagem
							</h:commandLink>
						</h:form>
					</li>
				</ol>

			</section>

			<!-- Main content -->
			<section class="content">

				<div class="container-fluid">
				<br />
				
		        <div class="col-xs-12 col-sm-12 col-md-12">
		            <div class="panel panel-default">
		                
		                <div class="panel-body">
		                	<h:panelGroup rendered="#{beanExamePCMSO.msgAoUsuario != null}">
		               			<h:form id="mensagem">
									<div class="row">
										<div class="alert alert-success alert-dismissible fade in"
											role="alert" align="center">
											<h:commandLink class="close" data-dismiss="alert" aria-label="Close" action="#{beanExamePCMSO.limpaMensagem()}">
												X
												<f:setPropertyActionListener target="#{beanExamePCMSO.msgAoUsuario}" value="null"></f:setPropertyActionListener>
											</h:commandLink>
											#{beanExamePCMSO.msgAoUsuario}
										</div>
									</div>	
								</h:form>
							</h:panelGroup>
							<div>

							  <!-- Tab panes -->
							  <div class="tab-content">
									<br />
									<div>
										<h:form>
											<ul class="nav nav-tabs" role="tablist">
												<li role="presentation" class="#{beanExamePCMSO.abaDados}">
													<h:commandLink action="#{beanExamePCMSO.selecionaAbaDados()}" href="#dados" aria-controls="home" role="tab" data-toggle="tab">
											    		Dados
											    	</h:commandLink>
												</li>
												<li role="presentation" class="#{beanExamePCMSO.abaComplementares}">
													<h:commandLink action="#{beanExamePCMSO.selecionaAbaComplementares()}" href="#complementares" aria-controls="home" role="tab" data-toggle="tab">
											    		Complementares
											    	</h:commandLink>
												</li>
											</ul>
										</h:form>
									  	<div class="tab-content">
									  		<div role="tabpanel" class="tab-pane #{beanExamePCMSO.abaDados}" id="dados">
								
												<h:form prependId="false" id="form1">
													<div class="row">
														<div class="col-xs-3 col-md-3">
															Numero Exame:
															<h:inputText 
																requiredMessage="Campo obrigatório." styleClass="form-control"
																value="#{beanExamePCMSO.registroSelecionado.cdCbo}">
																<f:ajax />
															</h:inputText>
														</div>
														<div class="col-xs-3 col-md-3">
															Cartão Beneficiário:
															<h:inputText 
																requiredMessage="Campo obrigatório." styleClass="form-control"
																value="#{beanExamePCMSO.registroSelecionado.cdBeneficiarioCartao}">
																<f:ajax />
															</h:inputText>
														</div>
														<div class="col-xs-6 col-md-6">
															Nome:
															<h:inputText 
																requiredMessage="Campo obrigatório." styleClass="form-control" disabled="true"
																value="#{beanExamePCMSO.getNomeBenef(beanExamePCMSO.registroSelecionado)}">
																<f:ajax />
															</h:inputText>
														</div>
													</div>
													<div class="row">
														<div class="col-xs-3 col-md-3">
															Tipo de Exame:
															<h:inputText 
																requiredMessage="Campo obrigatório." styleClass="form-control"
																value="#{beanExamePCMSO.registroSelecionado.tpExame}">
																<f:ajax />
															</h:inputText>
														</div>
														<div class="col-xs-3 col-md-3">
															Data Emissão:
															<h:inputText 
																requiredMessage="Campo obrigatório." styleClass="form-control"
																value="#{beanExamePCMSO.registroSelecionado.dtEmissaoNota}">
																<f:ajax />
															</h:inputText>
														</div>
														<div class="col-xs-3 col-md-3">
															Data do Exame:
															<h:inputText 
																requiredMessage="Campo obrigatório." styleClass="form-control"
																value="#{beanExamePCMSO.registroSelecionado.dtExecucaoExame}">
																<f:ajax />
															</h:inputText>
														</div>
													</div>
													<div class="row">
														<div class="col-xs-3 col-md-3">
															Médico Examinador:
															<h:inputText disabled="true" 
																requiredMessage="Campo obrigatório." styleClass="form-control"
																value="#{beanExamePCMSO.registroSelecionado.cdMedicoExaminador}">
																<f:ajax />
															</h:inputText>
														</div>
														<div class="col-xs-9 col-md-9">
															Nome
															<h:inputText  disabled="true"
																requiredMessage="Campo obrigatório." styleClass="form-control"
																value="#{beanExamePCMSO.getNomeExaminador(beanExamePCMSO.registroSelecionado)}"
																>
																<f:ajax />
															</h:inputText>
														</div>
													</div>
													
													<br />
													<br />
													<div class="row">
														<div class="col-xs-12 col-sm-12 col-md-12" align="center">
															<h:commandLink styleClass="btn btn-default" action="#{beanExamePCMSO.cancelar()}" value="Cancelar">
																<f:ajax />
															</h:commandLink>
															<h:commandLink styleClass="btn btn-success" style="margin-left: 10px" action="#{beanExamePCMSO.salvar()}" value="Salvar">
																<f:ajax />
															</h:commandLink>
														</div>
													</div>
													
												</h:form>
											</div>
											<div role="tabpanel" class="tab-pane #{beanExamePCMSO.abaComplementares}" id="complementares">
												<div class="row">
													<div class="col-xs-3 col-md-3">
														Número Exame:
														<h:inputText disabled="true"
															requiredMessage="Campo obrigatório." styleClass="form-control"
															value="#{beanExamePCMSO.registroSelecionado.cdCbo}">
															<f:ajax />
														</h:inputText>
													</div>
													<div class="col-xs-3 col-md-3">
														Cartão Beneficiário:
														<h:inputText  disabled="true"
															requiredMessage="Campo obrigatório." styleClass="form-control"
															value="#{beanExamePCMSO.registroSelecionado.cdBeneficiarioCartao}">
															<f:ajax />
														</h:inputText>
													</div>
													<div class="col-xs-6 col-md-6">
														Nome:
														<h:inputText 
															requiredMessage="Campo obrigatório." styleClass="form-control" disabled="true"
															value="#{beanExamePCMSO.getNomeBenef(beanExamePCMSO.registroSelecionado)}">
															<f:ajax />
														</h:inputText>
													</div>
												</div>
												<br />
												<br />
												<div class="row">
												
													<h:form>
														<ul class="nav nav-tabs" role="tablist">
															<li role="presentation" class="#{beanExamePCMSO.abaExamesComplementares}">
																<h:commandLink action="#{beanExamePCMSO.selecionaAbaExamesComplementares()}" href="#listagem" aria-controls="home" role="tab" data-toggle="tab">
														    		Exames Complementares
														    	</h:commandLink>
															</li>
															<li role="presentation" class="#{beanExamePCMSO.abaDadosComplementares}">
																<h:commandLink action="#{beanExamePCMSO.selecionaAbaDadosExamesComplementares()}" href="#dadosComplementares" aria-controls="home" role="tab" data-toggle="tab">
														    		Dados
														    	</h:commandLink>
														    </li>
														</ul>
													</h:form>
												  	<div class="tab-content">
												  		<br />
												  		<br />
												  		<div role="tabpanel" class="container tab-pane #{beanExamePCMSO.abaExamesComplementares}" id="listagem">
															<h:form id="formBeneficiarioInativo">
																<div class="collapse" id="filtroBeneficiarioInativo">
																	<br />
																	<div class="row">
																		<div class="col-xs-3 col-sm-3 col-md-3">
																			Pesquisar por Cartão: 
																			<h:inputText styleClass="form-control" value="#{beanExamePCMSO.pesquisaCodigo}">
																				<f:ajax />
																			</h:inputText>
																		</div>
																		<div class="col-xs-3 col-sm-3 col-md-3">
																			Pesquisar por Nome:
																			<h:inputText styleClass="form-control" value="#{beanExamePCMSO.pesquisaDescricao}" >
																				<f:ajax />
																			</h:inputText>
																		</div>
																		<div class="col-xs-4 col-sm-2 col-md-2">
																			<br />
																			<h:commandLink style="height: 32px" styleClass="btn btn-success" action="#{beanExamePCMSO.pesquisar()}" >
																				<span class="fa fa-search" style="margin-top: 3px"></span>
																			</h:commandLink>
																			<h:commandLink style="height: 32px" styleClass="btn btn-default" action="#{beanExamePCMSO.limpaFiltro()}"  >
																				Limpar Filtro
																			</h:commandLink>
																		</div>
																	</div>
																</div>
													
																
																<br />
																<div class="row">
								
																	<div class="col-xs-12 col-sm-12 col-md-12">
																		<div class="table-responsive">
																			<p:dataTable
																				value="#{beanExamePCMSO.listagemExameComplementar}" var="l"
																				rows="25" paginator="true"
																				paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
																				rowsPerPageTemplate="25,50,100"
																				tableStyleClass="table table-hover"
																				style="font-size: 13px">
																				
																				
																				<p:column headerText="Sequência" width="100"
																					style="font-size: 13px;">
																					#{l.sqExame}
																				</p:column>
								
																				<p:column headerText="Procedimento" width="150"
																					style="font-size: 13px;">
																					#{l.cdProcedimento}
																				</p:column>
																				
																				<p:column headerText="Data do Exame" width="350"
																					style="font-size: 13px;">
																					#{l.dtExameComplementar}
																				</p:column>
																				
																				<p:column headerText="Resultado" width="350"
																					style="font-size: 13px;">
																					#{l.tpResultado}
																				</p:column>
																				
																				<p:column headerText="" width="100" style="font-size: 13px; text-align: right">
																					<h:commandLink title="Editar Exame" styleClass="btn btn-link" style="margin-top: -5px; margin-bottom: -10px; margin-left: -15px;" action="#{beanExamePCMSO.selecionaExameComplementar(l)}">
																						<span class="fa fa-pencil" style="font-size: 13px;"></span>
																					</h:commandLink>
																				</p:column>
																				
																			</p:dataTable>
																		</div>
								
																	</div>
																</div>
															</h:form>
														</div>
														<div role="tabpanel" class="tab-pane #{beanExamePCMSO.abaDadosComplementares}" id="dadosComplementares">
															<div class="container">
																<br />
																<div class="row">
																	<div class="col-xs-3 col-md-3">
																		Sequência:
																		<h:inputText 
																			requiredMessage="Campo obrigatório." styleClass="form-control"
																			value="#{beanExamePCMSO.exameComplementarSelecionado.sqExame}">
																			<f:ajax />
																		</h:inputText>
																	</div>
																	<div class="col-xs-3 col-md-3">
																		Procedimento:
																		<h:inputText 
																			requiredMessage="Campo obrigatório." styleClass="form-control"
																			value="#{beanExamePCMSO.exameComplementarSelecionado.cdProcedimento}">
																			<f:ajax />
																		</h:inputText>
																	</div>
																	<div class="col-xs-6 col-md-6">
																		Nome:
																		<h:inputText disabled="true"
																			requiredMessage="Campo obrigatório." styleClass="form-control"
																			value="#{beanExamePCMSO.getNomeProcedimento( beanExamePCMSO.exameComplementarSelecionado.cdProcedimento )}">
																			<f:ajax />
																		</h:inputText>
																	</div>
																</div>
																<div class="row">
																	<div class="col-xs-3 col-md-3">
																		Data Exame:
																		<h:inputText 
																			requiredMessage="Campo obrigatório." styleClass="form-control"
																			value="#{beanExamePCMSO.exameComplementarSelecionado.dtExameComplementar}">
																			<f:ajax />
																		</h:inputText>
																	</div>
																	<div class="col-xs-3 col-md-3">
																		Resultado:
																		<h:inputText 
																			requiredMessage="Campo obrigatório." styleClass="form-control"
																			value="#{beanExamePCMSO.exameComplementarSelecionado.tpResultado}">
																			<f:ajax />
																		</h:inputText>
																	</div>
																</div>
																<div class="row">
																	<div class="col-xs-12 col-md-12">
																		Descrição do Resultado:
																		<h:inputTextarea styleClass="form-control" value="#{beanExamePCMSO.exameComplementarSelecionado.dsResultado}">
																			<f:ajax />
																		</h:inputTextarea>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								
							  </div>
							
							</div>
							
		                </div>
		            </div>
		        </div>
		    </div>

			</section>
		</div>
		
		<baixo:baixoAdm />
		<sidebar:sidebarDireita />

	</div>
	<!-- ./wrapper -->

	<h:outputScript library="plugins/jQuery" name="jquery-2.2.3.min.js" />
	<h:outputScript library="bootstrap/js" name="bootstrap.min.js" />

	<h:outputScript library="js" name="app.min.js" />
	<h:outputScript library="js" name="jquery-2.1.0.min.js" />
	<h:outputScript library="js" name="jquery.maskedinput.js" />
	<h:outputScript library="js" name="bootstrap.min.js" />
	<h:outputScript library="js" name="mascaras.js" />
	<h:outputScript library="js" name="jquery.dtCalendario.js" />
	
	 <script>
	 
	 	function vaiPara( prm ) {
	 		$('.' + prm ).focus();
	 	}
    	function adicionaItem() {
    		$('.btnNovoIem').click();
    		var height = $('html, body').height();

    		$('html, body').animate({scrollTop: height}, 'slow');
    	}
    	
    	var numeroGuia = $('.numeroGuia');
    	var modoCobranca = $('.modoCobranca');
    	var codUsuario = $('.codUsuario');
    	var nrAutorizacao = $('.nrAutorizacao');
    	var data = $('.dataAtendimento');
    	var tipoAtendimento = $('.tipoAtendimento');
    	var nomeBeneficiario = $('.nomeBeneficiario');
    	var dataAutorizacao = $('.dataAutorizacao');
    	
    	
    	if( numeroGuia.val() == '' ) {
    		numeroGuia.focus();
    	} else {
    		if( codUsuario.val() != '' ) {
    			if( nomeBeneficiario.val() == '' ) {
    				nomeBeneficiario.focus();
    			} else {
    				if( data.val() == '' ) {
    					data.focus();
    				} else {
   						if( nrAutorizacao.val() == '' ) {
   							tipoAtendimento.focus();
		    			} else { 
			    			if( dataAutorizacao.val() == '' ) {
			    				dataAutorizacao.focus();
			    			}
		    			}
    				}
    			}
    		} else {
    			modoCobranca.focus();	
    		}
    	}
    
    </script>

</h:body>
</html>