<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core" 
	xmlns:baixo="http://java.sun.com/jsf/composite/baixo"
    xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    
<h:head>
	<title>Portal Empresa PCMSO - Unimed Alto Uruguai</title>
	<meta charset="utf-8" />

	<meta name="viewport"
		content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<h:outputStylesheet library="bootstrap/css" name="bootstrap.min.css" />
	<h:outputStylesheet library="css" name="style.css" />
	
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</h:head>
<h:body styleClass="top">
	<div class="container-fluid">
			<br />
			<br />
			<br />
			<br />
			<div style="width: 100%" align="center">
				<h:graphicImage library="imgs" name="LogoUnimed.png"  />
				<br />
				<br />
				<br />
				<span class="titulo-Book verdeClaro" style="margin-left: 25px; margin-top: 20px; font-size: 25px">Portal Empresa <strong class="titulo-negrito">PCMSO</strong></span>
			</div>

			<div class="col-md-4 col-md-offset-4" style="position: absolute; margin-top: 30px;" align="center">
				<div class="col-md-9" style="margin-left: 10%">
					<div class="">
			          <div class=""  style="margin: 5px 5px 5px 5px">
			            <div class="form-group"  style="margin: 10px 10px 10px 10px">
						    <h:form>
							    <h1 class="laranja titulo-Book" style="font-size: 26px">Sua senha foi alterada.</h1>
								<p class="titulo-Book" style="font-size: 14px">Faça seu login utilizando a nova senha	</p><br />
								<div class="form-group">
								  	<h:inputText value="#{controleLogin.nomeUsuario}" styleClass="form-control" placeholder="Usuário" p:placeholder="Usuário"/>
								</div>
								<div class="form-group">
									<h:inputSecret value="#{controleLogin.senhaUsuario}" styleClass="form-control" placeholder="Senha" p:placeholder="Senha"/>
									<h:panelGroup style="color: red; font-size: 12px; margin-left: 3px">
				                        <ui:fragment rendered="#{controleLogin.erroLogin}">
				                           #{controleLogin.msgErro}
				                        </ui:fragment>
			                        </h:panelGroup>
								</div>
							   <h:commandButton value="Entrar" action="#{controleLogin.testaLogin}" styleClass="btn btn-default titulo-Book verdeEscuro" style="width: 100%; font-size: 16px"/>
			                </h:form>				
						</div>
					  </div>
					</div>
				</div>
			</div>
		</div>
		<baixo:baixoLogin />
		
	<BR/>
	<BR/>
	<BR/>
	
	
	<h:outputScript library="js" name="jquery-2.1.0.min.js" />
	<h:outputScript library="bootstrap/js" name="bootstrap.min.js" />
	<h:outputScript library="js" name="funcoes.js" />
	
	</h:body>
	
</html>