
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:topo="http://java.sun.com/jsf/composite/topo"
	xmlns:sidebar="http://java.sun.com/jsf/composite/sidebar"
	xmlns:baixo="http://java.sun.com/jsf/composite/baixo"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
	#{usuarioLogado.onLoad()}
<h:head>

	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Portal Empresa PCMSO</title>

	<meta
		content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
		name="viewport" />

	<h:outputStylesheet library="bootstrap/css" name="bootstrap.min.css" />

	<h:outputStylesheet library="css" name="font-awesome.min.css" />
	<h:outputStylesheet library="css" name="ionicons.min.css" />

	<h:outputStylesheet library="css" name="AdminLTE.min.css" />
	<h:outputStylesheet library="css/skins" name="skin-green.min.css" />

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	  <![endif]-->

	<style>
.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td {
	border-style: none;
}

.tblPrestador {
	width: 100px
}

.tblNome {
	width: 110px
}

.tblAFT {
	width: 50px
}

.tblProcedimento {
	width: 100px
}

.tblDescricao {
	width: 300px
}

.tblQuantidade {
	width: 60px
}

.tblValor {
	width: 80px
}

.tblBtnAdd {
	width: 40px
}

.ui-paginator-page {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}
/*Alinear a la derecha*/
</style>

</h:head>
<h:body class="skin-green sidebar-mini sidebar-collapse">
	<div class="wrapper">
		
		<topo:topo />
		#{beanEnvioRSData.inic()}
		<sidebar:sidebar />
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					Listagem de Envios
				</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Listagem de Envios</a></li>
				</ol>

			</section>

			<!-- Main content -->
			<section class="content">

				<div class="container-fluid">
				<br />
				
		        <div class="col-xs-12 col-sm-12 col-md-12">
		            <div class="panel panel-default">
		                
		                <div class="panel-body">
		                	<h:panelGroup rendered="#{beanEnvioRSData.msgAoUsuario != null}">
		               			<h:form id="mensagem">
									<div class="row">
										<div class="alert alert-success alert-dismissible fade in"
											role="alert" align="center">
											<h:commandLink class="close" data-dismiss="alert" aria-label="Close" action="#{beanEnvioRSData.limpaMensagem()}">
												X
												<f:setPropertyActionListener target="#{beanEnvioRSData.msgAoUsuario}" value="null"></f:setPropertyActionListener>
											</h:commandLink>
											#{beanEnvioRSData.msgAoUsuario}
										</div>
									</div>	
								</h:form>
							</h:panelGroup>
							
							 <!-- Tab panes -->
							  <div class="tab-content">
							  
							  
							  	<div role="tabpanel" class="tab-pane active" id="lista">
							  		<br /><br /><br />
									<h:form id="formBenef">
										<div class="row">
											<div class="col-xs-12 col-sm-3 col-md-3">
												Ordenação:
												<h:selectOneMenu styleClass="form-control" value="#{beanEnvioRSData.ordenarPor}">
														<f:selectItem itemLabel="Por Data Envio" itemValue="order by dt_envio_rsdata desc" ></f:selectItem>
														<f:selectItem itemLabel="Por Código Erro" itemValue="order by cd_msg_retorno desc" ></f:selectItem>
														<f:ajax />
												</h:selectOneMenu>
											</div>
										</div>
										<div class="row" align="right">
											<div class="col-xs-12 col-sm-12 col-md-12">
												<br />
												<h:commandLink styleClass="btn btn-success" action="#{beanEnvioRSData.executaPesquisa()}">
													Pesquisar
												</h:commandLink>
											</div>
										</div>
										<br />
										<br />
										<div class="row">
		
											<div class="col-xs-12 col-sm-12 col-md-12">
												<div class="table-responsive">
													<p:dataTable
														value="#{beanEnvioRSData.listagemPreCadastro}" var="l"
														rows="25" paginator="true"
														paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
														rowsPerPageTemplate="25,50,100"
														tableStyleClass="table table-hover"
														style="font-size: 13px">
														
														<p:column headerText="Cartão" width="150"
															style="font-size: 13px; #{l.cdMsgRetorno.equals('500') ? 'color: red' : ''}">
															#{l.beneficiarioCbo.cdBeneficiarioCartao}
															<!-- Modal -->
														</p:column>
														<p:column headerText="Nome"
															style="font-size: 13px; #{l.cdMsgRetorno.equals('500') ? 'color: red' : ''}">
															#{l.beneficiarioCbo.dsNome}
														</p:column>
														
														<p:column headerText="Data Inclusão" width="150"
															style="font-size: 13px; text-align: center; #{l.cdMsgRetorno.equals('500') ? 'color: red' : ''}">
															#{l.beneficiarioCbo.dtInclusao}
														</p:column>
		
														<p:column headerText="Data Exclusão" width="150"
															style="font-size: 13px; text-align: center; #{l.cdMsgRetorno.equals('500') ? 'color: red' : ''}">
															#{l.beneficiarioCbo.dtExclusao}
														</p:column>
														
														<p:column headerText="Data Envio" width="150"
															style="font-size: 13px; text-align: center; #{l.cdMsgRetorno.equals('500') ? 'color: red' : ''}">
															#{l.dtEnvioRsdata != null ? l.dtEnvioRsdata.dataEHora() : ''}
														</p:column>
														
														<p:column headerText="Cod Retorno" width="150"
															style="font-size: 13px; #{l.cdMsgRetorno.equals('500') ? 'color: red' : ''}">
															#{l.cdMsgRetorno}
														</p:column>
														
														<p:column headerText="Msg Retorno" width="150"
															style="font-size: 13px; #{l.cdMsgRetorno.equals('500') ? 'color: red' : ''}">
															#{l.dsTxtRetorno}
														</p:column>
														
														<p:column headerText="Reenviar" width="150"
															style="font-size: 13px; text-align: center;">
															
															
															<!-- Modal benefPorLotacao -->
															<div class="modal fade" id="benef_#{l.beneficiarioCbo.cdBeneficiarioCartao}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
															  <div class="modal-dialog" role="document" style="width: 90%">
															    <div class="modal-content">
															      <div class="modal-header">
															        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
															        <h4 class="modal-title" id="myModalLabel">Transação Enviada RSData</h4>
															      </div>
															      <div class="modal-body">
															      	<h:outputText value="#{l.trnEnvioRsdata}" />
															      </div>
															    </div>
															  </div>
															</div>
															
															
															
															<h:commandLink action="#{beanEnvioRSData.reenviarTransacao(l)}">
																<span class="fa fa-refresh" style="#{l.cdMsgRetorno.equals('500') ? 'color: red' : ''}" />
															</h:commandLink>
															
															<span class="fa fa-eye" style="cursor:pointer; margin-left: 10px" onclick="vistualizaTransacao( '#{l.beneficiarioCbo.cdBeneficiarioCartao}' )"  title="Visualizar Transação"></span>
															
														</p:column>
														
														
														
													</p:dataTable>
												</div>
		
											</div>
										</div>
									</h:form>
								</div>
							
							</div>
							
						  </div>
						
						</div>
						
	                </div>
	            </div>

			</section>
		</div>
		
		<script>
			function vistualizaTransacao( prm ) {
		 		$('#benef_' + prm ).modal('show');
		 	}
		
		</script>

		<baixo:baixoAdm />
		<sidebar:sidebarDireita />

	</div>
	<!-- ./wrapper -->

	<h:outputScript library="plugins/jQuery" name="jquery-2.2.3.min.js" />
	<h:outputScript library="bootstrap/js" name="bootstrap.min.js" />

	<h:outputScript library="js" name="app.min.js" />
	<h:outputScript library="js" name="jquery-2.1.0.min.js" />
	<h:outputScript library="js" name="jquery.maskedinput.js" />
	<h:outputScript library="js" name="bootstrap.min.js" />
	<h:outputScript library="js" name="mascaras.js" />
	<h:outputScript library="js" name="jquery.dtCalendario.js" />
	
	 <script>
	 
	 	function abreRelatorio() {
	 		window.open('/PortalEmpresaPCMSO/relatorio.relatorioPdf', '_blank');
	 	}	
	 
	 	function abreBenefPorData() {
	 		$('#benefPorData').modal('show');
	 	}
	 	
	 	function abreBenefPorLotacao() {
	 		$('#benefPorLotacao').modal('show');
	 	}
	 	
	 	function abreBenefPorMovimento() {
	 		$('#benefPorMovimento').modal('show');
	 	}
	 
	 	function vaiPara( prm ) {
	 		$('.' + prm ).focus();
	 	}
    	function adicionaItem() {
    		$('.btnNovoIem').click();
    		var height = $('html, body').height();

    		$('html, body').animate({scrollTop: height}, 'slow');
    	}
    	
    	var numeroGuia = $('.numeroGuia');
    	var modoCobranca = $('.modoCobranca');
    	var codUsuario = $('.codUsuario');
    	var nrAutorizacao = $('.nrAutorizacao');
    	var data = $('.dataAtendimento');
    	var tipoAtendimento = $('.tipoAtendimento');
    	var nomeBeneficiario = $('.nomeBeneficiario');
    	var dataAutorizacao = $('.dataAutorizacao');
    	
    	
    	if( numeroGuia.val() == '' ) {
    		numeroGuia.focus();
    	} else {
    		if( codUsuario.val() != '' ) {
    			if( nomeBeneficiario.val() == '' ) {
    				nomeBeneficiario.focus();
    			} else {
    				if( data.val() == '' ) {
    					data.focus();
    				} else {
   						if( nrAutorizacao.val() == '' ) {
   							tipoAtendimento.focus();
		    			} else { 
			    			if( dataAutorizacao.val() == '' ) {
			    				dataAutorizacao.focus();
			    			}
		    			}
    				}
    			}
    		} else {
    			modoCobranca.focus();	
    		}
    	}
    
    </script>

</h:body>
</html>