<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:composite="http://java.sun.com/jsf/composite">
<h:head></h:head>
	<h:body>
		<composite:interface />
		<composite:implementation>
			<div class="modal" tabindex="-1" style="vertical-align: middle;" role="dialog" id="carregando" aria-labelledby="carregando" aria-hidden="true" data-backdrop="static">
				<div class="modal-dialog modal-lg" style="margin-top: 15%;background-color: transparent;" align="center">
					<div class="modal-content" style="width: 100px;">
						<h:graphicImage library="imgs" height="40px" name="carregando.gif" style="margin: 35px;"/>
					</div>
				</div>
			</div>
			
			<div class="modal" tabindex="-1" style="vertical-align: middle;" role="dialog" id="enviando" aria-labelledby="enviando" aria-hidden="true" data-backdrop="static">
				<div class="modal-dialog modal-lg" style="margin-top: 15%;" align="center">
					<div class="modal-content" style="width: 100px;">
						<h:outputText value="&#160;"/>
						<h:graphicImage library="imgs" height="40px" name="carregando.gif" style="margin: 35px;"/>
						<br />
						<h:outputText value="Enviando Transação..." />
						<br />
						<h:outputText value="&#160;"/>
					</div>
				</div>
			</div>
		</composite:implementation>
	</h:body>
</html>