
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:topo="http://java.sun.com/jsf/composite/topo"
	xmlns:sidebar="http://java.sun.com/jsf/composite/sidebar"
	xmlns:baixo="http://java.sun.com/jsf/composite/baixo"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
	#{usuarioLogado.onLoad()}
	#{beanSolicitacaoPCMSO.inic()}
<h:head>

	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Portal Empresa PCMSO</title>

	<meta
		content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
		name="viewport" />

	<h:outputStylesheet library="bootstrap/css" name="bootstrap.min.css" />

	<h:outputStylesheet library="css" name="font-awesome.min.css" />
	<h:outputStylesheet library="css" name="ionicons.min.css" />

	<h:outputStylesheet library="css" name="AdminLTE.min.css" />
	<h:outputStylesheet library="css/skins" name="skin-green.min.css" />

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	  <![endif]-->

	<style>
.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td {
	border-style: none;
}

.tblPrestador {
	width: 100px
}

.tblNome {
	width: 110px
}

.tblAFT {
	width: 50px
}

.tblProcedimento {
	width: 100px
}

.tblDescricao {
	width: 300px
}

.tblQuantidade {
	width: 60px
}

.tblValor {
	width: 80px
}

.tblBtnAdd {
	width: 40px
}

.ui-paginator-page {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}
/*Alinear a la derecha*/
</style>

</h:head>
<h:body class="skin-green sidebar-mini sidebar-collapse">
	<div class="wrapper">
		
		<topo:topo />

		<sidebar:sidebar />
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					Solicitações PCMSO
				</h1>
				<ol class="breadcrumb">
					<li>
						<h:form>
							<h:commandLink styleClass="btn btn-link"  action="#{beanCargoPCMSO.cancelar()}">
								<i class="fa fa-dashboard"></i> Listagem
								<f:ajax />
							</h:commandLink>
						</h:form>
					</li>
				</ol>

			</section>
			
			<!-- Main content -->
			<section class="content">

				<div class="container-fluid">
				<br />
				
		        <div class="col-xs-12 col-sm-12 col-md-12">
		            <div class="panel panel-default">
		                
		                <div class="panel-body">
		                	<h:panelGroup rendered="#{beanSolicitacaoPCMSO.msgAoUsuario != null}">
		               			<h:form id="mensagem">
									<div class="row">
										<div class="alert alert-success alert-dismissible fade in"
											role="alert" align="center">
											<h:commandLink class="close" data-dismiss="alert" aria-label="Close" action="#{beanSolicitacaoPCMSO.limpaMensagem()}">
												X
												<f:setPropertyActionListener target="#{beanSolicitacaoPCMSO.msgAoUsuario}" value="null"></f:setPropertyActionListener>
											</h:commandLink>
											#{beanSolicitacaoPCMSO.msgAoUsuario}
										</div>
									</div>	
								</h:form>
							</h:panelGroup>
							<div>
							
							  <!-- Tab panes -->
							  <div class="tab-content">
								<h:form id="formBeneficiarioInativo">
									<ul class="nav nav-tabs" role="tablist">
									    <li role="presentation" class="#{beanSolicitacaoPCMSO.abaPendencia}">
									    	<h:commandLink action="#{beanSolicitacaoPCMSO.selecionaPendencias()}" href="#pendencia" aria-controls="home" role="tab" data-toggle="tab">
									    		Pendências
									    	</h:commandLink>
									    </li>
									    
									    <li role="presentation" class="#{beanSolicitacaoPCMSO.abaConfirmada}">
									    	<h:commandLink action="#{beanSolicitacaoPCMSO.selecionaConfirmadas()}" href="#confirmada" aria-controls="profile" role="tab" data-toggle="tab">
									    		Solicitações Confirmadas
									    	</h:commandLink>
									    </li>
									  </ul>
									  
									  <div class="tab-content">
									    <div role="tabpanel"  class="tab-pane #{beanSolicitacaoPCMSO.abaPendencia}" id="pendencia">
									    	<br />
									    	<div class="row" align="right">
									    		<div class="col-xs-12 col-sm-12 col-md-12">
										    		<h:commandLink action="#{beanSolicitacaoPCMSO.processoRelatorioPendencias()}" styleClass="btn btn-default tpData maskData" >
											        	Relatório de Pendências
											        	<f:ajax onevent="function carregando(event) {
											        		if( event.status == 'complete' ) {
											        			abreRelatorio();
											        		}
											        	}" />
											        </h:commandLink>
											     </div>
									    	</div>
									    	<br />
									    	<div class="row">
									    		<div class="col-xs-12 col-sm-2 col-md-2">
									    			Cartão:
									    			<h:inputText value="#{beanSolicitacaoPCMSO.filtroCartao}" styleClass="form-control">
									    				<f:ajax />
									    			</h:inputText>
									    		</div>
									    		<div class="col-xs-12 col-sm-2 col-md-2">
									    			Código da Empresa:
									    			<h:inputText value="#{beanSolicitacaoPCMSO.filtroEmpresa}" styleClass="form-control">
									    				<f:ajax />
									    			</h:inputText>
									    		</div>
									    		<div class="col-xs-12 col-sm-3 col-md-3">
									    			Beneficiário:
									    			<h:inputText value="#{beanSolicitacaoPCMSO.filtroNome}" styleClass="form-control">
									    				<f:ajax />
									    			</h:inputText>
									    		</div>
									    		<div class="col-xs-12 col-sm-2 col-md-2">
									    			Tipo de Solicitação:
									    			<h:selectOneMenu value="#{beanSolicitacaoPCMSO.filtroTipo}" styleClass="form-control">
									    				<f:selectItem itemLabel="Todos" itemValue=""></f:selectItem>
									    				<f:selectItem itemLabel="Alteração" itemValue="A"></f:selectItem>
									    				<f:selectItem itemLabel="Inclusão" itemValue="I"></f:selectItem>
									    				<f:selectItem itemLabel="Exclusão" itemValue="E"></f:selectItem>
									    				<f:selectItem itemLabel="Solic. PPP" itemValue="P"></f:selectItem>
									    				<f:selectItem itemLabel="Retorno Trabalho" itemValue="R"></f:selectItem>
									    				<f:ajax />
									    			</h:selectOneMenu>
									    		</div>
									    		<div class="col-xs-12 col-sm-2 col-md-2">
									    			Data da Solicitação:
									    			<h:inputText value="#{beanSolicitacaoPCMSO.filtroData}" styleClass="form-control validaData">
									    				<f:ajax />
									    			</h:inputText>
									    		</div>
									    		<div class="col-xs-12 col-sm-1 col-md-1">
									    			<br />
									    			<h:commandLink styleClass="btn btn-success" action="#{beanSolicitacaoPCMSO.atualizaFiltroPendencias()}">
									    				Filtrar
									    				<f:ajax render="@form"/>
									    			</h:commandLink>	
									    		</div>	
									    	</div>
									    	
									    	<br />
									    	<div class="row">
			
												<div class="col-xs-12 col-sm-12 col-md-12">
													<div class="table-responsive">
														<p:dataTable
															value="#{beanSolicitacaoPCMSO.listagemPendencia}" var="l"
															rows="25" paginator="true"
															paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
															rowsPerPageTemplate="25,50,100"
															tableStyleClass="table table-hover"
															style="font-size: 13px">
			
															<p:column headerText="Cartão" width="180"
																style="font-size: 13px;">
																<h:panelGroup rendered="#{l.cdUnimed != null}">
																	#{l.cdUnimed}#{l.cdEmpresa}#{l.cdFamilia}#{l.cdDependencia}#{l.cdDigito}
																</h:panelGroup>
															</p:column>
															<p:column headerText="Empresa" width="80"
																style="font-size: 13px;">
																#{l.cdEmpresa}
															</p:column>
															<p:column headerText="Nome" width="280"
																style="font-size: 13px;">
																#{l.nmBeneficiario}
															</p:column>
															<p:column headerText="Solicitante" width="180"
																style="font-size: 13px;">
																#{beanSolicitacaoPCMSO.getDsNomeUsuario( l.idUsuarioSolicitou )}
															</p:column>
															<p:column headerText="Solicitação" width="80"
																style="font-size: 13px;">
																#{l.dtSolicitacao.dataEHora()}
															</p:column>
															<p:column headerText="Tipo" width="80"
																style="font-size: 13px;">
																<h:outputText rendered="#{l.tpSolicitacao.equals('A')}" value="Alteração"></h:outputText>
																<h:outputText rendered="#{l.tpSolicitacao.equals('I')}" value="Inclusão"></h:outputText>
																<h:outputText rendered="#{l.tpSolicitacao.equals('E')}" value="Exclusão"></h:outputText>
																<h:outputText rendered="#{l.tpSolicitacao.equals('P')}" value="PPP"></h:outputText>
																<h:outputText rendered="#{l.tpSolicitacao.equals('R')}" value="Retorno Trabalho"></h:outputText>
															</p:column>
															
															<p:column headerText="Filial" width="120"
																style="font-size: 13px;">
																#{l.idFilial} - #{l.dsFilial}
															</p:column>
															
															<p:column headerText="" width="100" style="font-size: 13px; text-align: right">
																<h:commandLink rendered="#{l.dtConfirmacao == null}" title="Confirmar Solicitação" type="button" class="btn btn-link" data-toggle="modal" onclick="$('#myModal_#{l.idSolicitacao}').modal('show');" style="margin-top: -5px; margin-bottom: -10px;margin-left: -15px;">
																	<span class="fa fa-thumbs-o-up" style="font-size: 13px;"></span>
																	<f:ajax render="solicitacao" />
																</h:commandLink>
																
																<h:commandLink title="Visualizar Solicitação" styleClass="btn btn-link" style="margin-top: -5px; margin-bottom: -10px; margin-left: -15px;" action="#{beanSolicitacaoPCMSO.visualizaSolicitacao(l)}">
																	<span class="fa fa-eye" style="font-size: 13px;"></span>
																	<f:ajax />
																</h:commandLink>
																<h:commandLink title="Visualizar Solicitação" styleClass="btn btn-link" style="margin-top: -5px; margin-bottom: -10px; margin-left: -15px;" action="#{beanSolicitacaoPCMSO.processoRelatorioPendencias(l)}">
																	<span class="fa fa-print" style="font-size: 13px;"></span>
																	<f:ajax onevent="function carregando(event) {
														        		if( event.status == 'complete' ) {
														        			abreRelatorio();
														        		}
														        	}" />
																</h:commandLink>
																
															</p:column>
															
															<p:column>
																<!-- Modal -->
																<div class="modal fade" id="myModal_#{l.idSolicitacao}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
																  <div class="modal-dialog" role="document">
																    <div class="modal-content">
																      <div class="modal-header">
																        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
																        <h4 class="modal-title" id="myModalLabel">Confirmando Solicitação PCMSO</h4>
																      </div>
																      <div class="modal-body">
																      	<h:panelGroup id="solicitacao">
																      		Confirma a solicitação de #{l.nmBeneficiario}?
																      	</h:panelGroup>
																        	
																      </div>
																      <div class="modal-footer">
																        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
																        <h:commandLink styleClass="btn btn-success" rendered="#{l.dtConfirmacao == null}" title="Confirmar Solicitação" action="#{beanSolicitacaoPCMSO.confirmarSolicitacao(l)}">
																			Confirmar
																			<f:ajax />
																		</h:commandLink>
																      </div>
																    </div>
																  </div>
																</div>
															
															</p:column>
															
														</p:dataTable>
													</div>
			
												</div>
											</div>
									    </div>
									    <div role="tabpanel" class="tab-pane #{beanSolicitacaoPCMSO.abaConfirmada}" id="confirmada">
									    	<br />
									    	<div class="row">
									    		<div class="col-xs-12 col-sm-2 col-md-2">
									    			Cartão:
									    			<h:inputText value="#{beanSolicitacaoPCMSO.filtroCartao}" styleClass="form-control">
									    				<f:ajax />
									    			</h:inputText>
									    		</div>
									    		<div class="col-xs-12 col-sm-2 col-md-2">
									    			Código da Empresa:
									    			<h:inputText value="#{beanSolicitacaoPCMSO.filtroEmpresa}" styleClass="form-control">
									    				<f:ajax />
									    			</h:inputText>
									    		</div>
									    		<div class="col-xs-12 col-sm-3 col-md-3">
									    			Beneficiário:
									    			<h:inputText value="#{beanSolicitacaoPCMSO.filtroNome}" styleClass="form-control">
									    				<f:ajax />
									    			</h:inputText>
									    		</div>
									    		<div class="col-xs-12 col-sm-2 col-md-2">
									    			Tipo de Solicitação:
									    			<h:selectOneMenu value="#{beanSolicitacaoPCMSO.filtroTipo}" styleClass="form-control">
									    				<f:selectItem itemLabel="Todos" itemValue=""></f:selectItem>
									    				<f:selectItem itemLabel="Alteração" itemValue="A"></f:selectItem>
									    				<f:selectItem itemLabel="Inclusão" itemValue="I"></f:selectItem>
									    				<f:selectItem itemLabel="Exclusão" itemValue="E"></f:selectItem>
									    				<f:selectItem itemLabel="Solic. PPP" itemValue="P"></f:selectItem>
									    				<f:ajax />
									    			</h:selectOneMenu>
									    		</div>
									    		<div class="col-xs-12 col-sm-2 col-md-2">
									    			Data da Solicitação:
									    			<h:inputText value="#{beanSolicitacaoPCMSO.filtroData}" styleClass="form-control validaData">
									    				<f:ajax />
									    			</h:inputText>
									    		</div>
									    		<div class="col-xs-12 col-sm-1 col-md-1">
									    			<br />
									    			<h:commandLink styleClass="btn btn-success" action="#{beanSolicitacaoPCMSO.atualizaFiltro()}">
									    				Filtrar
									    				<f:ajax render="@form"/>
									    			</h:commandLink>	
									    		</div>	
									    	</div>
									    	<br />
											<div class="row">
												<div class="col-xs-12 col-sm-12 col-md-12">
													<div class="table-responsive">
														<p:dataTable
															value="#{beanSolicitacaoPCMSO.listagem}" var="l"
															rows="25" paginator="true"
															paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
															rowsPerPageTemplate="25,50,100"
															tableStyleClass="table table-hover"
															style="font-size: 13px">
			
															<p:column headerText="Cartão" width="180"
																style="font-size: 13px;">
																<h:panelGroup rendered="#{l.cdUnimed != null}">
																	#{l.cdUnimed}#{l.cdEmpresa}#{l.cdFamilia}#{l.cdDependencia}#{l.cdDigito}
																</h:panelGroup>
															</p:column>
															<p:column headerText="Empresa" width="80"
																style="font-size: 13px;">
																#{l.cdEmpresa}
															</p:column>
															<p:column headerText="Nome" width="280"
																style="font-size: 13px;">
																#{l.nmBeneficiario}
															</p:column>
															<p:column headerText="Solicitante" width="180"
																style="font-size: 13px;">
																#{beanSolicitacaoPCMSO.getDsNomeUsuario( l.idUsuarioSolicitou )}
															</p:column>
															<p:column headerText="Solicitação" width="80"
																style="font-size: 13px;">
																#{l.dtSolicitacao.dataEHora()}
															</p:column>
															<p:column headerText="Tipo" width="80"
																style="font-size: 13px;">
																<h:outputText rendered="#{l.tpSolicitacao.equals('A')}" value="Alteração"></h:outputText>
																<h:outputText rendered="#{l.tpSolicitacao.equals('I')}" value="Inclusão"></h:outputText>
																<h:outputText rendered="#{l.tpSolicitacao.equals('E')}" value="Exclusão"></h:outputText>
																<h:outputText rendered="#{l.tpSolicitacao.equals('P')}" value="PPP"></h:outputText>
															</p:column>
															
															
															<p:column headerText="Filial" width="120"
																style="font-size: 13px;">
																#{l.idFilial} - #{l.dsFilial}
															</p:column>
															
															<p:column headerText="Confirmação" width="90"
																style="font-size: 13px;">
																#{l.dtConfirmacao != null ? l.dtConfirmacao.dataEHora() : '' }
															</p:column>
															
															<p:column headerText="" width="100" style="font-size: 13px; text-align: right">
																<h:commandLink rendered="#{l.dtConfirmacao == null}" title="Confirmar Solicitação" styleClass="btn btn-link" style="margin-top: -5px; margin-bottom: -10px; margin-left: -15px;" action="#{beanSolicitacaoPCMSO.confirmarSolicitacao(l)}">
																	<span class="fa fa-thumbs-o-up" style="font-size: 13px;"></span>
																	<f:ajax />
																</h:commandLink>
																
																
																<h:commandLink title="Visualizar Solicitação" styleClass="btn btn-link" style="margin-top: -5px; margin-bottom: -10px; margin-left: -15px;" action="#{beanSolicitacaoPCMSO.visualizaSolicitacao(l)}">
																	<span class="fa fa-eye" style="font-size: 13px;"></span>
																	<f:ajax />
																</h:commandLink>
																<h:commandLink title="Visualizar Solicitação" styleClass="btn btn-link" style="margin-top: -5px; margin-bottom: -10px; margin-left: -15px;" action="#{beanSolicitacaoPCMSO.processoRelatorioPendencias(l)}">
																	<span class="fa fa-print" style="font-size: 13px;"></span>
																	<f:ajax onevent="function carregando(event) {
														        		if( event.status == 'complete' ) {
														        			abreRelatorio();
														        		}
														        	}" />
																</h:commandLink>
																
															</p:column>
															
														</p:dataTable>
													</div>
			
												</div>
											</div>
									    </div>
									  </div>
								</h:form>
								
							  </div>
							
							</div>
							
		                </div>
		            </div>
		        </div>
		    </div>

			</section>
		</div>

		<baixo:baixoAdm />
		<sidebar:sidebarDireita />

	</div>
	<!-- ./wrapper -->

	<h:outputScript library="plugins/jQuery" name="jquery-2.2.3.min.js" />
	<h:outputScript library="bootstrap/js" name="bootstrap.min.js" />

	<h:outputScript library="js" name="app.min.js" />
	<h:outputScript library="js" name="jquery-2.1.0.min.js" />
	<h:outputScript library="js" name="jquery.maskedinput.js" />
	<h:outputScript library="js" name="bootstrap.min.js" />
	<h:outputScript library="js" name="mascaras.js" />
	<h:outputScript library="js" name="jquery.dtCalendario.js" />
	
	 <script>
	 	function abreRelatorio() {
	 		window.open('/PortalEmpresaPCMSO/relatorio.relatorioPdf', '_blank');
	 	}
	 	
	 	function vaiPara( prm ) {
	 		$('.' + prm ).focus();
	 	}
    	function adicionaItem() {
    		$('.btnNovoIem').click();
    		var height = $('html, body').height();

    		$('html, body').animate({scrollTop: height}, 'slow');
    	}
    	
    	var numeroGuia = $('.numeroGuia');
    	var modoCobranca = $('.modoCobranca');
    	var codUsuario = $('.codUsuario');
    	var nrAutorizacao = $('.nrAutorizacao');
    	var data = $('.dataAtendimento');
    	var tipoAtendimento = $('.tipoAtendimento');
    	var nomeBeneficiario = $('.nomeBeneficiario');
    	var dataAutorizacao = $('.dataAutorizacao');
    	
    	
    	if( numeroGuia.val() == '' ) {
    		numeroGuia.focus();
    	} else {
    		if( codUsuario.val() != '' ) {
    			if( nomeBeneficiario.val() == '' ) {
    				nomeBeneficiario.focus();
    			} else {
    				if( data.val() == '' ) {
    					data.focus();
    				} else {
   						if( nrAutorizacao.val() == '' ) {
   							tipoAtendimento.focus();
		    			} else { 
			    			if( dataAutorizacao.val() == '' ) {
			    				dataAutorizacao.focus();
			    			}
		    			}
    				}
    			}
    		} else {
    			modoCobranca.focus();	
    		}
    	}
    
    </script>

</h:body>
</html>