
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:topo="http://java.sun.com/jsf/composite/topo"
	xmlns:sidebar="http://java.sun.com/jsf/composite/sidebar"
	xmlns:baixo="http://java.sun.com/jsf/composite/baixo"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
	#{usuarioLogado.onLoad()}
	#{beanSolicitacaoPCMSO.inic()}
<h:head>

	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Portal Empresa PCMSO</title>

	<meta
		content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
		name="viewport" />

	<h:outputStylesheet library="bootstrap/css" name="bootstrap.min.css" />

	<h:outputStylesheet library="css" name="font-awesome.min.css" />
	<h:outputStylesheet library="css" name="ionicons.min.css" />

	<h:outputStylesheet library="css" name="AdminLTE.min.css" />
	<h:outputStylesheet library="css/skins" name="skin-green.min.css" />

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	  <![endif]-->

	<style>
.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td {
	border-style: none;
}

.tblPrestador {
	width: 100px
}

.tblNome {
	width: 110px
}

.tblAFT {
	width: 50px
}

.tblProcedimento {
	width: 100px
}

.tblDescricao {
	width: 300px
}

.tblQuantidade {
	width: 60px
}

.tblValor {
	width: 80px
}

.tblBtnAdd {
	width: 40px
}

.ui-paginator-page {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}
/*Alinear a la derecha*/
</style>

</h:head>
<h:body class="skin-green sidebar-mini sidebar-collapse">
	<div class="wrapper">
		
		<topo:topo />

		<sidebar:sidebar />
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					Visualizando Solicitação
				</h1>
				<ol class="breadcrumb">
					<li>
						<h:form>
							<h:commandLink styleClass="btn btn-link"  action="#{beanSolicitacaoPCMSO.cancelar()}">
								<i class="fa fa-dashboard"></i> Listagem
								<f:ajax />
							</h:commandLink>
						</h:form>
					</li>
				</ol>

			</section>
			
			<!-- Main content -->
			<section class="content">

				<div class="container-fluid">
				<br />
				
		        <div class="col-xs-12 col-sm-12 col-md-12">
		            <div class="panel panel-default">
		                
		                <div class="panel-body">
		                	<h:panelGroup rendered="#{beanSolicitacaoPCMSO.msgAoUsuario != null}">
		               			<h:form id="mensagem">
									<div class="row">
										<div class="alert alert-success alert-dismissible fade in"
											role="alert" align="center">
											<h:commandLink class="close" data-dismiss="alert" aria-label="Close" action="#{beanSolicitacaoPCMSO.limpaMensagem()}">
												X
												<f:setPropertyActionListener target="#{beanSolicitacaoPCMSO.msgAoUsuario}" value="null"></f:setPropertyActionListener>
											</h:commandLink>
											#{beanSolicitacaoPCMSO.msgAoUsuario}
										</div>
									</div>	
								</h:form>
							</h:panelGroup>
							<div>

							  <!-- Tab panes -->
							  <div class="tab-content">
									<h:form id="formBeneficiarioInativo">
										<div class="row">
											<div class="col-xs-12 col-sm-12 col-md-12">
												<div class="row">
										        	<div class="col-xs-4 col-sm-4 col-md-4">
											        	Data Amissão:<br />
												        <h:inputText styleClass="form-control validaData" disabled="true" value="#{beanSolicitacaoPCMSO.dadosSolicitacaoPPPSelecionada.dtAdmissao}">
											        		<f:ajax />
											        	</h:inputText>
												    </div>
												    <div class="col-xs-4 col-sm-4 col-md-4">
											        	Data Demissão:<br />
											        	<h:inputText styleClass="form-control validaData" disabled="true" value="#{beanSolicitacaoPCMSO.dadosSolicitacaoPPPSelecionada.dtDemissao}">
											        		<f:ajax />
											        	</h:inputText>
											        </div> 
											        <div class="col-xs-4 col-sm-4 col-md-4">
											        	Data Nascimento:<br />
											        	<h:inputText styleClass="form-control validaData" disabled="true" value="#{beanSolicitacaoPCMSO.dadosSolicitacaoPPPSelecionada.dtNascimento}">
											        		<f:ajax />
											        	</h:inputText>
											        </div>
										        </div>
										        <div class="row">
										        	<div class="col-xs-4 col-sm-4 col-md-4">
											        	NIT/PIS:<br />
												        <h:inputText styleClass="form-control" disabled="true" value="#{beanSolicitacaoPCMSO.dadosSolicitacaoPPPSelecionada.nrNitPis}">
											        		<f:ajax />
											        	</h:inputText>
												    </div>
												    <div class="col-xs-4 col-sm-4 col-md-4">
											        	Nº CTPS:<br />
												        <h:inputText styleClass="form-control" disabled="true" value="#{beanSolicitacaoPCMSO.dadosSolicitacaoPPPSelecionada.nrCtps}">
											        		<f:ajax />
											        	</h:inputText>
												    </div>
												    <div class="col-xs-2 col-sm-2 col-md-2">
											        	Nº Série:<br />
												        <h:inputText styleClass="form-control" disabled="true" value="#{beanSolicitacaoPCMSO.dadosSolicitacaoPPPSelecionada.nrSerie}">
											        		<f:ajax />
											        	</h:inputText>
												    </div>
												    <div class="col-xs-2 col-sm-2 col-md-2">
											        	UF:<br />
												        <h:inputText styleClass="form-control" disabled="true" value="#{beanSolicitacaoPCMSO.dadosSolicitacaoPPPSelecionada.ufCtps}">
											        		<f:ajax />
											        	</h:inputText>
												    </div>
												 </div>
												 <div class="row">
										        	<div class="col-xs-4 col-sm-4 col-md-4">
											        	Acidente de Trabalho:<br />
												        <h:selectOneMenu styleClass="form-control" disabled="true" value="#{beanSolicitacaoPCMSO.dadosSolicitacaoPPPSelecionada.snAcidentetrabalho}">
												        	<f:selectItem itemLabel="Não" itemValue="N" ></f:selectItem>
												        	<f:selectItem itemLabel="Sim" itemValue="S" ></f:selectItem>
												        	<f:ajax />
												        </h:selectOneMenu>
												    </div>
												    <div class="col-xs-4 col-sm-4 col-md-4">
											        	Data Acidente:<br />
												        <h:inputText styleClass="form-control validaData" disabled="true" value="#{beanSolicitacaoPCMSO.dadosSolicitacaoPPPSelecionada.dtAcidenteTrabalho}">
											        		<f:ajax />
											        	</h:inputText>
												    </div>
												    <div class="col-xs-4 col-sm-4 col-md-4">
											        	Nº CAT:<br />
												        <h:inputText styleClass="form-control" disabled="true" value="#{beanSolicitacaoPCMSO.dadosSolicitacaoPPPSelecionada.nrCat}">
											        		<f:ajax />
											        	</h:inputText>
												    </div>
												 </div>
												 <div class="row">
										        	<div class="col-xs-12 col-sm-12 col-md-12">
											        	Nome do Responsável pela assinatura do PPP:<br />
												        <h:inputText styleClass="form-control" disabled="true" value="#{beanSolicitacaoPCMSO.dadosSolicitacaoPPPSelecionada.nmResponsavel}">
											        		<f:ajax />
											        	</h:inputText>
												    </div>
												 </div>
												 <div class="row">
										        	<div class="col-xs-12 col-sm-12 col-md-12">
											        	NIT/PIS do responsável pela assinatura do PPP:<br />
												        <h:inputText styleClass="form-control" disabled="true" value="#{beanSolicitacaoPCMSO.dadosSolicitacaoPPPSelecionada.nrNitPisResponsavel}">
											        		<f:ajax />
											        	</h:inputText>
												    </div>
												 </div>
												 <h6 class="page-header" style="font-size: 18px">1º Função - Admissão:</h6>
												 <div class="row">
										        	<div class="col-xs-5 col-sm-5 col-md-5">
											        	Data Admissão:<br />
												        <h:inputText styleClass="form-control validaData" disabled="true" value="#{beanSolicitacaoPCMSO.dadosSolicitacaoPPPSelecionada.dtAdmissaoFuncao}">
											        		<f:ajax />
											        	</h:inputText>
												    </div>
												    <div class="col-xs-5 col-sm-5 col-md-5">
											        	Data fim da função:<br />
												        <h:inputText styleClass="form-control validaData" disabled="true" value="#{beanSolicitacaoPCMSO.dadosSolicitacaoPPPSelecionada.dtFimFuncao}">
											        		<f:ajax />
											        	</h:inputText>
												    </div>
												 </div>
												 <div class="row">
										        	<div class="col-xs-4 col-sm-4 col-md-4">
											        	Função:<br />
												        <h:inputText styleClass="form-control" disabled="true" value="#{beanSolicitacaoPCMSO.dadosSolicitacaoPPPSelecionada.dsFuncao}">
											        		<f:ajax />
											        	</h:inputText>
												    </div>
												    <div class="col-xs-4 col-sm-4 col-md-4">
											        	CBO:<br />
												        <h:inputText styleClass="form-control" disabled="true" value="#{beanSolicitacaoPCMSO.dadosSolicitacaoPPPSelecionada.dsCbo}">
											        		<f:ajax />
											        	</h:inputText>
												    </div>
												    <div class="col-xs-4 col-sm-4 col-md-4">
											        	Setor:<br />
												        <h:inputText styleClass="form-control" disabled="true" value="#{beanSolicitacaoPCMSO.dadosSolicitacaoPPPSelecionada.dsSetor}">
											        		<f:ajax />
											        	</h:inputText>
												    </div>
												 </div>
												 <h6 class="page-header" style="font-size: 18px">2º Função - Admissão:</h6>
												 <div class="row">
										        	<div class="col-xs-5 col-sm-5 col-md-5">
											        	Data Admissão:<br />
												        <h:inputText styleClass="form-control validaData" disabled="true" value="#{beanSolicitacaoPCMSO.dadosSolicitacaoPPPSelecionada.dtAdmissaoFucaoPPP2}">
											        		<f:ajax />
											        	</h:inputText>
												    </div>
												    <div class="col-xs-5 col-sm-5 col-md-5">
											        	Data fim da função:<br />
												        <h:inputText styleClass="form-control validaData" disabled="true" value="#{beanSolicitacaoPCMSO.dadosSolicitacaoPPPSelecionada.dtFimFincaoFuncaoPPP2}">
											        		<f:ajax />
											        	</h:inputText>
												    </div>
												 </div>
												 <div class="row">
										        	<div class="col-xs-4 col-sm-4 col-md-4">
											        	Função:<br />
												        <h:inputText styleClass="form-control" disabled="true" value="#{beanSolicitacaoPCMSO.dadosSolicitacaoPPPSelecionada.dsFuncaoFuncaoPPP2}">
											        		<f:ajax />
											        	</h:inputText>
												    </div>
												    <div class="col-xs-4 col-sm-4 col-md-4">
											        	CBO:<br />
												        <h:inputText styleClass="form-control" disabled="true" value="#{beanSolicitacaoPCMSO.dadosSolicitacaoPPPSelecionada.dsCBOFuncaoPPP2}">
											        		<f:ajax />
											        	</h:inputText>
												    </div>
												    <div class="col-xs-4 col-sm-4 col-md-4">
											        	Setor:<br />
												        <h:inputText styleClass="form-control" disabled="true" value="#{beanSolicitacaoPCMSO.dadosSolicitacaoPPPSelecionada.dsSetorFuncaoPPP2}">
											        		<f:ajax />
											        	</h:inputText>
												    </div>
												 </div>
												 
												 <h6 class="page-header" style="font-size: 18px">3º Função - Admissão:</h6>
												 <div class="row">
										        	<div class="col-xs-5 col-sm-5 col-md-5">
											        	Data Admissão:<br />
												        <h:inputText styleClass="form-control validaData" disabled="true" value="#{beanSolicitacaoPCMSO.dadosSolicitacaoPPPSelecionada.dtAdmissaoFucaoPPP3}">
											        		<f:ajax />
											        	</h:inputText>
												    </div>
												    <div class="col-xs-5 col-sm-5 col-md-5">
											        	Data fim da função:<br />
												        <h:inputText styleClass="form-control validaData" disabled="true" value="#{beanSolicitacaoPCMSO.dadosSolicitacaoPPPSelecionada.dtFimFincaoFuncaoPPP3}">
											        		<f:ajax />
											        	</h:inputText>
												    </div>
												 </div>
												 <div class="row">
										        	<div class="col-xs-4 col-sm-4 col-md-4">
											        	Função:<br />
												        <h:inputText styleClass="form-control" disabled="true" value="#{beanSolicitacaoPCMSO.dadosSolicitacaoPPPSelecionada.dsFuncaoFuncaoPPP3}">
											        		<f:ajax />
											        	</h:inputText>
												    </div>
												    <div class="col-xs-4 col-sm-4 col-md-4">
											        	CBO:<br />
												        <h:inputText styleClass="form-control" disabled="true" value="#{beanSolicitacaoPCMSO.dadosSolicitacaoPPPSelecionada.dsCBOFuncaoPPP3}">
											        		<f:ajax />
											        	</h:inputText>
												    </div>
												    <div class="col-xs-4 col-sm-4 col-md-4">
											        	Setor:<br />
												        <h:inputText styleClass="form-control" disabled="true" value="#{beanSolicitacaoPCMSO.dadosSolicitacaoPPPSelecionada.dsSetorFuncaoPPP3}">
											        		<f:ajax />
											        	</h:inputText>
												    </div>
												 </div>
												 
												 <h6 class="page-header" style="font-size: 18px">4º Função - Admissão:</h6>
												 <div class="row">
										        	<div class="col-xs-5 col-sm-5 col-md-5">
											        	Data Admissão:<br />
												        <h:inputText styleClass="form-control validaData" disabled="true" value="#{beanSolicitacaoPCMSO.dadosSolicitacaoPPPSelecionada.dtAdmissaoFucaoPPP4}">
											        		<f:ajax />
											        	</h:inputText>
												    </div>
												    <div class="col-xs-5 col-sm-5 col-md-5">
											        	Data fim da função:<br />
												        <h:inputText styleClass="form-control validaData" disabled="true" value="#{beanSolicitacaoPCMSO.dadosSolicitacaoPPPSelecionada.dtFimFincaoFuncaoPPP4}">
											        		<f:ajax />
											        	</h:inputText>
												    </div>
												 </div>
												 <div class="row">
										        	<div class="col-xs-4 col-sm-4 col-md-4">
											        	Função:<br />
												        <h:inputText styleClass="form-control" disabled="true" value="#{beanSolicitacaoPCMSO.dadosSolicitacaoPPPSelecionada.dsFuncaoFuncaoPPP4}">
											        		<f:ajax />
											        	</h:inputText>
												    </div>
												    <div class="col-xs-4 col-sm-4 col-md-4">
											        	CBO:<br />
												        <h:inputText styleClass="form-control" disabled="true" value="#{beanSolicitacaoPCMSO.dadosSolicitacaoPPPSelecionada.dsCBOFuncaoPPP4}">
											        		<f:ajax />
											        	</h:inputText>
												    </div>
												    <div class="col-xs-4 col-sm-4 col-md-4">
											        	Setor:<br />
												        <h:inputText styleClass="form-control" disabled="true" value="#{beanSolicitacaoPCMSO.dadosSolicitacaoPPPSelecionada.dsSetorFuncaoPPP4}">
											        		<f:ajax />
											        	</h:inputText>
												    </div>
												 </div>
												 
												 
												 <h6 class="page-header" style="font-size: 18px">5º Função - Admissão:</h6>
												 <div class="row">
										        	<div class="col-xs-5 col-sm-5 col-md-5">
											        	Data Admissão:<br />
												        <h:inputText styleClass="form-control validaData" disabled="true" value="#{beanSolicitacaoPCMSO.dadosSolicitacaoPPPSelecionada.dtAdmissaoFucaoPPP5}">
											        		<f:ajax />
											        	</h:inputText>
												    </div>
												    <div class="col-xs-5 col-sm-5 col-md-5">
											        	Data fim da função:<br />
												        <h:inputText styleClass="form-control validaData" disabled="true" value="#{beanSolicitacaoPCMSO.dadosSolicitacaoPPPSelecionada.dtFimFincaoFuncaoPPP5}">
											        		<f:ajax />
											        	</h:inputText>
												    </div>
												 </div>
												 <div class="row">
										        	<div class="col-xs-4 col-sm-4 col-md-4">
											        	Função:<br />
												        <h:inputText styleClass="form-control" disabled="true" value="#{beanSolicitacaoPCMSO.dadosSolicitacaoPPPSelecionada.dsFuncaoFuncaoPPP5}">
											        		<f:ajax />
											        	</h:inputText>
												    </div>
												    <div class="col-xs-4 col-sm-4 col-md-4">
											        	CBO:<br />
												        <h:inputText styleClass="form-control" disabled="true" value="#{beanSolicitacaoPCMSO.dadosSolicitacaoPPPSelecionada.dsCBOFuncaoPPP5}">
											        		<f:ajax />
											        	</h:inputText>
												    </div>
												    <div class="col-xs-4 col-sm-4 col-md-4">
											        	Setor:<br />
												        <h:inputText styleClass="form-control" disabled="true" value="#{beanSolicitacaoPCMSO.dadosSolicitacaoPPPSelecionada.dsSetorFuncaoPPP5}">
											        		<f:ajax />
											        	</h:inputText>
												    </div>
												 </div>
												 <h6 class="page-header" style="font-size: 18px">Troca de Função:</h6>
												 <div class="row">
										        	<div class="col-xs-5 col-sm-5 col-md-5">
											        	Data da Mudança:<br />
												        <h:inputText styleClass="form-control validaData" disabled="true" value="#{beanSolicitacaoPCMSO.dadosSolicitacaoPPPSelecionada.dtMudancaFuncao}">
											        		<f:ajax />
											        	</h:inputText>
												    </div>
												    <div class="col-xs-5 col-sm-5 col-md-5">
											        	Data fim da função:<br />
												        <h:inputText styleClass="form-control validaData" disabled="true" value="#{beanSolicitacaoPCMSO.dadosSolicitacaoPPPSelecionada.dtMudancaFimFuncao}">
											        		<f:ajax />
											        	</h:inputText>
												    </div>
												 </div>
												 <div class="row">
										        	<div class="col-xs-4 col-sm-4 col-md-4">
											        	Função:<br />
												        <h:inputText styleClass="form-control" disabled="true" value="#{beanSolicitacaoPCMSO.dadosSolicitacaoPPPSelecionada.dsMudancaFuncao}">
											        		<f:ajax />
											        	</h:inputText>
												    </div>
												    <div class="col-xs-4 col-sm-4 col-md-4">
											        	CBO:<br />
												        <h:inputText styleClass="form-control" disabled="true" value="#{beanSolicitacaoPCMSO.dadosSolicitacaoPPPSelecionada.dsMudancaCbo}">
											        		<f:ajax />
											        	</h:inputText>
												    </div>
												    <div class="col-xs-4 col-sm-4 col-md-4">
											        	Setor:<br />
												        <h:inputText styleClass="form-control" disabled="true" value="#{beanSolicitacaoPCMSO.dadosSolicitacaoPPPSelecionada.dsMudancaSetor}">
											        		<f:ajax />
											        	</h:inputText>
												    </div>
												</div>
												 <div class="row">
										        	<div class="col-xs-12 col-sm-12 col-md-12">
											        	Observações:<br />
												        <h:inputText styleClass="form-control" disabled="true" value="#{beanSolicitacaoPCMSO.dadosSolicitacaoPPPSelecionada.dsObservacoes}">
											        		<f:ajax />
											        	</h:inputText>
												    </div>
												 </div>
												<div class="row">
										        	<div class="col-xs-8 col-sm-8 col-md-8">
											        	Usuário Confirmou:<br />
												        <h:inputText styleClass="form-control" disabled="true" value="#{beanSolicitacaoPCMSO.getDsNomeUsuario(beanSolicitacaoPCMSO.dadosSolicitacaoPPPSelecionada.idUsuarioConfirmacao)}">
											        		<f:ajax />
											        	</h:inputText>
												    </div>
												    <div class="col-xs-4 col-sm-4 col-md-4">
											        	Confirmação:<br />
												        <h:inputText styleClass="form-control" disabled="true" value="#{beanSolicitacaoPCMSO.dadosSolicitacaoPPPSelecionada.dtConfirmacao}">
											        		<f:ajax />
											        	</h:inputText>
												    </div>
												</div>
											</div>
										</div>
										<br />
										<div class="row">
											<div class="col-xs-12 col-sm-12 col-md-12" align="center">
												<h:commandLink styleClass="btn btn-default" action="#{beanSolicitacaoPCMSO.cancelarPPP()}">
													Voltar
													<f:ajax />
												</h:commandLink>
												
												<h:commandLink rendered="#{beanSolicitacaoPCMSO.dadosSolicitacaoPPPSelecionada.dtConfirmacao == null}" style="margin-left: 25px" styleClass="btn btn-success" action="#{beanSolicitacaoPCMSO.confirmarSolicitacaoPPP(beanSolicitacaoPCMSO.dadosSolicitacaoPPPSelecionada)}">
													Confirmar Solicitação
													<f:ajax />
												</h:commandLink>
											</div>
										</div>
									</h:form>
								
							  </div>
							
							</div>
							
		                </div>
		            </div>
		        </div>
		    </div>

			</section>
		</div>

		<baixo:baixoAdm />
		<sidebar:sidebarDireita />

	</div>
	<!-- ./wrapper -->

	<h:outputScript library="plugins/jQuery" name="jquery-2.2.3.min.js" />
	<h:outputScript library="bootstrap/js" name="bootstrap.min.js" />

	<h:outputScript library="js" name="app.min.js" />
	<h:outputScript library="js" name="jquery-2.1.0.min.js" />
	<h:outputScript library="js" name="jquery.maskedinput.js" />
	<h:outputScript library="js" name="bootstrap.min.js" />
	<h:outputScript library="js" name="mascaras.js" />
	<h:outputScript library="js" name="jquery.dtCalendario.js" />
	
	 <script>
	 
	 	function vaiPara( prm ) {
	 		$('.' + prm ).focus();
	 	}
    	function adicionaItem() {
    		$('.btnNovoIem').click();
    		var height = $('html, body').height();

    		$('html, body').animate({scrollTop: height}, 'slow');
    	}
    	
    	var numeroGuia = $('.numeroGuia');
    	var modoCobranca = $('.modoCobranca');
    	var codUsuario = $('.codUsuario');
    	var nrAutorizacao = $('.nrAutorizacao');
    	var data = $('.dataAtendimento');
    	var tipoAtendimento = $('.tipoAtendimento');
    	var nomeBeneficiario = $('.nomeBeneficiario');
    	var dataAutorizacao = $('.dataAutorizacao');
    	
    	
    	if( numeroGuia.val() == '' ) {
    		numeroGuia.focus();
    	} else {
    		if( codUsuario.val() != '' ) {
    			if( nomeBeneficiario.val() == '' ) {
    				nomeBeneficiario.focus();
    			} else {
    				if( data.val() == '' ) {
    					data.focus();
    				} else {
   						if( nrAutorizacao.val() == '' ) {
   							tipoAtendimento.focus();
		    			} else { 
			    			if( dataAutorizacao.val() == '' ) {
			    				dataAutorizacao.focus();
			    			}
		    			}
    				}
    			}
    		} else {
    			modoCobranca.focus();	
    		}
    	}
    
    </script>

</h:body>
</html>