<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:composite="http://java.sun.com/jsf/composite">

<h:body>

	<composite:interface />
	<composite:implementation>

		<!-- Left side column. contains the logo and sidebar -->
		  <aside class="main-sidebar">
		    <!-- sidebar: style can be found in sidebar.less -->
		    <section class="sidebar">
		
		     <h:form prependId="false">
		      <!-- Sidebar Menu -->
		      <ul class="sidebar-menu">
		        <li class="header">NAVEGAÇÃO</li>
		        <!-- Optionally, you can add icons to the links -->
		        <li class="active">
		        	<h:panelGroup rendered="#{usuarioLogado.idEmpresaRelacionada == null}">
				        <a href="/PortalEmpresaPCMSO/resources/page/parametros/parametroSistema.jsf">
							<i class="fa fa-cloud"></i> <span>Estado do Sistema</span>
				        </a>
				        <a href="/PortalEmpresaPCMSO/resources/page/beneficiarios/listaBeneficiarios.jsf">
							<i class="fa fa-group"></i> <span>Beneficiários</span>
				        </a>
				        <a href="/PortalEmpresaPCMSO/resources/page/exame/listaExames.jsf">
							<i class="fa fa-archive"></i> <span>Exames</span>
				        </a>
				        <a href="/PortalEmpresaPCMSO/resources/page/cargo/listaCargos.jsf">
							<i class="fa fa-coffee"></i> <span>Cargos</span>
				        </a>
				        <a href="/PortalEmpresaPCMSO/resources/page/cbo/listaCBO.jsf">
							<i class="fa fa-bookmark-o"></i> <span>CBO</span>
				        </a>
				        <a href="/PortalEmpresaPCMSO/resources/page/empresa/listaEmpresas.jsf">
							<i class="fa fa-ban"></i> <span>Empresa</span>
				        </a>
				        <a href="/PortalEmpresaPCMSO/resources/page/funcao/listaFuncoes.jsf">
							<i class="fa fa-industry"></i> <span>Funcao</span>
				        </a>
				        <a href="/PortalEmpresaPCMSO/resources/page/medico/listaMedicos.jsf">
							<i class="fa fa-bed"></i> <span>Medico</span>
				        </a>
				        <a href="/PortalEmpresaPCMSO/resources/page/procedimento/listaProcedimentos.jsf">
							<i class="fa fa-heart"></i> <span>Procedimento</span>
				        </a>
				        <a href="/PortalEmpresaPCMSO/resources/page/tipoRisco/listaTipoDeRisco.jsf">
							<i class="fa fa-cloud"></i> <span>Tipo Risco</span>
				        </a>
				        <a href="/PortalEmpresaPCMSO/resources/page/risco/listaRiscos.jsf">
							<i class="fa fa-hand-stop-o"></i> <span>Risco</span>
				        </a>
				        <a href="/PortalEmpresaPCMSO/resources/page/setor/listaSetores.jsf">
							<i class="fa fa-sitemap"></i> <span>Setor</span>
				        </a>
				        <a href="/PortalEmpresaPCMSO/resources/page/solicitacoes/listaSolicitacoes.jsf">
							<i class="fa fa-sitemap"></i> <span>Solicitações PCMSO</span>
				        </a>
				        <a href="/PortalEmpresaPCMSO/resources/page/solicitacoes/listaSolicitacoesPPP.jsf">
							<i class="fa fa-sitemap"></i> <span>Solicitações PPP PCMSO</span>
				        </a>
				        <a href="/PortalEmpresaPCMSO/resources/page/RSData/listaEnvios.jsf">
				        	<i class="fa fa-sitemap"></i> <span>Transações RSData</span>
				        </a>
				        <a href="/PortalEmpresaPCMSO/resources/page/RSData/listaEnviosBeneficiario.jsf">
							<i class="fa fa-sitemap"></i> <span>Enviar Beneficiário RSData</span>
				        </a>
				        <a href="/PortalEmpresaPCMSO/resources/page/exportacaoBeneficiario.jsf">
							<i class="fa fa-cloud-download"></i> <span>Exportação Beneficiários</span>
				        </a>
				        <a href="/PortalEmpresaPCMSO/resources/page/exportacaoEmpresa.jsf">
							<i class="fa fa-cloud-download"></i> <span>Exportação Empresas</span>
				        </a>
				        <a href="/PortalEmpresaPCMSO/resources/page/exportacaoDataSESMT.jsf">
							<i class="fa fa-cloud-download"></i> <span>Exportação Exames</span>
				        </a>
				        <a href="/PortalEmpresaPCMSO/resources/page/exportacaoAtestados.jsf">
							<i class="fa fa-cloud-download"></i> <span>Exportação Atestados</span>
				        </a>
			        </h:panelGroup>
				</li>
		      </ul>
		      </h:form>
		      <!-- /.sidebar-menu -->
		    </section>
		    <!-- /.sidebar -->
		  </aside>

	</composite:implementation>

</h:body>
</html>
