
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:topo="http://java.sun.com/jsf/composite/topo"
	xmlns:sidebar="http://java.sun.com/jsf/composite/sidebar"
	xmlns:baixo="http://java.sun.com/jsf/composite/baixo"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
	#{usuarioLogado.onLoad()}
<h:head>

	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Portal Empresa PCMSO</title>

	<meta
		content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
		name="viewport" />

	<h:outputStylesheet library="bootstrap/css" name="bootstrap.min.css" />

	<h:outputStylesheet library="css" name="font-awesome.min.css" />
	<h:outputStylesheet library="css" name="ionicons.min.css" />

	<h:outputStylesheet library="css" name="AdminLTE.min.css" />
	<h:outputStylesheet library="css/skins" name="skin-green.min.css" />

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	  <![endif]-->

	<style>
.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td {
	border-style: none;
}

.tblPrestador {
	width: 100px
}

.tblNome {
	width: 110px
}

.tblAFT {
	width: 50px
}

.tblProcedimento {
	width: 100px
}

.tblDescricao {
	width: 300px
}

.tblQuantidade {
	width: 60px
}

.tblValor {
	width: 80px
}

.tblBtnAdd {
	width: 40px
}

.ui-paginator-page {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}
/*Alinear a la derecha*/
</style>

</h:head>
<h:body class="skin-green sidebar-mini sidebar-collapse">
	<div class="wrapper">
		
		<topo:topo />

		<sidebar:sidebar />
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					Beneficiários
				</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Listagem</a></li>
				</ol>

			</section>

			<!-- Main content -->
			<section class="content">

				<div class="container-fluid">
				<br />
				
		        <div class="col-xs-12 col-sm-12 col-md-12">
		            <div class="panel panel-default">
		                
		                <div class="panel-body">
		                	<h:panelGroup rendered="#{beanPreCadastroCboPCMSO.msgAoUsuario != null}">
		               			<h:form id="mensagem">
									<div class="row">
										<div class="alert alert-success alert-dismissible fade in"
											role="alert" align="center">
											<h:commandLink class="close" data-dismiss="alert" aria-label="Close" action="#{beanPreCadastroCboPCMSO.limpaMensagem()}">
												X
												<f:setPropertyActionListener target="#{beanPreCadastroCboPCMSO.msgAoUsuario}" value="null"></f:setPropertyActionListener>
											</h:commandLink>
											#{beanPreCadastroCboPCMSO.msgAoUsuario}
										</div>
									</div>	
								</h:form>
							</h:panelGroup>
							<div>
								<h:form>
									<ul class="nav nav-tabs" role="tablist">
										<li role="presentation" class="active">
											<a href="#lista" aria-controls="dados" role="tab" data-toggle="tab">
									    		Listagem
									    	</a>
										</li>
										<li role="presentation">
											<a href="#relatorios" aria-controls="home" role="tab" data-toggle="tab">
									    		Relatórios
									    	</a>
										</li>
									</ul>
								</h:form>
							</div>
							
							
							
							 <!-- Tab panes -->
							  <div class="tab-content">
							  
							  
							  	<div role="tabpanel" class="tab-pane" id="relatorios">
							  		<br /><br /><br />
							  		<div class="row">
							  			<h:form>
							  				<div class="col-xs-1 col-sm-1 col-md-1"></div>
											<div class="col-xs-2 col-sm-2 col-md-2">
												<h:commandLink onclick="abreBenefPorData()" styleClass="btn btn-default" style="width:100%" >
													<br /><span class="fa fa-print" style="margin-top: 3px; font-size:20px"></span> <br /><br />Beneficiários por Data<br /><br />
													<f:ajax />
												</h:commandLink>			
											</div>
											<div class="col-xs-2 col-sm-2 col-md-2">
												<h:commandLink onclick="abreBenefPorLotacao()" styleClass="btn btn-default" style="width:100%" >
													<br /><span class="fa fa-print" style="margin-top: 3px; font-size:20px"></span> <br /><br />Beneficiários por Lotação<br /><br />
													<f:ajax />
												</h:commandLink>			
											</div>
											
											
											<!-- Modal benefPorLotacao -->
											<div class="modal fade" id="benefPorLotacao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
											  <div class="modal-dialog" role="document">
											    <div class="modal-content">
											      <div class="modal-header">
											        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
											        <h4 class="modal-title" id="myModalLabel">Relatório de Beneficiários por Lotação</h4>
											      </div>
											      <div class="modal-body">
											      	<div class="row">
											        	<div class="col-xs-3 col-sm-3 col-md-3">
											        		Empresa Inicial:
											        		<div class="form-group">
														    <div class="input-group">
														      <h:inputText styleClass="form-control" value="#{beanPreCadastroCboPCMSO.cdEmpresaRel}">
												        			<f:ajax render="nomeEmpresaLotacao" />
												        		</h:inputText>
														      <div class="input-group-addon">
																<span class="fa fa-search" onclick="abrePesquisaBeneficiario()"></span>
															  </div>
														    </div>
														  </div>
											        	</div>
											        	<div class="col-xs-9 col-sm-9 col-md-9">
											        		<br />
											        		<h:panelGroup id="nomeEmpresaLotacao">
												        		<h:inputText disabled="true" styleClass="form-control" value="#{beanPreCadastroCboPCMSO.dsNomeEmpresa}">
												        			<f:ajax></f:ajax>
												        		</h:inputText>
											        		</h:panelGroup>
											        	</div>
											        </div>
											        <div class="row">
											        	<div class="col-xs-3 col-sm-3 col-md-3">
											        		Empresa Final:
											        		<div class="form-group">
														    <div class="input-group">
														      <h:inputText styleClass="form-control" value="#{beanPreCadastroCboPCMSO.cdEmpresaFinalRel}">
												        			<f:ajax render="nomeEmpresaFinalLotacao" />
												        		</h:inputText>
														      <div class="input-group-addon">
																<span class="fa fa-search" onclick="abrePesquisaBeneficiario()"></span>
															  </div>
														    </div>
														  </div>
											        	</div>
											        	<div class="col-xs-9 col-sm-9 col-md-9">
											        		<br />
											        		<h:panelGroup id="nomeEmpresaFinalLotacao">
												        		<h:inputText disabled="true" styleClass="form-control" value="#{beanPreCadastroCboPCMSO.dsNomeEmpresaFinal}">
												        			<f:ajax></f:ajax>
												        		</h:inputText>
											        		</h:panelGroup>
											        	</div>
											        </div>
											      	<div class="row">
											        	<div class="col-xs-6 col-sm-6 col-md-6">
											        		Data Inicial:
											        		<h:inputText styleClass="form-control" value="#{beanPreCadastroCboPCMSO.dtInicial}">
											        			<f:ajax />
											        		</h:inputText>
											        	</div>
											        	<div class="col-xs-6 col-sm-6 col-md-6">
											        		Data Final:
											        		<h:inputText styleClass="form-control" value="#{beanPreCadastroCboPCMSO.dtFinal}">
											        			<f:ajax />
											        		</h:inputText>
											        	</div>
											        </div>
											      
											        <div class="row">
											        	<div class="col-xs-12 col-sm-12 col-md-12">
											        		Ação:
											        		<h:selectOneMenu styleClass="form-control" value="#{beanPreCadastroCboPCMSO.tpRelAcao}" >
											        			<f:selectItem itemValue="I" itemLabel="Incluídos"></f:selectItem>
											        			<f:selectItem itemValue="E" itemLabel="Excluídos"></f:selectItem>
											        			<f:ajax />
											        		</h:selectOneMenu>
											        	</div>
											        </div>
											        <div class="row">
											        	<div class="col-xs-12 col-sm-12 col-md-12">
											        		Ordem:
											        		<h:selectOneMenu styleClass="form-control" value="#{beanPreCadastroCboPCMSO.tpRelOrdem}" >
											        			<f:selectItem itemValue="A" itemLabel="Alfabética"></f:selectItem>
											        			<f:selectItem itemValue="N" itemLabel="Numérica"></f:selectItem>
											        			<f:ajax />
											        		</h:selectOneMenu>
											        	</div>
											        </div>
											        <div class="row">
											        	<div class="col-xs-12 col-sm-12 col-md-12">
											        		CCO:
											        		<h:selectOneMenu styleClass="form-control" value="#{beanPreCadastroCboPCMSO.nrCco}" >
											        			<f:selectItem itemValue="C" itemLabel="Somente com CCO"></f:selectItem>
											        			<f:selectItem itemValue="S" itemLabel="Somente sem CCO"></f:selectItem>
											        			<f:ajax />
											        		</h:selectOneMenu>
											        	</div>
											        </div>
											        
											        <div class="row">
											        	<div class="col-xs-6 col-sm-6 col-md-6">
											        		Plano:
											        		<h:inputText styleClass="form-control" value="#{beanPreCadastroCboPCMSO.cdPlanoRel}">
											        			<f:ajax />
											        		</h:inputText>
											        	</div>
											        	<div class="col-xs-6 col-sm-6 col-md-6">
											        		Excluídos:
											        		<h:selectOneMenu styleClass="form-control" value="#{beanPreCadastroCboPCMSO.snRelExcluidosData}" >
											        			<f:selectItem itemValue="N" itemLabel="Sim"></f:selectItem>
											        			<f:selectItem itemValue="S" itemLabel="Não"></f:selectItem>
											        			<f:ajax />
											        		</h:selectOneMenu>
											        	</div>
											        </div>
											        
											        <div class="row">
											        	<div class="col-xs-12 col-sm-12 col-md-12">
											        		Contrato Pacote:
											        		<h:selectOneMenu styleClass="form-control" value="#{beanPreCadastroCboPCMSO.tpContratoPacote}" >
											        			<f:selectItem itemValue="C" itemLabel="Com Pacote"></f:selectItem>
											        			<f:selectItem itemValue="S" itemLabel="Sem Pacote"></f:selectItem>
											        			<f:ajax />
											        		</h:selectOneMenu>
											        	</div>
											        </div>
											        
											      </div>
											      <div class="modal-footer">
											        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
											        <h:commandLink action="#{beanPreCadastroCboPCMSO.processoRelatorioBeneficiariosLotacao()}" styleClass="btn btn-default" >
											        	Emitir
											        	<f:ajax onevent="function carregando(event) {
											        		if( event.status == 'complete' ) {
											        			abreRelatorio();
											        		}
											        	}" />
											        </h:commandLink>
											      </div>
											    </div>
											  </div>
											</div>
											
											<!-- Modal Novo Exame -->
											<div class="modal fade" id="benefPorData" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
											  <div class="modal-dialog" role="document">
											    <div class="modal-content">
											      <div class="modal-header">
											        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
											        <h4 class="modal-title" id="myModalLabel">Relatório de Beneficiários por Data</h4>
											      </div>
											      <div class="modal-body">
											      	<div class="row">
											        	<div class="col-xs-3 col-sm-3 col-md-3">
											        		Empresa Inicial:
											        		<div class="form-group">
														    <div class="input-group">
														      <h:inputText styleClass="form-control" value="#{beanPreCadastroCboPCMSO.cdEmpresaRel}">
												        			<f:ajax render="nomeEmpresa" />
												        		</h:inputText>
														      <div class="input-group-addon">
																<span class="fa fa-search" onclick="abrePesquisaBeneficiario()"></span>
															  </div>
														    </div>
														  </div>
											        	</div>
											        	<div class="col-xs-9 col-sm-9 col-md-9">
											        		<br />
											        		<h:panelGroup id="nomeEmpresa">
												        		<h:inputText disabled="true" styleClass="form-control" value="#{beanPreCadastroCboPCMSO.dsNomeEmpresa}">
												        			<f:ajax></f:ajax>
												        		</h:inputText>
											        		</h:panelGroup>
											        	</div>
											        </div>
											        <div class="row">
											        	<div class="col-xs-3 col-sm-3 col-md-3">
											        		Empresa Final:
											        		<div class="form-group">
														    <div class="input-group">
														      <h:inputText styleClass="form-control" value="#{beanPreCadastroCboPCMSO.cdEmpresaFinalRel}">
												        			<f:ajax render="nomeEmpresaFinal" />
												        		</h:inputText>
														      <div class="input-group-addon">
																<span class="fa fa-search" onclick="abrePesquisaBeneficiario()"></span>
															  </div>
														    </div>
														  </div>
											        	</div>
											        	<div class="col-xs-9 col-sm-9 col-md-9">
											        		<br />
											        		<h:panelGroup id="nomeEmpresaFinal">
												        		<h:inputText disabled="true" styleClass="form-control" value="#{beanPreCadastroCboPCMSO.dsNomeEmpresaFinal}">
												        			<f:ajax></f:ajax>
												        		</h:inputText>
											        		</h:panelGroup>
											        	</div>
											        </div>
											      	<div class="row">
											        	<div class="col-xs-6 col-sm-6 col-md-6">
											        		Data Inicial:
											        		<h:inputText styleClass="form-control" value="#{beanPreCadastroCboPCMSO.dtInicial}">
											        			<f:ajax />
											        		</h:inputText>
											        	</div>
											        	<div class="col-xs-6 col-sm-6 col-md-6">
											        		Data Final:
											        		<h:inputText styleClass="form-control" value="#{beanPreCadastroCboPCMSO.dtFinal}">
											        			<f:ajax />
											        		</h:inputText>
											        	</div>
											        </div>
											      
											        <div class="row">
											        	<div class="col-xs-12 col-sm-12 col-md-12">
											        		Ação:
											        		<h:selectOneMenu styleClass="form-control" value="#{beanPreCadastroCboPCMSO.tpRelAcao}" >
											        			<f:selectItem itemValue="I" itemLabel="Incluídos"></f:selectItem>
											        			<f:selectItem itemValue="E" itemLabel="Excluídos"></f:selectItem>
											        			<f:ajax />
											        		</h:selectOneMenu>
											        	</div>
											        </div>
											        <div class="row">
											        	<div class="col-xs-12 col-sm-12 col-md-12">
											        		Ordem:
											        		<h:selectOneMenu styleClass="form-control" value="#{beanPreCadastroCboPCMSO.tpRelOrdem}" >
											        			<f:selectItem itemValue="A" itemLabel="Alfabética"></f:selectItem>
											        			<f:selectItem itemValue="N" itemLabel="Numérica"></f:selectItem>
											        			<f:ajax />
											        		</h:selectOneMenu>
											        	</div>
											        </div>
											        <div class="row">
											        	<div class="col-xs-12 col-sm-12 col-md-12">
											        		CCO:
											        		<h:selectOneMenu styleClass="form-control" value="#{beanPreCadastroCboPCMSO.nrCco}" >
											        			<f:selectItem itemValue="C" itemLabel="Somente com CCO"></f:selectItem>
											        			<f:selectItem itemValue="S" itemLabel="Somente sem CCO"></f:selectItem>
											        			<f:ajax />
											        		</h:selectOneMenu>
											        	</div>
											        </div>
											        
											        <div class="row">
											        	<div class="col-xs-6 col-sm-6 col-md-6">
											        		Plano:
											        		<h:inputText styleClass="form-control" value="#{beanPreCadastroCboPCMSO.cdPlanoRel}">
											        			<f:ajax />
											        		</h:inputText>
											        	</div>
											        	<div class="col-xs-6 col-sm-6 col-md-6">
											        		Excluídos:
											        		<h:selectOneMenu styleClass="form-control" value="#{beanPreCadastroCboPCMSO.snRelExcluidosData}" >
											        			<f:selectItem itemValue="N" itemLabel="Sim"></f:selectItem>
											        			<f:selectItem itemValue="S" itemLabel="Não"></f:selectItem>
											        			<f:ajax />
											        		</h:selectOneMenu>
											        	</div>
											        </div>
											        
											        <div class="row">
											        	<div class="col-xs-3 col-sm-3 col-md-3">
											        		Lotação:
											        		<div class="form-group">
														    <div class="input-group">
														      <h:inputText styleClass="form-control" value="#{beanPreCadastroCboPCMSO.idLotacaoRelExame}">
												        			<f:ajax render="nomeLotacao" />
												        		</h:inputText>
														      <div class="input-group-addon">
																<span class="fa fa-search" onclick="abrePesquisaBeneficiario()"></span>
															  </div>
														    </div>
														  </div>
											        	</div>
											        	<div class="col-xs-9 col-sm-9 col-md-9">
											        		<br />
											        		<h:panelGroup id="nomeLotacao">
												        		<h:inputText disabled="true" styleClass="form-control" value="#{beanPreCadastroCboPCMSO.dsNomeLotacao}">
												        			<f:ajax></f:ajax>
												        		</h:inputText>
											        		</h:panelGroup>
											        	</div>
											        </div>
											        <div class="row">
											        	<div class="col-xs-12 col-sm-12 col-md-12">
											        		Contrato Pacote:
											        		<h:selectOneMenu styleClass="form-control" value="#{beanPreCadastroCboPCMSO.tpContratoPacote}" >
											        			<f:selectItem itemValue="C" itemLabel="Com Pacote"></f:selectItem>
											        			<f:selectItem itemValue="S" itemLabel="Sem Pacote"></f:selectItem>
											        			<f:ajax />
											        		</h:selectOneMenu>
											        	</div>
											        </div>
											        
											      </div>
											      <div class="modal-footer">
											        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
											        <h:commandLink action="#{beanPreCadastroCboPCMSO.processoRelatorioBeneficiariosData()}" styleClass="btn btn-default" >
											        	Emitir
											        	<f:ajax onevent="function carregando(event) {
											        		if( event.status == 'complete' ) {
											        			abreRelatorio();
											        		}
											        	}" />
											        </h:commandLink>
											      </div>
											    </div>
											  </div>
											</div>
											
											<div class="col-xs-2 col-sm-2 col-md-2">
												<h:commandLink onclick="abreBenefPorMovimento()" styleClass="btn btn-default" style="width:100%" >
													<br /><span class="fa fa-print" style="margin-top: 3px; font-size:20px"></span> <br /><br />Movimento Beneficiários<br /><br />
													<f:ajax />
												</h:commandLink>			
											</div>
											
											<!-- Modal Novo Exame -->
											<div class="modal fade" id="benefPorMovimento" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
											  <div class="modal-dialog" role="document">
											    <div class="modal-content">
											      <div class="modal-header">
											        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
											        <h4 class="modal-title" id="myModalLabel">Relatório por Movimento de Beneficiários</h4>
											      </div>
											      <div class="modal-body">
											      	<div class="row">
											        	<div class="col-xs-3 col-sm-3 col-md-3">
											        		Empresa Inicial:
											        		<div class="form-group">
														    <div class="input-group">
														      <h:inputText styleClass="form-control" value="#{beanPreCadastroCboPCMSO.cdEmpresaRel}">
												        			<f:ajax render="nomeEmpresaMovimento" />
												        		</h:inputText>
														      <div class="input-group-addon">
																<span class="fa fa-search" onclick="abrePesquisaBeneficiario()"></span>
															  </div>
														    </div>
														  </div>
											        	</div>
											        	<div class="col-xs-9 col-sm-9 col-md-9">
											        		<br />
											        		<h:panelGroup id="nomeEmpresaMovimento">
												        		<h:inputText disabled="true" styleClass="form-control" value="#{beanPreCadastroCboPCMSO.dsNomeEmpresa}">
												        			<f:ajax></f:ajax>
												        		</h:inputText>
											        		</h:panelGroup>
											        	</div>
											        </div>
											        <div class="row">
											        	<div class="col-xs-3 col-sm-3 col-md-3">
											        		Empresa Final:
											        		<div class="form-group">
														    <div class="input-group">
														      <h:inputText styleClass="form-control" value="#{beanPreCadastroCboPCMSO.cdEmpresaFinalRel}">
												        			<f:ajax render="nomeEmpresaMovimentoFinal" />
												        		</h:inputText>
														      <div class="input-group-addon">
																<span class="fa fa-search" onclick="abrePesquisaBeneficiario()"></span>
															  </div>
														    </div>
														  </div>
											        	</div>
											        	<div class="col-xs-9 col-sm-9 col-md-9">
											        		<br />
											        		<h:panelGroup id="nomeEmpresaMovimentoFinal">
												        		<h:inputText disabled="true" styleClass="form-control" value="#{beanPreCadastroCboPCMSO.dsNomeEmpresaFinal}">
												        			<f:ajax></f:ajax>
												        		</h:inputText>
											        		</h:panelGroup>
											        	</div>
											        </div>
											      	<div class="row">
											        	<div class="col-xs-6 col-sm-6 col-md-6">
											        		Data Inclusão Inicial:
											        		<h:inputText styleClass="form-control" value="#{beanPreCadastroCboPCMSO.dtInclusaoInicialRel}">
											        			<f:ajax />
											        		</h:inputText>
											        	</div>
											        	<div class="col-xs-6 col-sm-6 col-md-6">
											        		Data Inclusão Final:
											        		<h:inputText styleClass="form-control" value="#{beanPreCadastroCboPCMSO.dtInclusaoFinalRel}">
											        			<f:ajax />
											        		</h:inputText>
											        	</div>
											        </div>
											      	<br />
											        <div class="row">
											        	<div class="col-xs-3 col-sm-3 col-md-3">
											        		Excluídos:
											        		<h:selectOneMenu styleClass="form-control" value="#{beanPreCadastroCboPCMSO.snExcluido}" >
											        			<f:selectItem itemValue="N" itemLabel="Não"></f:selectItem>
											        			<f:selectItem itemValue="S" itemLabel="Sim"></f:selectItem>
											        			<f:ajax />
											        		</h:selectOneMenu>
											        	</div>
											        	<div class="col-xs-3 col-sm-3 col-md-3">
											        		Contrata Pacote:
											        		<h:selectOneMenu styleClass="form-control" value="#{beanPreCadastroCboPCMSO.snComPacotes}" >
											        			<f:selectItem itemValue="N" itemLabel="Não"></f:selectItem>
											        			<f:selectItem itemValue="S" itemLabel="Sim"></f:selectItem>
											        			<f:ajax />
											        		</h:selectOneMenu>
											        	</div>
											        	<div class="col-xs-3 col-sm-3 col-md-3">
											        		Geral:
											        		<h:selectOneMenu styleClass="form-control" value="#{beanPreCadastroCboPCMSO.snGeral}" >
											        			<f:selectItem itemValue="N" itemLabel="Não"></f:selectItem>
											        			<f:selectItem itemValue="S" itemLabel="Sim"></f:selectItem>
											        			<f:ajax />
											        		</h:selectOneMenu>
											        	</div>
											        	
											        </div>
											        <div class="row">
											        	<div class="col-xs-3 col-sm-3 col-md-3">
											        		Ativos:
											        		<h:selectOneMenu styleClass="form-control" value="#{beanPreCadastroCboPCMSO.snAtivos}" >
											        			<f:selectItem itemValue="N" itemLabel="Não"></f:selectItem>
											        			<f:selectItem itemValue="S" itemLabel="Sim"></f:selectItem>
											        			<f:ajax />
											        		</h:selectOneMenu>
											        	</div>
											        	<div class="col-xs-3 col-sm-3 col-md-3">
											        		Não Contr. Pacote:
											        		<h:selectOneMenu styleClass="form-control" value="#{beanPreCadastroCboPCMSO.snSemPacotes}" >
											        			<f:selectItem itemValue="N" itemLabel="Não"></f:selectItem>
											        			<f:selectItem itemValue="S" itemLabel="Sim"></f:selectItem>
											        			<f:ajax />
											        		</h:selectOneMenu>
											        	</div>
											        	
										        	</div>
											        
											      </div>
											      <div class="modal-footer">
											        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
											        <h:commandLink action="#{beanPreCadastroCboPCMSO.processoRelatorioBeneficiariosCentroCusto()}" styleClass="btn btn-default" >
											        	Emitir
											        	<f:ajax onevent="function carregando(event) {
											        		if( event.status == 'complete' ) {
											        			abreRelatorio();
											        		}
											        	}" />
											        </h:commandLink>
											      </div>
											    </div>
											  </div>
											</div>
											
										</h:form>
									</div>
							  	</div>
							  	<div role="tabpanel" class="tab-pane active" id="lista">
							  		<br /><br /><br />
									<h:form id="formBenef">
										<div style="width: 98%; margin-top: -60px" align="right">
											<a class="btn btn-default" role="button" data-toggle="collapse" href="#filtroBeneficiario" aria-expanded="false" aria-controls="filtroBeneficiario">
											  <span class="fa fa-search" style="margin-top: 3px"></span> Pesquisar
											</a>
										</div>
										<div class="collapse" id="filtroBeneficiario">
											<br />
											<div class="row">
												<div class="col-xs-3 col-sm-3 col-md-3">
													Pesquisar por Cartão:
													<h:inputText styleClass="form-control" value="#{beanPreCadastroCboPCMSO.cdCartaoPesquisa}">
														
													</h:inputText>
												</div>
												<div class="col-xs-3 col-sm-3 col-md-3">
													Pesquisar por Nome:
													<h:inputText styleClass="form-control" value="#{beanPreCadastroCboPCMSO.dsNomePesquisa}">
													
													</h:inputText>
												</div>
												<div class="col-xs-4 col-sm-2 col-md-2">
													<br />
													<h:commandLink style="height: 32px" styleClass="btn btn-success" action="#{beanPreCadastroCboPCMSO.pesquisaBeneficiario()}">
														<span class="fa fa-search" style="margin-top: 3px"></span>
													</h:commandLink>
													<h:commandLink style="height: 32px" styleClass="btn btn-default" action="#{beanPreCadastroCboPCMSO.limparFiltro()}">
														Limpar Filtro
													</h:commandLink>
												</div>
											</div>
										</div>
							
										
										<br />
										<div class="row">
		
											<div class="col-xs-12 col-sm-12 col-md-12">
												<div class="table-responsive">
													<p:dataTable
														value="#{beanBeneficiariosPCMSO.listagem}" var="l"
														rows="25" paginator="true"
														paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
														rowsPerPageTemplate="25,50,100"
														tableStyleClass="table table-hover"
														style="font-size: 13px">
		
														<p:column headerText="Cartão" width="150"
															style="font-size: 13px;">
															#{l.cdBeneficiarioCartao}
															<!-- Modal -->
															<div class="modal fade" id="myModal_#{l.cdBeneficiarioCartao}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
															  <div class="modal-dialog" role="document">
															    <div class="modal-content">
															      <div class="modal-header">
															        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
															        <h4 class="modal-title" id="myModalLabel">Solicitar Exclusão</h4>
															      </div>
															      <div class="modal-body">
															        Solicitando Exclusão de: #{l.dsNome}<br />
															        <div class="row">
															        	<div class="col-xs-4 col-sm-4 col-md-4">
																        	Motivo de Exclusão:<br />
																	        <h:selectOneMenu styleClass="form-control" value="#{beanPreCadastroCboPCMSO.idMotivoExclusaoSelecionado}">
																	        	<f:selectItems value="#{beanPreCadastroCboPCMSO.listaMotivoExclusao}" var="l" itemLabel="#{l.dsMotivoExclusao}" itemValue="#{l.idMotivoExclusao}" ></f:selectItems>
																	        	<f:ajax />
																	        </h:selectOneMenu>
																	    </div>
																	    <div class="col-xs-4 col-sm-4 col-md-4">
																        	Data de Exclusão
																        	<h:inputText styleClass="form-control validaData" value="#{beanPreCadastroCboPCMSO.dtExclusaoSelecionada}">
																        		<f:ajax />
																        	</h:inputText>
																        </div>
																        <div class="col-xs-4 col-sm-4 col-md-4">
																        	Data de Demissão
																        	<h:inputText styleClass="form-control validaData" value="#{beanPreCadastroCboPCMSO.dtDemissaoSelecionada}">
																        		<f:ajax />
																        	</h:inputText>
																        </div> 
															        </div>
															        
															      </div>
															      <div class="modal-footer">
															        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
															        <h:commandLink styleClass="btn btn-primary" action="#{beanPreCadastroCboPCMSO.selecionaBeneficiarioParaExclusao(l)}">
															        	Solicitar Exclusão
															        	<f:ajax/>
															        </h:commandLink>
															        
															      </div>
															    </div>
															  </div>
															</div>
														</p:column>
		
														<p:column headerText="Nome"
															style="font-size: 13px;">
															#{l.dsNome}
														</p:column>
														
														<p:column headerText="Data Inclusão" width="150"
															style="font-size: 13px; text-align: center">
															#{l.dtInclusao}
														</p:column>
		
														<p:column headerText="Data Exclusão" width="150"
															style="font-size: 13px; text-align: center">
															#{l.dtExclusao}
														</p:column>
														
														<p:column headerText="" width="100" style="font-size: 13px; text-align: right">
															
															<h:panelGroup rendered="#{l.dtExclusao == null }">
																<h:commandLink title="Editar Beneficiário" styleClass="btn btn-link" style="margin-top: -5px; margin-bottom: -10px; margin-left: -15px;" action="#{beanBeneficiariosPCMSO.selecionaBeneficiario(l)}">
																	<span class="fa fa-pencil" style="font-size: 13px;"></span>
																</h:commandLink>
															</h:panelGroup>
															<h:panelGroup rendered="#{l.dtExclusao != null }">
																<h:commandLink styleClass="btn btn-link disabled" disabled="true" style="margin-top: -5px; margin-bottom: -10px; margin-left: -15px;">
																	<span class="fa fa-pencil" style="font-size: 13px;"></span>
																</h:commandLink>
															</h:panelGroup>
															
														</p:column>
														
		
													</p:dataTable>
												</div>
		
											</div>
										</div>
									</h:form>
								</div>
							
							</div>
							
						  </div>
						
						</div>
						
	                </div>
	            </div>

			</section>
		</div>

		<baixo:baixoAdm />
		<sidebar:sidebarDireita />

	</div>
	<!-- ./wrapper -->

	<h:outputScript library="plugins/jQuery" name="jquery-2.2.3.min.js" />
	<h:outputScript library="bootstrap/js" name="bootstrap.min.js" />

	<h:outputScript library="js" name="app.min.js" />
	<h:outputScript library="js" name="jquery-2.1.0.min.js" />
	<h:outputScript library="js" name="jquery.maskedinput.js" />
	<h:outputScript library="js" name="bootstrap.min.js" />
	<h:outputScript library="js" name="mascaras.js" />
	<h:outputScript library="js" name="jquery.dtCalendario.js" />
	
	 <script>
	 
	 	function abreRelatorio() {
	 		window.open('/PortalEmpresaPCMSO/relatorio.relatorioPdf', '_blank');
	 	}	
	 
	 	function abreBenefPorData() {
	 		$('#benefPorData').modal('show');
	 	}
	 	
	 	function abreBenefPorLotacao() {
	 		$('#benefPorLotacao').modal('show');
	 	}
	 	
	 	function abreBenefPorMovimento() {
	 		$('#benefPorMovimento').modal('show');
	 	}
	 
	 	function vaiPara( prm ) {
	 		$('.' + prm ).focus();
	 	}
    	function adicionaItem() {
    		$('.btnNovoIem').click();
    		var height = $('html, body').height();

    		$('html, body').animate({scrollTop: height}, 'slow');
    	}
    	
    	var numeroGuia = $('.numeroGuia');
    	var modoCobranca = $('.modoCobranca');
    	var codUsuario = $('.codUsuario');
    	var nrAutorizacao = $('.nrAutorizacao');
    	var data = $('.dataAtendimento');
    	var tipoAtendimento = $('.tipoAtendimento');
    	var nomeBeneficiario = $('.nomeBeneficiario');
    	var dataAutorizacao = $('.dataAutorizacao');
    	
    	
    	if( numeroGuia.val() == '' ) {
    		numeroGuia.focus();
    	} else {
    		if( codUsuario.val() != '' ) {
    			if( nomeBeneficiario.val() == '' ) {
    				nomeBeneficiario.focus();
    			} else {
    				if( data.val() == '' ) {
    					data.focus();
    				} else {
   						if( nrAutorizacao.val() == '' ) {
   							tipoAtendimento.focus();
		    			} else { 
			    			if( dataAutorizacao.val() == '' ) {
			    				dataAutorizacao.focus();
			    			}
		    			}
    				}
    			}
    		} else {
    			modoCobranca.focus();	
    		}
    	}
    
    </script>

</h:body>
</html>