
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:topo="http://java.sun.com/jsf/composite/topo"
	xmlns:sidebar="http://java.sun.com/jsf/composite/sidebar"
	xmlns:baixo="http://java.sun.com/jsf/composite/baixo"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
	#{usuarioLogado.onLoad()}
<h:head>

	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Portal Empresa PCMSO</title>

	<meta
		content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
		name="viewport" />

	<h:outputStylesheet library="bootstrap/css" name="bootstrap.min.css" />

	<h:outputStylesheet library="css" name="font-awesome.min.css" />
	<h:outputStylesheet library="css" name="ionicons.min.css" />

	<h:outputStylesheet library="css" name="AdminLTE.min.css" />
	<h:outputStylesheet library="css/skins" name="skin-green.min.css" />

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	  <![endif]-->

	<style>
.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td {
	border-style: none;
}

.tblPrestador {
	width: 100px
}

.tblNome {
	width: 110px
}

.tblAFT {
	width: 50px
}

.tblProcedimento {
	width: 100px
}

.tblDescricao {
	width: 300px
}

.tblQuantidade {
	width: 60px
}

.tblValor {
	width: 80px
}

.tblBtnAdd {
	width: 40px
}

.ui-paginator-page {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}
/*Alinear a la derecha*/
</style>

</h:head>
<h:body class="skin-green sidebar-mini sidebar-collapse">
	<div class="wrapper">
		
		<topo:topo />

		<sidebar:sidebar />
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					Manutenção de Beneficiários
				</h1>
				<ol class="breadcrumb">
					<li>
						<h:form>
							<h:commandLink styleClass="btn btn-link"  action="#{beanBeneficiariosPCMSO.cancelar()}">
								<i class="fa fa-dashboard"></i> Listagem
								<f:ajax />
							</h:commandLink>
						</h:form>
					</li>
				</ol>

			</section>

			<!-- Main content -->
			<section class="content">

				<div class="container-fluid">
				<br />
		        <div class="col-xs-12 col-sm-12 col-md-12">
		            <div class="panel panel-default">
		                
		                <div class="panel-body">
							<div class="container-fluid">
								<h:form prependId="false">
									<h:panelGroup rendered="#{beanBeneficiariosPCMSO.msgAoUsuario != null}">
										<div class="row">
											<div class="alert alert-success alert-dismissible fade in"
												role="alert" align="center">
												<h:commandLink class="close" data-dismiss="alert" aria-label="Close" action="#{beanDigitacaoDeNotas.limpaMensagem()}">
													X
													<f:setPropertyActionListener target="#{beanBeneficiariosPCMSO.msgAoUsuario}" value="null"></f:setPropertyActionListener>
												</h:commandLink>
												#{beanBeneficiariosPCMSO.msgAoUsuario}
											</div>
										</div>	
									</h:panelGroup>
									<div class="row">
										<div class="col-xs-3 col-md-3">
											Cartão:
											<h:inputText disabled="true" id="codigo" styleClass="form-control"  value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiario.cdFamilia}" >
												<f:ajax />
											</h:inputText>
											<h:message for="codigo"></h:message>
										</div>
										
										<div class="col-xs-9 col-md-9">
											Nome:
											<h:inputText disabled="true" id="nome"  styleClass="form-control"  value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiario.dsNome}">
												<f:ajax />
											</h:inputText>
											<h:message for="nome"></h:message>
										</div>
										
									</div>
									<br />
									<div class="row">
										<div>
										  <ul class="nav nav-tabs" role="tablist">
										    <li role="presentation" class="active"><a href="#dadosBeneficiario" aria-controls="home" role="tab" data-toggle="tab">Cadastro</a></li>
										    <li role="presentation"><a href="#dadosPessoais" aria-controls="home" role="tab" data-toggle="tab">Pessoais</a></li>
										    <li role="presentation"><a href="#dadosPCMSO" aria-controls="profile" role="tab" data-toggle="tab">Saúde Ocupacional</a></li>
										  </ul>
										  <!-- Tab panes -->
										  <div class="tab-content">
										    <div role="tabpanel" class="tab-pane active" id="dadosBeneficiario">
												
												<div class="row">
													<div class="col-xs-3 col-md-3">
														Unimed:
														<h:inputText disabled="true" styleClass="form-control"  value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiario.cdUnimed}" >
															<f:ajax />
														</h:inputText>
													</div>
													
													<div class="col-xs-4 col-md-4">
														Código Beneficiário:
														<h:inputText disabled="true" styleClass="form-control"  value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiario.cdBeneficiarioCartao}">
															<f:ajax />
														</h:inputText>
													</div>
													
													<div class="col-xs-4 col-md-4">
														Nome Abreviado:
														<h:inputText disabled="false" styleClass="form-control"  value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiario.dsNomeAbreviado}">
															<f:ajax />
														</h:inputText>
													</div>
													
												</div>
												<div class="row">
													<div class="col-xs-12 col-md-12">
														Nome:
														<h:inputText disabled="false" styleClass="form-control"  value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiario.dsNome}" >
															<f:ajax />
														</h:inputText>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-2 col-md-2">
														Empresa:
														<h:inputText disabled="true" styleClass="form-control"  value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiario.cdEmpresa}" >
															<f:ajax />
														</h:inputText>
													</div>
													<div class="col-xs-4 col-md-4">
														<br />
														<h:inputText disabled="true" styleClass="form-control"  value="#{beanBeneficiariosPCMSO.getNomeEmpresa( beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiario.cdUnimed, beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiario.idEmpresa )}" >
															<f:ajax />
														</h:inputText>
													</div>
													<div class="col-xs-2 col-md-2">
														Família:
														<h:inputText disabled="true" styleClass="form-control"  value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiario.cdFamilia}" >
															<f:ajax />
														</h:inputText>
													</div>
													<div class="col-xs-1 col-md-1">
														Dependência:
														<h:inputText disabled="true" styleClass="form-control"  value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiario.cdDependencia}" >
															<f:ajax />
														</h:inputText>
													</div>
													<div class="col-xs-3 col-md-3">
														<br />
														<h:inputText disabled="true" styleClass="form-control"  value="#{beanBeneficiariosPCMSO.getDependencia( beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiario.cdDependencia )}" >
															<f:ajax />
														</h:inputText>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-2 col-md-2">
														Data de Nascimento:
														<h:inputText disabled="false" styleClass="form-control"  value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiario.dtNascimento}" >
															<f:ajax />
														</h:inputText>
													</div>
													<div class="col-xs-4 col-md-4">
														Idade:
														<h:inputText disabled="true" styleClass="form-control"  value="#{beanBeneficiariosPCMSO.getIdade( beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiario.dtNascimento )}" >
															<f:ajax />
														</h:inputText>
													</div>
													<div class="col-xs-2 col-md-2">
														Grupo Carência:
														<h:inputText disabled="false" styleClass="form-control"  value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiario.idGrupoCarencia}" >
															<f:ajax />
														</h:inputText>
													</div>
													<div class="col-xs-4 col-md-4">
														<br />
														<h:inputText disabled="true" styleClass="form-control"  value="#{beanBeneficiariosPCMSO.getGrupoCarencia( beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiario.idGrupoCarencia )}" >
															<f:ajax />
														</h:inputText>
													</div>
												</div>
												
												<div class="row">
													<div class="col-xs-6 col-md-6">
														<div class="row">
															<div class="col-xs-6 col-md-6">
																Data Inclusão:
																<h:inputText disabled="false" styleClass="form-control"  value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiario.dtInclusao}" >
																	<f:ajax />
																</h:inputText>
															</div>
															<div class="col-xs-6 col-md-6">
																Data Cobrança:
																<h:inputText disabled="false" styleClass="form-control"  value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiario.dtInclusaoCobranca}" >
																	<f:ajax />
																</h:inputText>
															</div>
															<div class="col-xs-6 col-md-6">
																Adesão ao Plano:
																<h:inputText disabled="false" styleClass="form-control"  value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiario.dtInclusaoPlano}" >
																	<f:ajax />
																</h:inputText>
															</div>
															<div class="col-xs-6 col-md-6">
																Data Exclusão:
																<h:inputText disabled="false" styleClass="form-control"  value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiario.dtExclusao}" >
																	<f:ajax />
																</h:inputText>
															</div>
														</div>
													</div>
													<div class="col-xs-6 col-md-6">
														<div class="row">
															<div class="col-xs-6 col-md-6">
																Ultima Reinclusão:
																<h:inputText disabled="true" styleClass="form-control"  value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiario.dtUltimaReinclusao}" >
																	<f:ajax />
																</h:inputText>
															</div>
															<div class="col-xs-6 col-md-6">
																Ultima Exclusão:
																<h:inputText disabled="true" styleClass="form-control"  value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiario.dtUltimaExclusao}" >
																	<f:ajax />
																</h:inputText>
															</div>
															<div class="col-xs-6 col-md-6">
																Adaptação migração:
																<h:inputText disabled="true" styleClass="form-control"  value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiario.dtMigracaoAdaptacao}" >
																	<f:ajax />
																</h:inputText>
															</div>
														</div>
													</div>
															
												</div>
												<div class="row">
													<div class="col-xs-2 col-md-2">
														Contrato:
														<h:inputText disabled="false" styleClass="form-control"  value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiario.nrContratoPlano}" >
															<f:ajax />
														</h:inputText>
													</div>
													<div class="col-xs-2 col-md-2">
														Item:
														<h:inputText disabled="false" styleClass="form-control"  value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiario.nrItemPlano}" >
															<f:ajax />
														</h:inputText>
													</div>
													<div class="col-xs-2 col-md-2">
														Plano:
														<h:inputText disabled="false" styleClass="form-control"  value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiario.cdPlano}" >
															<f:ajax />
														</h:inputText>
													</div>
													<div class="col-xs-1 col-md-1">
														Lotação:
														<h:inputText disabled="false" styleClass="form-control"  value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiario.idLotacao}" >
															<f:ajax />
														</h:inputText>
													</div>
													<div class="col-xs-2 col-md-2">
														<br />
														<h:inputText disabled="false" styleClass="form-control"  value="#{beanBeneficiariosPCMSO.getNmLotacao( beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiario )}" >
															<f:ajax />
														</h:inputText>
													</div>
												</div>
				
											</div>
											<div role="tabpanel" class="tab-pane" id="dadosPessoais">
												
												<div class="row">
													<div class="col-xs-2 col-md-2">
														CPF:
														<h:inputText styleClass="form-control"  value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiario.cdCpf}" >
															<f:ajax />
														</h:inputText>
													</div>
													<div class="col-xs-2 col-md-2">
														RG:
														<h:inputText styleClass="form-control"  value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiario.cdRg}" >
															<f:ajax />
														</h:inputText>
													</div>
													<div class="col-xs-2 col-md-2">
														Emissor RG:
														<h:inputText styleClass="form-control"  value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiario.dsOrgaoEmissorRg}" >
															<f:ajax />
														</h:inputText>
													</div>
													<div class="col-xs-2 col-md-2">
														País RG:
														<h:selectOneMenu styleClass="form-control" value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiario.cdPaisRg}">
															<f:selectItem itemLabel="Selecione" itemValue="" />
															<f:selectItems value="#{beanBeneficiariosPCMSO.listaPais}" var="l" itemValue="#{l.cdPais}" itemLabel="#{l.cdPais} - #{l.dsNomePais}" ></f:selectItems>
															<f:ajax />
														</h:selectOneMenu>
														
													</div>
													<div class="col-xs-4 col-md-4">
														Estado RG:
														<h:selectOneMenu styleClass="form-control" value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiario.cdEstadoRg}">
															<f:selectItem itemLabel="Selecione" itemValue="" />
															<f:selectItems value="#{beanBeneficiariosPCMSO.listaEstados}" var="l" itemValue="#{l.cdEstado}" itemLabel="#{l.dsEstado}" ></f:selectItems>
															<f:ajax />
														</h:selectOneMenu>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-2 col-md-2">
														Estado Civil:
														 <h:selectOneMenu styleClass="form-control" value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiario.tpEstadoCivil}">
															<f:selectItem itemLabel="Selecione" itemValue="" />
															<f:selectItem itemLabel="Solteiro" itemValue="S" />
															<f:selectItem itemLabel="Casado" itemValue="M" />
															<f:selectItem itemLabel="Viuvo" itemValue="W" />
															<f:selectItem itemLabel="Divorciado" itemValue="D" />
															<f:selectItem itemLabel="Apartado" itemValue="A" />
															<f:selectItem itemLabel="União Estável" itemValue="U" />
															<f:ajax />
														</h:selectOneMenu>
													</div>
													<div class="col-xs-4 col-md-4">
														Código do PIS/PASEP:
														<h:inputText styleClass="form-control"  value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiario.cdPisPasep}" >
															<f:ajax />
														</h:inputText>
													</div>
													<div class="col-xs-2 col-md-2">
														CNS:
														<h:inputText styleClass="form-control"  value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiario.cdCns}" >
															<f:ajax />
														</h:inputText>
													</div>
												</div>
												
												<div class="row">
													<div class="col-xs-6 col-md-6">
														Logradouro:
														<h:inputText styleClass="form-control"  value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiario.dsLogradouro}" >
															<f:ajax />
														</h:inputText>
													</div>
													<div class="col-xs-2 col-md-2">
														Número:
														<h:inputText styleClass="form-control"  value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiario.dsNumeroLogradouro}" >
															<f:ajax />
														</h:inputText>
													</div>
													<div class="col-xs-4 col-md-4">
														Complemento:
														<h:inputText styleClass="form-control"  value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiario.dsComplementoLogradouro}" >
															<f:ajax />
														</h:inputText>
													</div>
												</div>
												
												<div class="row">
													<div class="col-xs-12 col-md-12">
														Bairro:
														<h:inputText styleClass="form-control"  value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiario.dsBairro}" >
															<f:ajax />
														</h:inputText>
													</div>
												</div>
												
												<div class="row">
													<div class="col-xs-2 col-md-2">
														Estado Residência:
														<h:selectOneMenu styleClass="form-control" value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiario.cdEstadoResidencia}">
															<f:selectItem itemLabel="Selecione" itemValue="" />
															<f:selectItems value="#{beanBeneficiariosPCMSO.listaEstados}" var="l" itemValue="#{l.cdEstado}" itemLabel="#{l.dsEstado}" ></f:selectItems>
															<f:ajax render="listaCidades" listener="#{beanBeneficiariosPCMSO.selecionaEstado( beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiario.cdEstadoResidencia )}" />
														</h:selectOneMenu>
														
													</div>
													<div class="col-xs-2 col-md-2">
														Cidade:
														<h:panelGroup id="listaCidades">
															<h:selectOneMenu styleClass="form-control" value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiario.idCidadeResidencia}">
																<f:selectItem itemLabel="Selecione" itemValue="" />
																<f:selectItems value="#{beanBeneficiariosPCMSO.listaCidades}" var="l" itemValue="#{l.idCidade}" itemLabel="#{l.dsCidade}" ></f:selectItems>
																<f:ajax />
															</h:selectOneMenu>
														</h:panelGroup>
													</div>
													<div class="col-xs-2 col-md-2">
														CEP:
														<h:inputText styleClass="form-control"  value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiario.cdCepResidencia}" >
															<f:ajax />
														</h:inputText>
													</div>
													<div class="col-xs-2 col-md-2">
														Telefone:
														<h:inputText styleClass="form-control"  value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiario.dsTelefone}" >
															<f:ajax />
														</h:inputText>
													</div>
													<div class="col-xs-4 col-md-4">
														Filial Empresa:
														<h:selectOneMenu styleClass="form-control" value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiario.idFilial}">
															<f:selectItem itemLabel="Selecione" itemValue="" />
															<f:selectItems value="#{beanBeneficiariosPCMSO.listaFiliais}" var="l" itemValue="#{l.idFilial}" itemLabel="#{l.nrCnpj} - #{l.dsFilial}" ></f:selectItems>
															<f:ajax />
														</h:selectOneMenu>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-8 col-md-8">
														Nome da Mãe:
														<h:inputText styleClass="form-control"  value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiario.dsNomeDaMae}" >
															<f:ajax />
														</h:inputText>
													</div>
													<div class="col-xs-4 col-md-4">
														Telefone Alternativo:
														<h:inputText styleClass="form-control"  value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiario.dsTelefoneAlternativo}" >
															<f:ajax />
														</h:inputText>
													</div>
													
												</div>
												
											</div>
										    <div role="tabpanel" class="tab-pane" id="dadosPCMSO">
												<div>
												  <!-- Nav tabs -->
												  <ul class="nav nav-tabs" role="tablist">
												    <li role="presentation" class="active"><a href="#dados" aria-controls="home" role="tab" data-toggle="tab">Dados</a></li>
												    <li role="presentation"><a href="#riscos" aria-controls="profile" role="tab" data-toggle="tab">Riscos</a></li>
												    <li role="presentation"><a href="#exames" aria-controls="messages" role="tab" data-toggle="tab">Exames</a></li>
												  </ul>
												
												  <!-- Tab panes -->
												  <div class="tab-content">
												    <div role="tabpanel" class="tab-pane active" id="dados">
														<div class="row">
															<div class="col-xs-2 col-md-2">
																CBO:
																<h:selectOneMenu styleClass="form-control" value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiarioCbo.cdCbo}">
																	<f:selectItem itemLabel="Selecione" itemValue="" />
																	<f:selectItems value="#{beanBeneficiariosPCMSO.listaCbo}" var="l" itemValue="#{l.cdCbo}" itemLabel="#{l.cdCbo} #{l.nmCbo}" ></f:selectItems>
																	<f:ajax />
																</h:selectOneMenu>
															</div>
															<div class="col-xs-2 col-md-2">
																Função:
																<h:selectOneMenu styleClass="form-control" value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiarioCbo.idFuncao}">
																	<f:selectItem itemLabel="Selecione" itemValue="" />
																	<f:selectItems value="#{beanBeneficiariosPCMSO.listaFuncao}" var="l" itemValue="#{l.idFuncao}" itemLabel="#{l.dsFuncao}" ></f:selectItems>
																	<f:ajax />
																</h:selectOneMenu>
															</div>
															<div class="col-xs-2 col-md-2">
																Cargo:
																<h:selectOneMenu styleClass="form-control" value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiarioCbo.idCargo}">
																	<f:selectItem itemLabel="Selecione" itemValue="" />	
																	<f:selectItems value="#{beanBeneficiariosPCMSO.listaCargo}" var="l" itemValue="#{l.idCargo}" itemLabel="#{l.dsCargo}" ></f:selectItems>
																	<f:ajax />
																</h:selectOneMenu>
															</div>
															<div class="col-xs-2 col-md-2">
																Setor:
																<h:selectOneMenu styleClass="form-control" value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiarioCbo.idSetor}">
																	<f:selectItem itemLabel="Selecione" itemValue="" />
																	<f:selectItems value="#{beanBeneficiariosPCMSO.listaSetor}" var="l" itemValue="#{l.idSetor}" itemLabel="#{l.dsSetor}" ></f:selectItems>
																	<f:ajax />
																</h:selectOneMenu>
															</div>
															<div class="col-xs-2 col-md-2">
																Altura:
																<h:inputText styleClass="form-control" value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiarioCbo.vlAltura}" >
																	<f:ajax />
																</h:inputText>
															</div>
															
															<div class="col-xs-2 col-md-2">
																Peso:
																<h:inputText styleClass="form-control" value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiarioCbo.vlPeso}" >
																	<f:ajax />
																</h:inputText>
															</div>
														</div>
														<div class="row">
															<div class="col-xs-12 col-md-12">
																Atividade:
																<h:inputTextarea styleClass="form-control" value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiarioCbo.dsAtividade}" >
																	<f:ajax />
																</h:inputTextarea>
															</div>
														</div>
														<div class="row">
															
															<div class="col-xs-2 col-md-2">
																Data Admissão:
																<h:inputText styleClass="form-control validaData" value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiarioCbo.dtAdmissao}" >
																	<f:ajax />
																</h:inputText>
															</div>
															
															<div class="col-xs-2 col-md-2">
																Possui Deficiência:
																<h:selectOneMenu styleClass="form-control"  value="#{beanBeneficiariosPCMSO.snPossuiDeficienciaCbo}">
																	<f:selectItem itemLabel="Não" itemValue="N" />
																	<f:selectItem itemLabel="Sim" itemValue="S" />
																	<f:ajax />
																</h:selectOneMenu>
															</div>
															<div class="col-xs-2 col-md-2">
																CTPS:
																<h:inputText styleClass="form-control" value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiarioCbo.nrCtps}" >
																	<f:ajax />
																</h:inputText>
															</div>
															
															<div class="col-xs-2 col-md-2">
																Serie(UF):
																<h:inputText  styleClass="form-control" value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiarioCbo.nrSerieUf}">
																	<f:ajax />
																</h:inputText>
																<h:message for="nome"></h:message>
															</div>
															<div class="col-xs-2 col-md-2">
																Função Anterior:
																<h:selectOneMenu styleClass="form-control" value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.beneficiarioCbo.idFuncaoAnterior}">
																	<f:selectItem itemLabel="Selecione" itemValue="" />
																	<f:selectItems value="#{beanBeneficiariosPCMSO.listaFuncao}" var="l" itemValue="#{l.idFuncao}" itemLabel="#{l.dsFuncao}" ></f:selectItems>
																	<f:ajax />
																</h:selectOneMenu>
																
															</div>
															
														</div>
														<div class="row">
															<div class="col-xs-3 col-md-3">
																Trabalho em Altura:
																<h:selectOneMenu id="snTrabalhoAltura" required="false" requiredMessage="Campo obrigatório." styleClass="form-control"  value="#{beanBeneficiariosPCMSO.snTrabalhoEmAltura}">
																	<f:selectItem itemLabel="Não" itemValue="N" />
																	<f:selectItem itemLabel="Sim" itemValue="S" />
																	<f:ajax />
																</h:selectOneMenu>
															</div>
															<div class="col-xs-3 col-md-3">
																Trabalho em Espaço Confinado:
																<h:selectOneMenu id="snTrabalhoConfinado" required="false" requiredMessage="Campo obrigatório." styleClass="form-control"  value="#{beanBeneficiariosPCMSO.snEspacoConfinado}">
																	<f:selectItem itemLabel="Não" itemValue="N" />
																	<f:selectItem itemLabel="Sim" itemValue="S" />
																	<f:ajax />
																</h:selectOneMenu>
															</div>
														</div>
														<br />
														<br />
														
													</div>
												    <div role="tabpanel" class="tab-pane" id="riscos">
												    	<div class="row">
															<div class="col-xs-12 col-md-12" align="right">
																<br />
																<span onclick="addEdicaoRisco();" class="btn btn-primary" style="margin-top: 0px; margin-bottom: 0px; margin-left: -15px; cursor:pointer">
																	<span class="fa fa-plus" style="font-size: 13px;"></span> Adicionar Risco
																</span>
															</div>
														</div>
														<div class="row">
															<div class="col-xs-12 col-md-12">
																<h:dataTable value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.riscos}" var="r" styleClass="table table-condensed" >
																	<h:column>
																		<f:facet name="header">Código</f:facet>
																		#{r.idRisco}
																	</h:column>
																	<h:column>
																		<f:facet name="header">Descrição</f:facet>
																		#{beanBeneficiariosPCMSO.getRiscoList(r).dsRisco}
																	</h:column>
																	<h:column>
																		<f:facet name="header">Tipo</f:facet>
																		#{beanBeneficiariosPCMSO.getRiscoList(r).tpRisco}
																	</h:column>
																	<h:column>
																		<f:facet name="header">Inclusão</f:facet>
																		#{r.dtInclusao}
																	</h:column>
																	<h:column>
																		<f:facet name="header">Exclusão</f:facet>
																		#{r.dtExclusao}
																	</h:column>
																	
																	<h:column>
																		<f:facet name="header"></f:facet>
																		<h:commandLink onclick="abreEdicaoRisco();" title="Editar Risco" styleClass="btn btn-link" style="margin-top: 0px; margin-bottom: 0px; margin-left: -15px;" action="#{beanBeneficiariosPCMSO.selecionaRiscoEdicao(r)}">
																			<span class="fa fa-pencil" style="font-size: 13px;"></span>
																			<f:ajax />
																		</h:commandLink>
																		<h:commandLink title="Editar Risco" styleClass="btn btn-link" style="margin-top: 0px; margin-bottom: 0px; margin-left: -15px;" action="#{beanBeneficiariosPCMSO.excluiRiscoSelecionado(r)}">
																			<span class="fa fa-trash" style="font-size: 13px;"></span>
																			<f:ajax />
																		</h:commandLink>
																	</h:column>
																</h:dataTable>
																
																<div class="modal fade" id="abreEdicaoRisco" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
																  <div class="modal-dialog" role="document">
																    <div class="modal-content">
																      <div class="modal-header">
																        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
																        <h4 class="modal-title" id="myModalLabel">Relatório de Beneficiários por Data</h4>
																      </div>
																      <div class="modal-body">
																      	<div class="row">
																        	<div class="col-xs-12 col-sm-12 col-md-12">
																        		<p:dataTable
																					value="#{beanPreCadastroCboPCMSO.listaRiscos}" var="r"
																					rows="25" paginator="true"
																					paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
																					rowsPerPageTemplate="25,50,100"
																					tableStyleClass="table table-hover"
																					style="font-size: 13px">
																					
																					<p:column headerText="Código" width="50"
																						style="font-size: 13px;">
																						#{r.idRisco}
																					</p:column>
																					<p:column headerText="Descrição" width="250"
																						style="font-size: 13px;">
																						#{r.dsRisco}
																					</p:column>
																					
																					<p:column headerText="Tipo" width="50"
																						style="font-size: 13px;">
																						#{r.tpRisco}
																					</p:column>
																					
																					<p:column headerText="" width="120">
																						<h:commandLink title="Editar Risco" styleClass="btn btn-link" style="margin-top: 0px; margin-bottom: 0px; margin-left: -15px;" action="#{beanBeneficiariosPCMSO.adicionaRiscoSelecionado(r)}">
																							<span class="fa fa-plus" style="font-size: 13px;"></span> Selecionar
																							<f:ajax />
																						</h:commandLink>
																					</p:column>
																					
																				</p:dataTable>
																        	</div>
																        </div>
																      </div>
																    </div>
																   </div>
																  </div>
																  <div class="modal fade" id="addEdicaoRisco" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
																	  <div class="modal-dialog" role="document">
																	    <div class="modal-content">
																	      <div class="modal-header">
																	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
																	        <h4 class="modal-title" id="myModalLabel">Relatório de Beneficiários por Data</h4>
																	      </div>
																	      <div class="modal-body">
																	      	<div class="row">
																	        	<div class="col-xs-12 col-sm-12 col-md-12">
																	        		<p:dataTable
																						value="#{beanPreCadastroCboPCMSO.listaRiscos}" var="r"
																						rows="25" paginator="true"
																						paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
																						rowsPerPageTemplate="25,50,100"
																						tableStyleClass="table table-hover"
																						style="font-size: 13px">
																						
																						<p:column headerText="Código"
																							style="font-size: 13px;">
																							#{r.idRisco}
																						</p:column>
																						<p:column headerText="Descrição"
																							style="font-size: 13px;">
																							#{r.dsRisco}
																						</p:column>
																						
																						<p:column headerText="Tipo"
																							style="font-size: 13px;">
																							#{r.tpRisco}
																						</p:column>
																						
																						<p:column headerText="Tipo"
																							style="font-size: 13px;">
																							#{r.tpRisco}
																						</p:column>
																						
																						<p:column headerText="">
																							<h:commandLink title="Editar Risco" styleClass="btn btn-link" style="margin-top: 0px; margin-bottom: 0px; margin-left: -15px;" action="#{beanBeneficiariosPCMSO.adicionaRiscoSelecionado(r)}">
																								<span class="fa fa-check" style="font-size: 13px;"></span>
																								<f:ajax />
																							</h:commandLink>
																						</p:column>
																						
																					</p:dataTable>
																	        	</div>
																	        </div>
																	      </div>
																	    </div>
																	   </div>
																  </div>
																 
															</div>	
														</div>
													</div>
												    <div role="tabpanel" class="tab-pane" id="exames">
												    	<div class="row">
															<div class="col-xs-12 col-md-12">
																<h:dataTable value="#{beanBeneficiariosPCMSO.beneficiarioSelecionado.exames}" var="r" styleClass="table table-condensed" >
																	<h:column>
																		<f:facet name="header">Código</f:facet>
																		#{r.cdProcedimento}
																	</h:column>
																	<h:column>
																		<f:facet name="header">Procedimento</f:facet>
																		#{beanBeneficiariosPCMSO.getNomeProcedimento(r.cdProcedimento)}
																	</h:column>
																	<h:column>
																		<f:facet name="header">Mês Reali. Exame</f:facet>
																		#{r.nrMesExame}
																	</h:column>
																	<h:column>
																		<f:facet name="header">Mês pós Inclusão</f:facet>
																		#{r.nrMesAposInclusao}
																	</h:column>
																	<h:column>
																		<f:facet name="header"></f:facet>
																		<h:commandLink onclick="abreEdicaoExames('#{r.cdProcedimento}');" title="Editar Risco" styleClass="btn btn-link" style="margin-top: 0px; margin-bottom: 0px; margin-left: -15px;" action="#{beanBeneficiariosPCMSO.selecionaExameEdicao(r)}">
																			<span class="fa fa-pencil" style="font-size: 13px;"></span>
																			<f:ajax />
																		</h:commandLink>
																		<h:commandLink title="Exclui Risco" styleClass="btn btn-link" style="margin-top: 0px; margin-bottom: 0px; margin-left: -15px;" action="#{beanBeneficiariosPCMSO.excluiExameSelecionado(r)}">
																			<span class="fa fa-trash" style="font-size: 13px;"></span>
																			<f:ajax />
																		</h:commandLink>
																		
																			<div class="modal fade" id="abreEdicaoExames_#{r.cdProcedimento}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
																			  <div class="modal-dialog" role="document">
																			    <div class="modal-content">
																			      <div class="modal-header">
																			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
																			        <h4 class="modal-title" id="myModalLabel">Relatório de Beneficiários por Data</h4>
																			      </div>
																			      <div class="modal-body">
																			      	<h:panelGroup id="formEditar">
																				      	<div class="row">
																				        	<div class="col-xs-3 col-sm-3 col-md-3">
																					      		Código:
																				        		<h:inputText id="formCodigo" styleClass="form-control" value="#{r.cdProcedimento}">
																									<f:ajax render="nomeExame" />
																								</h:inputText>
																				        	</div>
																				        	<div class="col-xs-8 col-sm-9 col-md-9">
																				        		Nome:
																				        		<h:panelGroup id="nomeExame">
																				        			<h:inputText styleClass="form-control disabled" disabled="true" value="#{beanBeneficiariosPCMSO.getNomeProcedimento(r.cdProcedimento)}">
																										<f:ajax />
																									</h:inputText>
																				        		</h:panelGroup>
																				        	</div>
																				        </div>
																			        	<div class="row">
																				        	<div class="col-xs-6 col-sm-6 col-md-6">
																				        		Número Mês Exame
																				        		<h:inputText styleClass="form-control"  value="#{r.nrMesExame}">
																									<f:ajax />
																								</h:inputText>
																				        	</div>
																				        	<div class="col-xs-6 col-sm-6 col-md-6">
																				        		Número Mês Exame
																				        		<h:inputText styleClass="form-control" value="#{r.nrMesAposInclusao}">
																									<f:ajax />
																								</h:inputText>
																				        	</div>
																				        </div>
																				        <div class="row">
																				        	<div class="col-xs-12 col-sm-12 col-md-12" align="center">
																				        		<br /><br />
																				        		<h:commandLink title="Exclui Risco" styleClass="btn btn-success" style="margin-top: 0px; margin-bottom: 0px; margin-left: -15px;" action="#{beanBeneficiariosPCMSO.alteraExameSelecionado(r)}">
																									<span class="fa fa-save" style="font-size: 13px;"></span> Salvar
																									<f:ajax />
																								</h:commandLink>
																				        	</div>
																				        </div>
																				     </h:panelGroup>
																			      </div>
																			    </div>
																		   </div>
																	  </div>
																		
																	</h:column>
																	
																	
																</h:dataTable>
																
															</div>
														</div>
													</div>
												  </div>
											  </div>
											  
												
											</div>
										  </div>
										</div>
										<br /><br />
										<div align="center" style="width: 100%">
											<h:commandLink styleClass="btn btn-default"  value="Cancelar" action="#{beanBeneficiariosPCMSO.cancelar()}">
												<f:ajax />
											</h:commandLink>
											<h:commandLink styleClass="btn btn-primary"  value="Salvar" action="#{beanBeneficiariosPCMSO.salvarBeneficiarioAtivo()}" style="margin-left: 10px;">
												<f:ajax />
											</h:commandLink>
										</div>
									</div>
									
									
								</h:form>
							</div>
							
		                </div>
		            </div>
		        </div>
		    </div>

			</section>
		</div>
		
		

		<baixo:baixoAdm />
		<sidebar:sidebarDireita />

	</div>
	<!-- ./wrapper -->

	<h:outputScript library="plugins/jQuery" name="jquery-2.2.3.min.js" />
	<h:outputScript library="bootstrap/js" name="bootstrap.min.js" />

	<h:outputScript library="js" name="app.min.js" />
	<h:outputScript library="js" name="jquery-2.1.0.min.js" />
	<h:outputScript library="js" name="jquery.maskedinput.js" />
	<h:outputScript library="js" name="bootstrap.min.js" />
	<h:outputScript library="js" name="mascaras.js" />
	<h:outputScript library="js" name="jquery.dtCalendario.js" />
	<script>
		function abreEdicaoRisco() {
	 		$('#abreEdicaoRisco').modal('show');
	 	}
		
		function addEdicaoRisco() {
	 		$('#addEdicaoRisco').modal('show');
	 	}
		
		function abreEdicaoExames(prm) {
			$('#abreEdicaoExames_' + prm ).modal('show');
		}
		
	</script>
	
</h:body>
</html>