
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:topo="http://java.sun.com/jsf/composite/topo"
	xmlns:sidebar="http://java.sun.com/jsf/composite/sidebar"
	xmlns:baixo="http://java.sun.com/jsf/composite/baixo"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
	#{usuarioLogado.onLoad()}
<h:head>

	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Portal Empresa PCMSO</title>

	<meta
		content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
		name="viewport" />

	<h:outputStylesheet library="bootstrap/css" name="bootstrap.min.css" />
	
	<h:outputStylesheet library="css" name="font-awesome.min.css" />
	<h:outputStylesheet library="css" name="ionicons.min.css" />

	<h:outputStylesheet library="css" name="AdminLTE.min.css" />
	<h:outputStylesheet library="css/skins" name="skin-green.min.css" />

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	  <![endif]-->

	<style>
.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td {
	border-style: none;
}

.tblPrestador {
	width: 100px
}

.tblNome {
	width: 110px
}

.tblAFT {
	width: 50px
}

.tblProcedimento {
	width: 100px
}

.tblDescricao {
	width: 300px
}

.tblQuantidade {
	width: 60px
}

.tblValor {
	width: 80px
}

.tblBtnAdd {
	width: 40px
}

.ui-paginator-page {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}
/*Alinear a la derecha*/
</style>

</h:head>
<h:body class="skin-green sidebar-mini sidebar-collapse">
	<div class="wrapper">
		
		<topo:topo />
		
		#{beanPreCadastroCboPCMSO.inic()}

		<sidebar:sidebarDireita />
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					Manutenção de Beneficiário - Reinclusão
				</h1>
				<ol class="breadcrumb">
					<li>
						<h:form>
							<h:commandLink styleClass="btn btn-link"  action="#{beanPreCadastroCboPCMSO.cancelar()}">
								<i class="fa fa-dashboard"></i> Listagem
								<f:ajax />
							</h:commandLink>
						</h:form>
					</li>
				</ol>

			</section>

			<!-- Main content -->
			<section class="content">

				<div class="container-fluid">
				<br />
		        <div class="col-xs-12 col-sm-12 col-md-12">
		            <div class="panel panel-default">
		                
		                <div class="panel-body">
		                	<h:panelGroup id="msgAoUsuario" rendered="#{beanPreCadastroCboPCMSO.msgAoUsuario != null}">
		               			<h:form id="mensagem">
									<div class="row">
										<div class="alert alert-#{beanPreCadastroCboPCMSO.msgAoUsuario.contains('Ops!') ? 'danger':'success'} alert-dismissible fade in"
											role="alert" align="center">
											<h:commandLink class="close" data-dismiss="alert" aria-label="Close" action="#{beanDigitacaoDeNotas.limpaMensagem()}">
												X
												<f:setPropertyActionListener target="#{beanPreCadastroCboPCMSO.msgAoUsuario}" value="null"></f:setPropertyActionListener>
											</h:commandLink>
											#{beanPreCadastroCboPCMSO.msgAoUsuario}
										</div>
									</div>	
								</h:form>
							</h:panelGroup>
							
							<div class="container-fluid">
								<h:form>
									<div class="row">
										<div class="col-xs-3 col-md-3">
											Cartão:
											<h:inputText disabled="true" id="codigo" styleClass="form-control"  value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiario.cdFamilia}" >
												<f:ajax />
											</h:inputText>
											<h:message for="codigo"></h:message>
										</div>
										
										<div class="col-xs-9 col-md-9">
											Nome:
											<h:inputText disabled="true" id="nome"  styleClass="form-control"  value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiario.dsNome}">
												<f:ajax />
											</h:inputText>
											<h:message for="nome"></h:message>
										</div>
										
									</div>
									<br />
									<div class="row">
										<div>
										  <ul class="nav nav-tabs" role="tablist">
										    <li role="presentation" class="active"><a href="#dadosBeneficiario" aria-controls="home" role="tab" data-toggle="tab">Cadastro</a></li>
										    <li role="presentation"><a href="#dadosPessoais" aria-controls="home" role="tab" data-toggle="tab">Pessoais</a></li>
										    <li role="presentation"><a href="#dadosPCMSO" aria-controls="profile" role="tab" data-toggle="tab">Saúde Ocupacional</a></li>
										  </ul>
										  <!-- Tab panes -->
										  <div class="tab-content">
										    <div role="tabpanel" class="tab-pane active" id="dadosBeneficiario">
												
												<div class="row">
													<div class="col-xs-3 col-md-3">
														Unimed:
														<h:inputText disabled="true" styleClass="form-control"  value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiario.cdUnimed}" >
															<f:ajax />
														</h:inputText>
													</div>
													
													<div class="col-xs-4 col-md-4">
														Código Beneficiário:
														<h:inputText disabled="true" styleClass="form-control"  value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiario.cdBeneficiarioCartao}">
															<f:ajax />
														</h:inputText>
													</div>
													
													<div class="col-xs-4 col-md-4">
														Nome Abreviado:
														<h:inputText disabled="true" styleClass="form-control"  value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiario.dsNomeAbreviado}">
															<f:ajax />
														</h:inputText>
													</div>
													
												</div>
												<div class="row">
													<div class="col-xs-12 col-md-12">
														Nome:
														<h:inputText disabled="true" styleClass="form-control"  value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiario.dsNome}" >
															<f:ajax />
														</h:inputText>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-2 col-md-2">
														Empresa:
														<h:panelGroup id="cdEmpresaCartao">
															<h:inputText disabled="false" styleClass="form-control validaEmpresa"  value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiario.cdEmpresa}" >
																<f:ajax render="dsNomeEmpresaCartao" listener="#{beanPreCadastroCboPCMSO.atualizaEmpresa()}"/>
															</h:inputText>
														</h:panelGroup>
													</div>
													<div class="col-xs-4 col-md-4">
														<br />
														<h:panelGroup id="dsNomeEmpresaCartao">
															<h:inputText disabled="true" styleClass="form-control"  value="#{beanPreCadastroCboPCMSO.getNomeEmpresa( beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiario.cdUnimed, beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiario.idEmpresa )}" >
																<f:ajax />
															</h:inputText>
														</h:panelGroup>
													</div>
													<div class="col-xs-2 col-md-2">
														Família:
														<h:panelGroup id="cdFamiliaCartao">
															<h:inputText disabled="false" styleClass="form-control validaFamilia"  value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiario.cdFamilia}" >
																<f:ajax listener="#{beanPreCadastroCboPCMSO.atualizaFamilia()}"/>
															</h:inputText>
														</h:panelGroup>
													</div>
													<div class="col-xs-1 col-md-1">
														Dependência:
														<h:panelGroup id="cdDependenciaCartao">
															<h:inputText disabled="false" styleClass="form-control validaDependencia"  value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiario.cdDependencia}" >
																<f:ajax  render="@this nmDependenciaCartao" listener="#{beanPreCadastroCboPCMSO.atualizaDependencia()}"/>
															</h:inputText>
														</h:panelGroup>
													</div>
													<div class="col-xs-3 col-md-3">
														<br />
														<h:panelGroup id="nmDependenciaCartao">
															<h:inputText disabled="true" styleClass="form-control"  value="#{beanPreCadastroCboPCMSO.getDependencia( beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiario.cdDependencia )}" >
																<f:ajax />
															</h:inputText>
														</h:panelGroup>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-2 col-md-2">
														Data de Nascimento:
														<h:inputText disabled="true" styleClass="form-control"  value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiario.dtNascimento}" >
															<f:ajax />
														</h:inputText>
													</div>
													<div class="col-xs-4 col-md-4">
														Idade:
														<h:inputText disabled="true" styleClass="form-control"  value="#{beanPreCadastroCboPCMSO.getIdade( beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiario.dtNascimento )}" >
															<f:ajax />
														</h:inputText>
													</div>
													<div class="col-xs-2 col-md-2">
														Grupo Carência:
														<h:inputText disabled="true" styleClass="form-control"  value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiario.idGrupoCarencia}" >
															<f:ajax />
														</h:inputText>
													</div>
													<div class="col-xs-4 col-md-4">
														<br />
														<h:inputText disabled="true" styleClass="form-control"  value="#{beanPreCadastroCboPCMSO.getGrupoCarencia( beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiario.idGrupoCarencia )}" >
															<f:ajax />
														</h:inputText>
													</div>
												</div>
												
												<div class="row">
													<div class="col-xs-6 col-md-6">
														<div class="row">
															<div class="col-xs-6 col-md-6">
																Data Inclusão:
																<h:inputText disabled="false" styleClass="form-control"  value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiario.dtInclusao}" >
																	<f:ajax />
																</h:inputText>
															</div>
															<div class="col-xs-6 col-md-6">
																Data Cobrança:
																<h:inputText disabled="false" styleClass="form-control"  value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiario.dtInclusaoCobranca}" >
																	<f:ajax />
																</h:inputText>
															</div>
															<div class="col-xs-6 col-md-6">
																Adesão ao Plano:
																<h:inputText disabled="false" styleClass="form-control"  value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiario.dtInclusaoPlano}" >
																	<f:ajax />
																</h:inputText>
															</div>
															<div class="col-xs-6 col-md-6">
																Data Exclusão:
																<h:inputText disabled="true" styleClass="form-control"  value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiario.dtExclusao}" >
																	<f:ajax />
																</h:inputText>
															</div>
														</div>
													</div>
													<div class="col-xs-6 col-md-6">
														<div class="row">
															<div class="col-xs-6 col-md-6">
																Ultima Reinclusão:
																<h:inputText disabled="true" styleClass="form-control"  value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiario.dtUltimaReinclusao}" >
																	<f:ajax />
																</h:inputText>
															</div>
															<div class="col-xs-6 col-md-6">
																Ultima Exclusão:
																<h:inputText disabled="true" styleClass="form-control"  value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiario.dtUltimaExclusao}" >
																	<f:ajax />
																</h:inputText>
															</div>
															<div class="col-xs-6 col-md-6">
																Adaptação migração:
																<h:inputText disabled="true" styleClass="form-control"  value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiario.dtMigracaoAdaptacao}" >
																	<f:ajax />
																</h:inputText>
															</div>
														</div>
													</div>
															
												</div>
												<div class="row">
													<div class="col-xs-2 col-md-2">
														Contrato:
														<h:inputText disabled="true" styleClass="form-control"  value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiario.nrContratoPlano}" >
															<f:ajax />
														</h:inputText>
													</div>
													<div class="col-xs-2 col-md-2">
														Item:
														<h:inputText disabled="true" styleClass="form-control"  value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiario.nrItemPlano}" >
															<f:ajax />
														</h:inputText>
													</div>
													<div class="col-xs-2 col-md-2">
														Plano:
														<h:inputText disabled="true" styleClass="form-control"  value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiario.cdPlano}" >
															<f:ajax />
														</h:inputText>
													</div>
													<div class="col-xs-6 col-md-6">
														Lotação:
														
														<h:selectOneMenu styleClass="form-control" value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiario.idLotacao}">
															<f:selectItems value="#{beanPreCadastroCboPCMSO.listaLotacao}" var="l" itemValue="#{l.idLotacao}" itemLabel="#{l.dsLotacao} (#{l.idLotacao})" />
															<f:ajax />
														</h:selectOneMenu>
													</div>
												</div>
				
											</div>
											<div role="tabpanel" class="tab-pane" id="dadosPessoais">
												
												<div class="row">
													<div class="col-xs-2 col-md-2">
														CPF:
														<h:inputText styleClass="form-control"  value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiario.cdCpf}" >
															<f:ajax />
														</h:inputText>
													</div>
													<div class="col-xs-2 col-md-2">
														RG:
														<h:inputText styleClass="form-control"  value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiario.cdRg}" >
															<f:ajax />
														</h:inputText>
													</div>
													<div class="col-xs-2 col-md-2">
														Emissor RG:
														<h:inputText styleClass="form-control"  value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiario.dsOrgaoEmissorRg}" >
															<f:ajax />
														</h:inputText>
													</div>
													<div class="col-xs-2 col-md-2">
														País RG:
														<h:selectOneMenu styleClass="form-control" value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiario.cdPaisRg}">
															<f:selectItem itemLabel="Selecione" itemValue="" />
															<f:selectItems value="#{beanPreCadastroCboPCMSO.listaPais}" var="l" itemValue="#{l.cdPais}" itemLabel="#{l.cdPais} - #{l.dsNomePais}" ></f:selectItems>
															<f:ajax />
														</h:selectOneMenu>
														
													</div>
													<div class="col-xs-4 col-md-4">
														Estado RG:
														<h:selectOneMenu styleClass="form-control" value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiario.cdEstadoRg}">
															<f:selectItem itemLabel="Selecione" itemValue="" />
															<f:selectItems value="#{beanPreCadastroCboPCMSO.listaEstados}" var="l" itemValue="#{l.cdEstado}" itemLabel="#{l.dsEstado}" ></f:selectItems>
															<f:ajax />
														</h:selectOneMenu>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-2 col-md-2">
														Estado Civil:
														 <h:selectOneMenu styleClass="form-control" value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiario.tpEstadoCivil}">
															<f:selectItem itemLabel="Selecione" itemValue="" />
															<f:selectItem itemLabel="Solteiro" itemValue="S" />
															<f:selectItem itemLabel="Casado" itemValue="M" />
															<f:selectItem itemLabel="Viuvo" itemValue="W" />
															<f:selectItem itemLabel="Divorciado" itemValue="D" />
															<f:selectItem itemLabel="Apartado" itemValue="A" />
															<f:selectItem itemLabel="União Estável" itemValue="U" />
															<f:ajax />
														</h:selectOneMenu>
													</div>
													<div class="col-xs-4 col-md-4">
														Código do PIS/PASEP:
														<h:inputText styleClass="form-control"  value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiario.cdPisPasep}" >
															<f:ajax />
														</h:inputText>
													</div>
													<div class="col-xs-2 col-md-2">
														CNS:
														<h:inputText styleClass="form-control"  value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiario.cdCns}" >
															<f:ajax />
														</h:inputText>
													</div>
												</div>
												
												<div class="row">
													<div class="col-xs-6 col-md-6">
														Logradouro:
														<h:inputText styleClass="form-control"  value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiario.dsLogradouro}" >
															<f:ajax />
														</h:inputText>
													</div>
													<div class="col-xs-2 col-md-2">
														Número:
														<h:inputText styleClass="form-control"  value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiario.dsNumeroLogradouro}" >
															<f:ajax />
														</h:inputText>
													</div>
													<div class="col-xs-4 col-md-4">
														Complemento:
														<h:inputText styleClass="form-control"  value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiario.dsComplementoLogradouro}" >
															<f:ajax />
														</h:inputText>
													</div>
												</div>
												
												<div class="row">
													<div class="col-xs-12 col-md-12">
														Bairro:
														<h:inputText styleClass="form-control"  value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiario.dsBairro}" >
															<f:ajax />
														</h:inputText>
													</div>
												</div>
												
												<div class="row">
													<div class="col-xs-2 col-md-2">
														Estado Residência:
														<h:selectOneMenu styleClass="form-control" value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiario.cdEstadoResidencia}">
															<f:selectItem itemLabel="Selecione" itemValue="" />
															<f:selectItems value="#{beanPreCadastroCboPCMSO.listaEstados}" var="l" itemValue="#{l.cdEstado}" itemLabel="#{l.dsEstado}" ></f:selectItems>
															<f:ajax render="listaCidades" listener="#{beanPreCadastroCboPCMSO.selecionaEstado( beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiario.cdEstadoResidencia )}" />
														</h:selectOneMenu>
														
													</div>
													<div class="col-xs-2 col-md-2">
														Cidade:
														<h:panelGroup id="listaCidades">
															<h:selectOneMenu styleClass="form-control" value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiario.idCidadeResidencia}">
																<f:selectItem itemLabel="Selecione" itemValue="" />
																<f:selectItems value="#{beanPreCadastroCboPCMSO.listaCidades}" var="l" itemValue="#{l.idCidade}" itemLabel="#{l.dsCidade}" ></f:selectItems>
																<f:ajax />
															</h:selectOneMenu>
														</h:panelGroup>
													</div>
													<div class="col-xs-2 col-md-2">
														CEP:
														<h:inputText styleClass="form-control"  value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiario.cdCepResidencia}" >
															<f:ajax />
														</h:inputText>
													</div>
													<div class="col-xs-2 col-md-2">
														Telefone:
														<h:inputText styleClass="form-control"  value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiario.dsTelefone}" >
															<f:ajax />
														</h:inputText>
													</div>
													<div class="col-xs-4 col-md-4">
														Filial Empresa:
														<h:selectOneMenu styleClass="form-control" value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiario.idFilial}">
															<f:selectItem itemLabel="Selecione" itemValue="" />
															<f:selectItems value="#{beanPreCadastroCboPCMSO.listaFiliais}" var="l" itemValue="#{l.idFilial}" itemLabel="#{l.nrCnpj} - #{l.dsFilial}" ></f:selectItems>
															<f:ajax />
														</h:selectOneMenu>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-8 col-md-8">
														Nome da Mãe:
														<h:inputText styleClass="form-control"  value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiario.dsNomeDaMae}" >
															<f:ajax />
														</h:inputText>
													</div>
													<div class="col-xs-4 col-md-4">
														Telefone Alternativo:
														<h:inputText styleClass="form-control"  value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiario.dsTelefoneAlternativo}" >
															<f:ajax />
														</h:inputText>
													</div>
													
												</div>
												
											</div>
										    <div role="tabpanel" class="tab-pane" id="dadosPCMSO">
												<div>
												  <!-- Nav tabs -->
												  <ul class="nav nav-tabs" role="tablist">
												    <li role="presentation" class="active"><a href="#dados" aria-controls="home" role="tab" data-toggle="tab">Dados</a></li>
												    <li role="presentation"><a href="#riscos" aria-controls="profile" role="tab" data-toggle="tab">Riscos</a></li>
												    <li role="presentation"><a href="#exames" aria-controls="messages" role="tab" data-toggle="tab">Exames</a></li>
												  </ul>
												
												  <!-- Tab panes -->
												  <div class="tab-content">
												    <div role="tabpanel" class="tab-pane active" id="dados">
														<div class="row">
															<div class="col-xs-2 col-md-2">
																CBO:
																<h:selectOneMenu styleClass="form-control" value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiarioCbo.cdCbo}">
																	<f:selectItem itemLabel="Selecione" itemValue="" />
																	<f:selectItems value="#{beanPreCadastroCboPCMSO.listaCbo}" var="l" itemValue="#{l.cdCbo}" itemLabel="#{l.cdCbo} #{l.nmCbo}" ></f:selectItems>
																	<f:ajax />
																</h:selectOneMenu>
															</div>
															<div class="col-xs-2 col-md-2">
																Função:
																<h:selectOneMenu styleClass="form-control" value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiarioCbo.idFuncao}">
																	<f:selectItem itemLabel="Selecione" itemValue="" />
																	<f:selectItems value="#{beanPreCadastroCboPCMSO.listaFuncao}" var="l" itemValue="#{l.idFuncao}" itemLabel="#{l.dsFuncao}" ></f:selectItems>
																	<f:ajax />
																</h:selectOneMenu>
															</div>
															<div class="col-xs-2 col-md-2">
																Cargo:
																<h:selectOneMenu styleClass="form-control" value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiarioCbo.idCargo}">
																	<f:selectItem itemLabel="Selecione" itemValue="" />	
																	<f:selectItems value="#{beanPreCadastroCboPCMSO.listaCargo}" var="l" itemValue="#{l.idCargo}" itemLabel="#{l.dsCargo}" ></f:selectItems>
																	<f:ajax />
																</h:selectOneMenu>
															</div>
															<div class="col-xs-2 col-md-2">
																Setor:
																<h:selectOneMenu styleClass="form-control" value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiarioCbo.idSetor}">
																	<f:selectItem itemLabel="Selecione" itemValue="" />
																	<f:selectItems value="#{beanPreCadastroCboPCMSO.listaSetor}" var="l" itemValue="#{l.idSetor}" itemLabel="#{l.dsSetor}" ></f:selectItems>
																	<f:ajax />
																</h:selectOneMenu>
															</div>
															<div class="col-xs-2 col-md-2">
																Altura:
																<h:inputText styleClass="form-control" value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiarioCbo.vlAltura}" >
																	<f:ajax />
																</h:inputText>
															</div>
															
															<div class="col-xs-2 col-md-2">
																Peso:
																<h:inputText styleClass="form-control" value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiarioCbo.vlPeso}" >
																	<f:ajax />
																</h:inputText>
															</div>
														</div>
														<div class="row">
															<div class="col-xs-12 col-md-12">
																Atividade:
																<h:inputTextarea styleClass="form-control" value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiarioCbo.dsAtividade}" >
																	<f:ajax />
																</h:inputTextarea>
															</div>
														</div>
														<div class="row">
															
															<div class="col-xs-2 col-md-2">
																Data Admissão:
																<h:inputText styleClass="form-control validaData" value="#{beanPreCadastroCboPCMSO.dtAdmissaoCbo}" >
																	<f:ajax />
																</h:inputText>
															</div>
															
															<div class="col-xs-2 col-md-2">
																Possui Deficiência:
																<h:selectOneMenu styleClass="form-control"  value="#{beanPreCadastroCboPCMSO.snPossuiDeficienciaCbo}">
																	<f:selectItem itemLabel="Não" itemValue="N" />
																	<f:selectItem itemLabel="Sim" itemValue="S" />
																	<f:ajax />
																</h:selectOneMenu>
															</div>
															<div class="col-xs-2 col-md-2">
																CTPS:
																<h:inputText styleClass="form-control" value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiarioCbo.nrCtps}" >
																	<f:ajax />
																</h:inputText>
															</div>
															
															<div class="col-xs-2 col-md-2">
																Serie(UF):
																<h:inputText  styleClass="form-control" value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiarioCbo.nrSerieUf}">
																	<f:ajax />
																</h:inputText>
																<h:message for="nome"></h:message>
															</div>
															<div class="col-xs-2 col-md-2">
																Função Anterior:
																<h:selectOneMenu styleClass="form-control" value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.beneficiarioCbo.idFuncaoAnterior}">
																	<f:selectItem itemLabel="Selecione" itemValue="" />
																	<f:selectItems value="#{beanPreCadastroCboPCMSO.listaFuncao}" var="l" itemValue="#{l.idFuncao}" itemLabel="#{l.dsFuncao}" ></f:selectItems>
																	<f:ajax />
																</h:selectOneMenu>
																
															</div>
															
														</div>
														<div class="row">
															<div class="col-xs-3 col-md-3">
																Trabalho em Altura:
																<h:selectOneMenu id="snTrabalhoAltura" required="false" requiredMessage="Campo obrigatório." styleClass="form-control"  value="#{beanPreCadastroCboPCMSO.snTrabalhoEmAltura}">
																	<f:selectItem itemLabel="Não" itemValue="N" />
																	<f:selectItem itemLabel="Sim" itemValue="S" />
																	<f:ajax />
																</h:selectOneMenu>
															</div>
															<div class="col-xs-3 col-md-3">
																Trabalho em Espaço Confinado:
																<h:selectOneMenu id="snTrabalhoConfinado" required="false" requiredMessage="Campo obrigatório." styleClass="form-control"  value="#{beanPreCadastroCboPCMSO.snEspacoConfinado}">
																	<f:selectItem itemLabel="Não" itemValue="N" />
																	<f:selectItem itemLabel="Sim" itemValue="S" />
																	<f:ajax />
																</h:selectOneMenu>
															</div>
														</div>
														<br />
														<br />
														
													</div>
												    <div role="tabpanel" class="tab-pane" id="riscos">
														<div class="row">
															<div class="col-xs-12 col-md-12">
																<h:dataTable value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.riscos}" var="r" styleClass="table table-condensed" >
																	<h:column>
																		<f:facet name="header">Código</f:facet>
																		#{r.idRisco}
																	</h:column>
																	<h:column>
																		<f:facet name="header">Descrição</f:facet>
																		#{beanPreCadastroCboPCMSO.getNomeRisco( r.idRisco )}
																	</h:column>
																	<h:column>
																		<f:facet name="header">Inclusão</f:facet>
																		#{r.dtInclusao}
																	</h:column>
																	<h:column>
																		<f:facet name="header">Exclusão</f:facet>
																		#{r.dtExclusao}
																	</h:column>
																</h:dataTable>
															</div>
														</div>
													</div>
												    <div role="tabpanel" class="tab-pane" id="exames">
												    	<div class="row">
															<div class="col-xs-12 col-md-12">
																<h:dataTable value="#{beanPreCadastroCboPCMSO.beneficiarioSelecionado.exames}" var="r" styleClass="table table-condensed" >
																	<h:column>
																		<f:facet name="header">Código</f:facet>
																		#{r.cdProcedimento}
																	</h:column>
																	<h:column>
																		<f:facet name="header">Procedimento</f:facet>
																		#{beanPreCadastroCboPCMSO.getNomeProcedimento(r.cdProcedimento)}
																	</h:column>
																	<h:column>
																		<f:facet name="header">Mês Reali. Exame</f:facet>
																		#{r.nrMesExame}
																	</h:column>
																	<h:column>
																		<f:facet name="header">Mês pós Inclusão</f:facet>
																		#{r.nrMesAposInclusao}
																	</h:column>
																</h:dataTable>
															</div>
														</div>
													</div>
												  </div>
											  </div>
											  
												
											</div>
										  </div>
										</div>
										<br /><br />
										<div align="center" style="width: 100%">
											<h:commandLink styleClass="btn btn-default"  value="Cancelar" action="#{beanPreCadastroCboPCMSO.cancelarEdicao()}">
												<f:ajax />
											</h:commandLink>
											<h:commandLink styleClass="btn btn-primary"  value="Solicitar Reinclusão" action="#{beanPreCadastroCboPCMSO.salvarBeneficiarioReinclusao()}" style="margin-left: 10px;">
												<f:ajax />
											</h:commandLink>
										</div>
									</div>
									
									<h:panelGroup id="scrip">
										<h:outputScript library="plugins/jQuery" name="jquery-2.2.3.min.js" />
										<h:outputScript library="bootstrap/js" name="bootstrap.min.js" />
									
										<h:outputScript library="js" name="app.min.js" />
										<h:outputScript library="js" name="jquery-2.1.0.min.js" />
										<h:outputScript library="js" name="jquery.maskedinput.js" />
										<h:outputScript library="js" name="bootstrap.min.js" />
										<h:outputScript library="js" name="mascaras.js" />
										<h:outputScript library="js" name="jquery.dtCalendario.js" />
									</h:panelGroup>
									
								</h:form>
							</div>
							
		                </div>
		            </div>
		        </div>
		    </div>

			</section>
		</div>

		<baixo:baixoAdm />
		<sidebar:sidebarDireita />

	</div>
	
</h:body>
</html>