
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:topo="http://java.sun.com/jsf/composite/topo"
	xmlns:sidebar="http://java.sun.com/jsf/composite/sidebar"
	xmlns:baixo="http://java.sun.com/jsf/composite/baixo"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
	#{usuarioLogado.onLoad()}
	#{beanPreCadastroCboPCMSO.inic()}
<h:head>

	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Portal Empresa PCMSO</title>

	<meta
		content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
		name="viewport" />

	<h:outputStylesheet library="bootstrap/css" name="bootstrap.min.css" />
	
	<h:outputStylesheet library="css" name="font-awesome.min.css" />
	<h:outputStylesheet library="css" name="ionicons.min.css" />
	
	<h:outputStylesheet library="css" name="AdminLTE.min.css" />
	<h:outputStylesheet library="css/skins" name="skin-green.min.css" />

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	  <![endif]-->

	<style>
.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td {
	border-style: none;
}

.tblPrestador {
	width: 100px
}

.tblNome {
	width: 110px
}

.tblAFT {
	width: 50px
}

.tblProcedimento {
	width: 100px
}

.tblDescricao {
	width: 300px
}

.tblQuantidade {
	width: 60px
}

.tblValor {
	width: 80px
}

.tblBtnAdd {
	width: 40px
}

.ui-paginator-page {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}
/*Alinear a la derecha*/
</style>

</h:head>
<h:body class="skin-green sidebar-mini sidebar-collapse">
	<div class="wrapper">
		
		<topo:topo />

		<sidebar:sidebarDireita />
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					Manutenção de Pré-Cadastro
				</h1>
				<ol class="breadcrumb">
					<li>
						<h:form>
							<h:commandLink styleClass="btn btn-link"  action="#{beanPreCadastroCboPCMSO.cancelarEdicao()}">
								<i class="fa fa-dashboard"></i> Listagem
								<f:ajax />
							</h:commandLink>
						</h:form>
					</li>
				</ol>

			</section>

			<!-- Main content -->
			<section class="content">

				<div class="container-fluid">
				<br />
		        <div class="col-xs-12 col-sm-12 col-md-12">
		            <div class="panel panel-default">
		                
		                <div class="panel-body">
		                	<h:panelGroup rendered="#{beanPreCadastroCboPCMSO.msgAoUsuario != null}">
		               			<h:form id="mensagem">
									<div class="row">
										<div class="alert alert-success alert-dismissible fade in"
											role="alert" align="center">
											<h:commandLink class="close" data-dismiss="alert" aria-label="Close" action="#{beanDigitacaoDeNotas.limpaMensagem()}">
												X
												<f:setPropertyActionListener target="#{beanPreCadastroCboPCMSO.msgAoUsuario}" value="null"></f:setPropertyActionListener>
											</h:commandLink>
											#{beanPreCadastroCboPCMSO.msgAoUsuario}
										</div>
									</div>	
								</h:form>
							</h:panelGroup>
							
							<div class="container-fluid">
								<h:form id="manutencao">
								
									<!-- Modal -->
									<div class="modal fade" id="lotacao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
									  <div class="modal-dialog" role="document" style="width:80%">
									    <div class="modal-content">
									      <div class="modal-header">
									        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">X</span></button>
									        <h4 class="modal-title" id="myModalLabel">Lotações</h4>
									      </div>
									      <div class="modal-body">
									      
									      	<div class="row">
									        	<div class="col-xs-4 col-sm-4 col-md-4">
									        		Código:
									        		<h:inputText styleClass="form-control" value="#{beanPreCadastroCboPCMSO.idLotacaoPesquisa}">
									        			<f:ajax />
									        		</h:inputText>
									        	</div>
									        	<div class="col-xs-4 col-sm-4 col-md-4">
									        		Descrição:
									        		<h:inputText styleClass="form-control" value="#{beanPreCadastroCboPCMSO.dsLotacaoPesquisa}">
									        			<f:ajax />
									        		</h:inputText>
									        	</div>
									        	<div class="col-xs-4 col-sm-4 col-md-4">
									        		<br />
									        		<h:commandLink styleClass="btn btn-default" action="#{beanPreCadastroCboPCMSO.pesquisaLotacao()}" >
									        			Pesquisar
									        			<f:ajax render="tblLotacao" />
									        		</h:commandLink>
									        	</div>
									        </div>
									        <br />
									        <br />
									        <div class="row">
									        	<div class="col-xs-12 col-sm-12 col-md-12">
									        		<h:panelGroup id="tblLotacao">
											        	<p:dataTable
															value="#{beanPreCadastroCboPCMSO.listaLotacao}" var="l"
															rows="10" paginator="true"
															paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
															rowsPerPageTemplate="10"
															tableStyleClass="table table-hover"
															style="font-size: 13px">
			
															<p:column headerText="Código" width="100"
																style="font-size: 13px;">
																#{l.idLotacao}
															</p:column>
															
															<p:column headerText="Descrição" 
																style="font-size: 13px;">
																#{l.dsLotacao}
															</p:column>
															<p:column headerText="" width="50" 
																style="font-size: 13px;">
																<h:commandLink onclick="$('#fecharModalLotacao').click();" title="Editar Beneficiário" styleClass="btn btn-link" style="margin-top: -5px; margin-bottom: -10px; margin-left: -15px;" action="#{beanPreCadastroCboPCMSO.setIdLotacao(l.idLotacao)}">
																	<span class="fa fa-share" style="font-size: 13px;"></span>
																	<f:ajax render="@form" />
																</h:commandLink>
																
															</p:column>
														</p:dataTable>
													</h:panelGroup>
										        </div>
										  </div>
									      </div>
									      <div class="modal-footer">
									        <button id="fecharModalLotacao" type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
									      </div>
									    </div>
									  </div>
									</div>
								
								
									<div class="row">
										<div class="col-xs-6 col-md-6">
											Nome:
											<h:inputText id="dsNome" required="true" dataBind="dsNome" 
												requiredMessage="Campo obrigatório." styleClass="form-control"
												value="#{beanPreCadastroCboPCMSO.preCadastroCboSelecionado.dsNome}">
												<f:ajax />
											</h:inputText>
											<h:message for="dsNome" style="font-size: 12px; color:red"></h:message>
										</div>
										<div class="col-xs-3 col-md-3">
											Data de Admissão:
											<h:inputText id="dtAdmissao" required="true" dataBind="dtAdmissao" requiredMessage="Campo obrigatório." styleClass="form-control validaData"
												value="#{beanPreCadastroCboPCMSO.dtAdmissao}">
												<f:ajax />
											</h:inputText>
											<h:message for="dtAdmissao" style="font-size: 12px; color:red"></h:message>
										</div>
										<div class="col-xs-3 col-md-3">
											ID:
											<h:inputText dataBind="idPreCadastro" disabled="true"
												requiredMessage="Campo obrigatório." styleClass="form-control"
												value="#{beanPreCadastroCboPCMSO.preCadastroCboSelecionado.idPreCadastro}">
												<f:ajax />
											</h:inputText>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-3 col-md-3">
											Sexo:
											<h:selectOneMenu id="tpSexo" requiredMessage="Campo obrigatóroi" required="true" dataBind="nrCrm"  styleClass="form-control" value="#{beanPreCadastroCboPCMSO.preCadastroCboSelecionado.tpSexo}">
												<f:selectItem itemLabel="Selecione" itemValue="" />
												<f:selectItem itemLabel="Masculino" itemValue="M" />
												<f:selectItem itemLabel="Feminino" itemValue="F" />
												<f:ajax />
											</h:selectOneMenu>
											<h:message for="tpSexo" style="font-size: 12px; color:red"></h:message>
										</div>
										<div class="col-xs-3 col-md-3">
											Data de Nascimento:
											<h:inputText id="dtNascimento" required="true" dataBind="dtNascimento" 
												requiredMessage="Campo obrigatório." styleClass="form-control validaData"
												value="#{beanPreCadastroCboPCMSO.dtNascimento}">
												<f:ajax />
											</h:inputText>
											<h:message for="dtNascimento" style="font-size: 12px; color:red"></h:message>
										</div>
										<div class="col-xs-2 col-md-2">
											CPF:
											<h:inputText id="nrCpf" required="true" dataBind="nrCpf" maxlength="12" 
												requiredMessage="Campo obrigatório." styleClass="form-control validaCpf"
												value="#{beanPreCadastroCboPCMSO.preCadastroCboSelecionado.nrCpf}">
												<f:ajax />
											</h:inputText>
											<h:message for="nrCpf" style="font-size: 12px; color:red"></h:message>
										</div>
										<div class="col-xs-2 col-md-2">
											RG:
											<h:inputText id="cdRg" required="true" dataBind="cdRg" maxlength="10" 
												requiredMessage="Campo obrigatório." styleClass="form-control validaRg"
												value="#{beanPreCadastroCboPCMSO.preCadastroCboSelecionado.cdRg}">
												<f:ajax />
											</h:inputText>
											<h:message for="cdRg" style="font-size: 12px; color:red"></h:message>
										</div>
										<div class="col-xs-2 col-md-2">
											Emissor:
											<h:inputText id="dsOrgaoEmissorRg" required="true" maxlength="255" 
												requiredMessage="Campo obrigatório." styleClass="form-control"
												value="#{beanPreCadastroCboPCMSO.preCadastroCboSelecionado.dsOrgaoEmissorRg}">
												<f:ajax />
											</h:inputText>
											<h:message for="dsOrgaoEmissorRg" style="font-size: 12px; color:red"></h:message>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-6 col-md-6">
											Nome da Mãe:
											<h:inputText id="dsNomeDaMae" required="true" maxlength="255" 
												requiredMessage="Campo obrigatório." styleClass="form-control"
												value="#{beanPreCadastroCboPCMSO.preCadastroCboSelecionado.dsNomeDaMae}">
												<f:ajax />
											</h:inputText>
											<h:message for="dsNomeDaMae" style="font-size: 12px; color:red"></h:message>
										</div>
										<div class="col-xs-2 col-md-2">
											PIS:
											<h:inputText id="nrPis" required="true" maxlength="11"
												requiredMessage="Campo obrigatório." styleClass="form-control"
												value="#{beanPreCadastroCboPCMSO.preCadastroCboSelecionado.nrPis}">
												<f:ajax />
											</h:inputText>
											<h:message for="nrPis" style="font-size: 12px; color:red"></h:message>
										</div>
										<div class="col-xs-2 col-md-2">
											CTPS:
											<h:inputText id="nrCtps" required="true" maxlength="7" 
												requiredMessage="Campo obrigatório." styleClass="form-control"
												value="#{beanPreCadastroCboPCMSO.preCadastroCboSelecionado.nrCtps}">
												<f:ajax />
											</h:inputText>
											<h:message for="nrCtps" style="font-size: 12px; color:red"></h:message>
										</div>
										<div class="col-xs-2 col-md-2">
											Serie:
											<h:inputText id="nrSerieUf" required="true" maxlength="5" 
												requiredMessage="Campo obrigatório." styleClass="form-control"
												value="#{beanPreCadastroCboPCMSO.preCadastroCboSelecionado.nrSerieUf}">
												<f:ajax />
											</h:inputText>
											<h:message for="nrSerieUf" style="font-size: 12px; color:red"></h:message>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-6 col-md-6">
											Logradouro Residência:
											<h:inputText id="dsLogradouro" required="true" maxlength="255" 
												requiredMessage="Campo obrigatório." styleClass="form-control"
												value="#{beanPreCadastroCboPCMSO.preCadastroCboSelecionado.dsLogradouro}">
												<f:ajax />
											</h:inputText>
											<h:message for="dsLogradouro" style="font-size: 12px; color:red"></h:message>
										</div>
										<div class="col-xs-2 col-md-2">
											Número
											<h:inputText id="dsNumeroLogradouro" required="true" maxlength="10" 
												requiredMessage="Campo obrigatório." styleClass="form-control validaNumero"
												value="#{beanPreCadastroCboPCMSO.preCadastroCboSelecionado.dsNumeroLogradouro}">
												<f:ajax />
											</h:inputText>
											<h:message for="dsNumeroLogradouro" style="font-size: 12px; color:red"></h:message>
										</div>
										<div class="col-xs-4 col-md-4">
											Complemento
											<h:inputText id="dsComplementoLogradouro" required="true"  maxlength="255"
												requiredMessage="Campo obrigatório." styleClass="form-control"
												value="#{beanPreCadastroCboPCMSO.preCadastroCboSelecionado.dsComplementoLogradouro}">
												<f:ajax />
											</h:inputText>
											<h:message for="dsComplementoLogradouro" style="font-size: 12px; color:red"></h:message>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-2 col-md-2">
											Lotação:
											<div class="input-group">
											
												<h:inputText id="idLotacao" required="true" requiredMessage="Campo obrigatório." styleClass="form-control validaLotacao" value="#{beanPreCadastroCboPCMSO.idLotacao}">
													<f:ajax render="dsLotacao" />
												</h:inputText>
													
												<span class="input-group-btn">
													<button class="btn btn-default" type="button" data-toggle="modal" data-target="#lotacao" style="height: 34px">
													  <span class="fa fa-search"></span>
													</button>
												</span>
											</div>
											<h:message for="idLotacao" style="font-size: 12px; color:red"></h:message>
										</div>
										<div class="col-xs-6 col-md-6">
											Lotação:
											<h:panelGroup id="dsLotacao">
												<h:inputText styleClass="form-control" disabled="true" value="#{beanPreCadastroCboPCMSO.dsLotacao}">
													<f:ajax />
												</h:inputText>
											</h:panelGroup>
										</div>
										<div class="col-xs-4 col-md-4">
											Filial Empresa:
											<h:selectOneMenu id="idFilial" required="false" requiredMessage="Campo obrigatório." styleClass="form-control" value="#{beanPreCadastroCboPCMSO.preCadastroCboSelecionado.idFilial}">
												<f:selectItem itemLabel="Selecione" itemValue="" />
												<f:selectItems value="#{beanPreCadastroCboPCMSO.listaFiliais}" var="l" itemValue="#{l.idFilial}" itemLabel="#{l.nrCnpj} - #{l.dsFilial}" ></f:selectItems>
												<f:ajax />
											</h:selectOneMenu>
											<h:message for="idFilial" style="font-size: 12px; color:red"></h:message>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-6 col-md-6">
											Bairro:
											<h:inputText id="dsBairro" required="true" 
												requiredMessage="Campo obrigatório." styleClass="form-control"
												value="#{beanPreCadastroCboPCMSO.preCadastroCboSelecionado.dsBairro}">
												<f:ajax />
											</h:inputText>
											<h:message for="dsBairro" style="font-size: 12px; color:red"></h:message>
										</div>
										<div class="col-xs-2 col-md-2">
											Estado:
											<h:selectOneMenu id="cdEstado" required="true" requiredMessage="Campo obrigatório." styleClass="form-control" value="#{beanPreCadastroCboPCMSO.preCadastroCboSelecionado.cdEstado}">
												<f:selectItem itemLabel="Selecione" itemValue="" />
												<f:selectItems value="#{beanPreCadastroCboPCMSO.listaEstados}" var="l" itemValue="#{l.cdEstado}" itemLabel="#{l.dsEstado}" ></f:selectItems>
												<f:ajax render="listaCidades" listener="#{beanPreCadastroCboPCMSO.selecionaEstado( beanPreCadastroCboPCMSO.preCadastroCboSelecionado.cdEstado )}" />
											</h:selectOneMenu>
											<h:message for="cdEstado" style="font-size: 12px; color:red"></h:message>
										</div>
										<div class="col-xs-4 col-md-4">
											Cidade:
											<h:panelGroup id="listaCidades">
												<h:selectOneMenu id="idCidade" required="true" requiredMessage="Campo obrigatório." styleClass="form-control" value="#{beanPreCadastroCboPCMSO.preCadastroCboSelecionado.idCidade}">
													<f:selectItem itemLabel="Selecione" itemValue="" />
													<f:selectItems value="#{beanPreCadastroCboPCMSO.listaCidades}" var="l" itemValue="#{l.idCidade}" itemLabel="#{l.dsCidade}" ></f:selectItems>
													<f:ajax />
												</h:selectOneMenu>
												<h:message for="idCidade" style="font-size: 12px; color:red"></h:message>
											</h:panelGroup>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-3 col-md-3">
											CBO:
											<h:selectOneMenu id="idCbo" required="true" requiredMessage="Campo obrigatório." styleClass="form-control" value="#{beanPreCadastroCboPCMSO.preCadastroCboSelecionado.cdCbo}">
												<f:selectItem itemLabel="Selecione" itemValue="" />
												<f:selectItems value="#{beanPreCadastroCboPCMSO.listaCbo}" var="l" itemValue="#{l.cdCbo}" itemLabel="#{l.cdCbo} #{l.nmCbo}" ></f:selectItems>
												<f:ajax />
											</h:selectOneMenu>
											<h:message for="idCbo" style="font-size: 12px; color:red"></h:message>
										</div>
										<div class="col-xs-3 col-md-3">
											Setor:
											<h:selectOneMenu id="idSetor" required="true" requiredMessage="Campo obrigatório." styleClass="form-control" value="#{beanPreCadastroCboPCMSO.preCadastroCboSelecionado.idSetor}">
												<f:selectItem itemLabel="Selecione" itemValue="" />
												<f:selectItems value="#{beanPreCadastroCboPCMSO.listaSetor}" var="l" itemValue="#{l.idSetor}" itemLabel="#{l.dsSetor}" ></f:selectItems>
												<f:ajax />
											</h:selectOneMenu>
											<h:message for="idSetor" style="font-size: 12px; color:red"></h:message>
										</div>
										<div class="col-xs-3 col-md-3">
											Função:
											<h:selectOneMenu id="idFuncao" required="true" requiredMessage="Campo obrigatório." styleClass="form-control" value="#{beanPreCadastroCboPCMSO.preCadastroCboSelecionado.idFuncao}">
												<f:selectItem itemLabel="Selecione" itemValue="" />
												<f:selectItems value="#{beanPreCadastroCboPCMSO.listaFuncao}" var="l" itemValue="#{l.idFuncao}" itemLabel="#{l.dsFuncao}" ></f:selectItems>
												<f:ajax />
											</h:selectOneMenu>
											<h:message for="idFuncao" style="font-size: 12px; color:red"></h:message>
										</div>
										<div class="col-xs-3 col-md-3">
											Cargo:
											<h:selectOneMenu id="idCargo" required="true" requiredMessage="Campo obrigatório." styleClass="form-control" value="#{beanPreCadastroCboPCMSO.preCadastroCboSelecionado.idCargo}">
												<f:selectItem itemLabel="Selecione" itemValue="" />	
												<f:selectItems value="#{beanPreCadastroCboPCMSO.listaCargo}" var="l" itemValue="#{l.idCargo}" itemLabel="#{l.dsCargo}" ></f:selectItems>
												<f:ajax />
											</h:selectOneMenu>
											<h:message for="idCargo" style="font-size: 12px; color:red"></h:message>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-3 col-md-3">
											Estado Civil:
											<h:selectOneMenu id="tpEstadoCivil" required="true" requiredMessage="Campo obrigatório." styleClass="form-control"  value="#{beanPreCadastroCboPCMSO.preCadastroCboSelecionado.tpEstadoCivil}">
												<f:selectItem itemLabel="Selecione" itemValue="" />
												<f:selectItem itemLabel="Solteiro" itemValue="S" />
												<f:selectItem itemLabel="Casado" itemValue="M" />
												<f:selectItem itemLabel="Viúvo" itemValue="W" />
												<f:selectItem itemLabel="Divorciado" itemValue="D" />
												<f:selectItem itemLabel="Apartado(Seprado)" itemValue="A" />
												<f:selectItem itemLabel="União Estável" itemValue="U" />
												<f:ajax />
											</h:selectOneMenu>
											<h:message for="tpEstadoCivil" style="font-size: 12px; color:red"></h:message>
										</div>
										<div class="col-xs-3 col-md-3">
											Altura:
											<h:inputText id="vlAltura" required="true" 
												requiredMessage="Campo obrigatório." styleClass="form-control"
												value="#{beanPreCadastroCboPCMSO.preCadastroCboSelecionado.vlAltura}">
												<f:ajax />
											</h:inputText>
											<h:message for="vlAltura" style="font-size: 12px; color:red"></h:message>
										</div>
										<div class="col-xs-3 col-md-3">
											Peso:
											<h:inputText id="vlPeso" required="true" 
												requiredMessage="Campo obrigatório." styleClass="form-control"
												value="#{beanPreCadastroCboPCMSO.preCadastroCboSelecionado.vlPeso}">
												<f:ajax />
											</h:inputText>
											<h:message for="vlPeso" style="font-size: 12px; color:red"></h:message>
										</div>
										<div class="col-xs-3 col-md-3">
											Telefone Contato:
											<h:inputText id="dsTelefoneContato" required="true" maxlength="20" 
												requiredMessage="Campo obrigatório." styleClass="form-control"
												value="#{beanPreCadastroCboPCMSO.preCadastroCboSelecionado.dsTelefoneContato}">
												<f:ajax />
											</h:inputText>
											<h:message for="dsTelefoneContato" style="font-size: 12px; color:red"></h:message>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 col-md-12">
											Descrição da Atividade:
											<h:inputTextarea id="dsAtividade" required="true" 
												requiredMessage="Campo obrigatório." styleClass="form-control"
												value="#{beanPreCadastroCboPCMSO.preCadastroCboSelecionado.dsAtividade}">
												<f:ajax />
											</h:inputTextarea>
											<h:message for="dsAtividade" style="font-size: 12px; color:red"></h:message>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-3 col-md-3">
											Trabalho em Altura:
											<h:selectOneMenu id="snTrabalhoAltura" required="true" requiredMessage="Campo obrigatório." styleClass="form-control"  value="#{beanPreCadastroCboPCMSO.snTrabalhoEmAltura}">
												<f:selectItem itemLabel="Selecione" itemValue="" />
												<f:selectItem itemLabel="Não" itemValue="N" />
												<f:selectItem itemLabel="Sim" itemValue="S" />
												<f:ajax />
											</h:selectOneMenu>
											<h:message for="snTrabalhoAltura" style="font-size: 12px; color:red"></h:message>
										</div>
										<div class="col-xs-3 col-md-3">
											Trabalho em Espaço Confinado:
											<h:selectOneMenu id="snTrabalhoConfinado" required="true" requiredMessage="Campo obrigatório." styleClass="form-control"  value="#{beanPreCadastroCboPCMSO.snEspacoConfinado}">
												<f:selectItem itemLabel="Selecione" itemValue="" />
												<f:selectItem itemLabel="Não" itemValue="N" />
												<f:selectItem itemLabel="Sim" itemValue="S" />
												<f:ajax />
											</h:selectOneMenu>
											<h:message for="snTrabalhoConfinado" style="font-size: 12px; color:red"></h:message>
										</div>
										
										<div class="col-xs-3 col-md-3">
											Possui alguma deficiência:
											<h:selectOneMenu id="snPossuiDeficiencia" required="true" requiredMessage="Campo obrigatório." styleClass="form-control"  value="#{beanPreCadastroCboPCMSO.snPossuiDeficiencia}">
												<f:selectItem itemLabel="Selecione" itemValue="" />
												<f:selectItem itemLabel="Não" itemValue="N" />
												<f:selectItem itemLabel="Sim" itemValue="S" />
												<f:ajax />
											</h:selectOneMenu>
											<h:message for="snPossuiDeficiencia" style="font-size: 12px; color:red"></h:message>
										</div>
										<div class="col-xs-3 col-md-3">
											Tipo de deficiência:
											<h:selectOneMenu id="tpDeficiencia" required="false" requiredMessage="Campo obrigatório." styleClass="form-control"  value="#{beanPreCadastroCboPCMSO.preCadastroCboSelecionado.tpDeficiencia}">
												<f:selectItem itemLabel="Nenhuma" itemValue="" />
												<f:selectItem itemLabel="Intelectual" itemValue="I" />
												<f:selectItem itemLabel="Física" itemValue="F" />
												<f:selectItem itemLabel="Auditiva" itemValue="A" />
												<f:selectItem itemLabel="Visual" itemValue="V" />
												<f:ajax />
											</h:selectOneMenu>
											<h:message for="tpDeficiencia" style="font-size: 12px; color:red"></h:message>
										</div>
									</div>
									
									
									<br />
									<br />
									<div align="center" style="width: 100%">
										<h:commandLink styleClass="btn btn-default" action="#{beanPreCadastroCboPCMSO.cancelarEdicao()}" value="Cancelar">
											<f:ajax />
										</h:commandLink>
										<h:commandLink onclick="carregando('carregando')" styleClass="btn btn-primary" value="Salvar" action="#{beanPreCadastroCboPCMSO.adicionaPreCadastro()}" style="margin-left: 10px;">
										</h:commandLink>
									</div>
								</h:form>
							</div>
							
		                </div>
		            </div>
		        </div>
		    </div>

			</section>
		</div>

		<baixo:baixoAdm />
		<sidebar:sidebarDireita />

	</div>
	<!-- ./wrapper -->

	<h:outputScript library="plugins/jQuery" name="jquery-2.2.3.min.js" />
	<h:outputScript library="bootstrap/js" name="bootstrap.min.js" />

	<h:outputScript library="js" name="app.min.js" />
	<h:outputScript library="js" name="jquery-2.1.0.min.js" />
	<h:outputScript library="js" name="jquery.maskedinput.js" />
	<h:outputScript library="js" name="bootstrap.min.js" />
	<h:outputScript library="js" name="mascaras.js" />
	<h:outputScript library="js" name="jquery.dtCalendario.js" />
	
</h:body>
</html>