@font-face {
	font-family:'UnimedSlab-SemiBold';
	src:url("/jUni2/resources/fonts/fonteUnimed/UnimedSlab-SemiBold.otf") format("opentype");
}
@font-face {
	font-family:'UnimedSlab-SemiBold';
	src:url("/jUni2/resources/fonts/fonteUnimed/UnimedSlab-SemiBoldItalic.otf") format("opentype");
}
@font-face {
	font-family:'UnimedSlabBold';
	src:url("/jUni2/resources/fonts/fonteUnimed/UnimedSlab-Bold.otf") format("opentype");
}
@font-face {
	font-family:'UnimedSlabBook';
	src:url("/jUni2/resources/fonts/fonteUnimed/UnimedSlab-Book.otf") format("opentype");
}

.titulo-negrito-black{
	font-family:'UnimedSlabBold'!important;
	font-size: 20px;
}
.titulo-negrito {
	font-family:'UnimedSlabBold'!important;
	font-size: 25px;
}
.titulo-Book {
	font-family:'UnimedSlabBook'!important;
}
.sub-titulo-Book {
	font-family:'UnimedSlabBook'!important;
	font-size: 12px;
}
.laranja{
	color: #F47920;
}
.verdeClaro{
	color:#B1D34B;
}
.verdeEscuro{
	color: #0A5F55;
}

.top {
	background-image: url("/DigitacaoDeNotas/resources/imgs/bg.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-attachment: fixed;
	overflow-x: hidden;
}
body {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

#corpo {
	width: 100%;
	margin-bottom: 100px;
}

#detalhado {
	width: 100%;
	margin-bottom: 100px;
}

#corpoExt {
	width: 80%;
	margin-bottom: 100px;
}

#detalhadoExt {
	width: 80%;
	margin-bottom: 100px;
}

#conteudo {
	position: relative;
	bottom: 25px;
	margin-top: 30px;
	margin-bottom: -30px;
}

#marg5to0 {
	margin-right: 10%;
}

#competenciaResp {
	width: 78px;
	text-align: center;
}

@media screen and (max-width: 1330px) {
	#detalhado {
		width: 100%;
	}
	#conteudo {
		bottom: 0px;
		margin-top: 0px;
	}
	#corpoExt {
		width: 80%;
	}
	#detalhadoExt {
		width: 100%;
	}
}

@media screen and (max-width: 1170px) {
	.linhaCompetencia {
		margin-left: -250px !important;
	}
}

@media screen and (max-width: 1140px) {
	.tamanhoTruncado {
		max-width: 115px !important;
	}
	.pepepep {
		max-width: 90px !important;
	}
}

@media screen and (max-width: 1065px) {
	#detalhado {
		width: 100%;
	}
	#conteudo {
		bottom: 0px;
		margin-top: 0px;
	}
	.wdNomeEItem {
		width: 210px !important;
	}
	#corpoExt {
		width: 90%;
	}
	
	#detalhadoExt {
		width: 100%;
	}
}

@media screen and (max-width: 991px) {
	.tamanhoTruncado {
		max-width: 130px !important;
	}

	.pepepep {
		max-width: 100px !important;
	}
}

@media screen and (max-width: 915px) {
	#corpo {
		position: relative;
		top: -21px;
	}
	#soAte990 {
		visibility: hidden;
		opacity: 0;
	}
	#marg5to0 {
		margin-right: -1%;
	}
	.formataEnvio {
		padding: 15px 10px !important;
	}
	.tamanhoTruncado {
		max-width: 120px !important;
	}
	
	#competenciaResp {
		width: 96px;
	}

	.pepepep {
		max-width: 100px !important;
	}
}

@media screen and (max-width: 930px) {
	.linhaCompetencia {
		margin-left: -210px !important;
	}
}

@media screen and (max-width: 860px) {
	#corpo {
		width: auto;
	}
	#detalhado {
		width: auto;
	}
	#conteudo {
		bottom: 0px;
		margin-top: 0px;
	}
	.wdNomeEItem {
		width: 120px !important;
	}
	#corpoExt {
		width: auto;
	}
	#detalhadoExt {
		width: auto;
	}
}

@media screen and (max-width: 767px) {
	.linhaCompetencia {
		margin-left: -300px !important;
		top: 29px;
		z-index: 10;
	}
	.defineCompetencia {	
		left: auto !important;
		right: 10px !important;
		margin-left: 0px !important;
		z-index: 100;
	}
	.competenciaFixa {
		right: 25px;
		position: absolute !important;
		z-index: 100;
	}
	#competenciaResp {
		width: 78px;
	}
}

@media screen and (max-width: 480px) {
	#topo {
		height: auto;
	}
	#conteudo {
		margin-top: 0px;
	}
}

.top {
	background-image: url("../resources/imgs/bg.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-attachment: fixed;
	overflow-x: hidden;
}

.input {
	height: 31px;
	width: 70px;
	border: 1px solid #ccc;
	padding: 1px 7px 1px 7px;
	color: #666;
	margin-top: -2px;
}

.input:active {
	border-color: #4f84dd;
	outline-width: 0px;
}

.input:hover {
	border-color: #aaa;
}

.input:focus {
	border-color: #4f84dd;
	outline-color: white;
}

.linhaCompetencia {
	list-style: none;
	white-space: nowrap;
}

.linhaCompetencia li {
	float: left;
	white-space: nowrap;
	margin: 0px 7px 0px 7px;
}

.linhaCompetencia li>span {
	font-size: 17px;
	line-height: 1.75;
}

.linhaCompetLG {
	position: relative;
	left: 13%;
}

.linhaCompetMD {
	position: relative;
	left: 4%;
}

.setaHoverDir {
	margin-top: 4px;
	display: inline-block;
	vertical-align: middle;
	border-left: 10px solid #bbb;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
}

.setaHoverEsq {
	margin-top: 4px;
	display: inline-block;
	vertical-align: middle;
	border-right: 10px solid #bbb;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
}

.setaHoverEsq:hover, .setaHoverDir:hover {
	border-left-color: #555;
	border-right-color: #555;
	cursor: pointer;
}

.cursorTable tr {
	cursor: pointer;
}

.cursorTable tr td {
	padding: 0px 8px !important;
}

.cursorTable tr td a {
	display: table;
	color: #333;
	height: 28px;
	line-height: 2.2;
}

.cursorTable tr td a:hover {
	text-decoration: none;
}

.nomeDetalhe {
	width: 200%;
	position: absolute;
}

.centralizador {
	position: absolute;
	left: 0px;
	width: 100%;
}

.ajusteTable thead tr th {
	text-align: center;
}

.ajusteTable tbody tr td {
	font-size: 15px;
	text-align: center;
}

.wdNomeEItem {
	width: 310px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tblListaUnimed {
	text-align: center;
}

.tblListaFatura {
	text-align: left;
}

.tblListaData {
	
}

.tblListaCompetencia {
	text-align: center;
}

.tblListaPeriodo {
	
}

.tblListaLote {
	
}

.tblListaImportacao {
	
}

.tblListaLimite {
	text-align: center;
}

.tblListaAdministrativa {
	
}

.tblListaTecnica {
	
}

.tblListaSalvar {
	
}

.tblListaSelecionaGuia {
	
}

.botVoltar {
	font-size: 12px;
	margin-top: 5px;
	margin-right: 10px;
}

.formataTabela {
	width: 98% !important;
	margin-top: 5px;
}

.formataTabela thead tr th {
	font-size: 12px;
}

.formataTabela tbody tr {
	
}

.formataTabela tbody tr:hover {
	background-color: #fafafa;
}

.formataTabela tbody tr td {
	font-size: 13px;
}
.tabelaCenter {
	text-align: center;
}

.tabelaEsquerda {
	
}

.tabelaDireita {
	text-align: right;
}

.confirmacaoPTU {
	width: 98%;
}

.confirmacaoPTU>fieldset>div>div {
	margin-top: 5px;
}

.confirmacaoPTU>fieldset>div>div>div>div {
	margin-top: 10px;
}

.confirmacaoPTU span {
	float: left;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	font-size: 13px;
}

.confirmacaoPTU button {
	margin-top: 15px;
	float: left;
	width: 100%;
}
.corLinha {
	font-weight: bold;
}

.custom-file-input {
	color: #555;
}

.custom-file-input:hover {
	color: #111;
}

.custom-file-input input::-webkit-file-upload-button {
	visibility: hidden;
	padding: 10px 25px;
}

.custom-file-input input::before {
	content: 'Selecionar arquivo';
	display: inline-block;
	outline: none;
	white-space: nowrap;
	-webkit-user-select: none;
	cursor: pointer;
	border: 1px solid #aaa;
	border-radius: 4px;
	padding: 3px 13px;
}

.custom-file-input input:hover::before {
	border-color: black;
}

.formataEnvio {
	margin-bottom: 25px;
}

.formataEnvio>div {
	margin: 10px 0px;
}

.formataEnvio>div>div>span {
	position: relative;
	top: 5px;
	font-size: 15px;
	color: #555;
}

.formataEnvio>div>div>input {
	width: 80px;
	float: left;
}

.formataEnvio>div>div>a {
	font-size: 16px;
	color: #555;
	border: 1px solid #777;
	display: block;
	width: 100px;
	border-radius: 4px;
	padding: 2px 0px;
	margin-top: 10px;
}

.formataEnvio>div>div>a:hover {
	text-decoration: none;
	color: #333;
	border-color: #282828;
}

.linkLinha {
	display: block;
	position: absolute;
	left: 0px;
	margin-top: -10px;
	width: 100%;
	height: 100%;
}

.truncar {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tamanhoTruncado {
	max-width: 175px;
}

.quadroDadosVrd {
	background-color: #dff0d8;
	border: 1px solid #d6e9c6;
	border-radius: 5px;
	padding: 5px 10px;
}

.formataDadosVrd span {
	float: left;
	margin: 2px 3px;
	font-size: 13px;
}

.formataDadosVrd span strong {
	color: #00995D;
}

.info_benef {
	padding: 10px 15px;
	border: 1px solid #dedede;
	border-radius: 3px;
}

.numero_nota_benef {
	position: relative;
	top: 10px;
}

.btn-corVerde {
	background-image: none !important;
	background-color: #5cb85c !important;
	border-color: #5cb85c !important;
	box-shadow: 0px 0px 0px #fff !important;
}

.btn-corVerde:hover {
	background-color: #48a448 !important;
	border-color: #48a448 !important;
}

.tituloNotas {
	float: left;
	margin-bottom: 5px !important;
	width: 180px;
}

.tituloNotas i {
	float: left;
}

.linhaVerde {
	border: 1px solid #4bad4b;
	margin-bottom: 15px;
}

.linhaCinza {
	border: 1px solid #dfdfdf;
	margin-bottom: 15px;
}

.formataConteudoTab {
	border: 1px solid #ddd;
	border-top-color: #fff;
	border-radius: 5px;
	padding: 10px 5px;
	margin-bottom: -5px;
}

.conteudoTabCInput div>div {
	margin-top: 3px;
}

.conteudoTabCInput span {
	margin-top: 7px;
}

.conteudoTabCInput input {
	font-style: oblique;
}

.tituloSublinhadoVrd {
	margin-bottom: 15px !important;
	border-bottom: 2px solid #4bad4b;
}

.tituloSublinhadoVrdSM {
	border-bottom: 2px solid #4bad4b;
}

.table-stripedUnimed>tbody>tr:nth-child(odd)>td, .table-stripedUnimed>tbody>tr:nth-child(odd)>th {
	background-color: #F2F2F2;
}

.table-stripedUnimed>tbody>tr:nth-child(odd):hover>td,
	.table-stripedUnimed>tbody>tr:nth-child(odd):hover>th {
	background-color: #f7fdf9;
}

.btn-corBranca {
	background-image: none !important;
	background-color: #ffffff !important;
	border-color: #ddd !important;
	box-shadow: 0px 0px 0px #fff !important;
}

.btn-corBranca:hover {
	background-color: #fafafa !important;
	border-color: #ddd !important;
}

.paginacao {
	padding: 15px;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.paginacao a:hover {
	cursor: pointer;
}

.guiasErros {
	position: absolute;
	top: 6px;
	right: 25px;
	float: right;
}

.guiasErros span {
	line-height: 1.9;
}

.centralizaCampos th, .centralizaCampos td {
	text-align: center;
}

.truncaTabela th {
	padding-bottom: 25px !important;
}

.truncaTabela th, .truncaTabela td {
	position: relative;
	height: 35px;
}

.truncaTabela th>div, .truncaTabela td>div {
	position: absolute;
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}

.preferido {}
.pgSelecionado {
	color: white !important;
	text-shadow: rgba(0,0,0,0.3) -1px 0, rgba(0,0,0,0.2) 0 -1px,
    rgba(0,0,0,0.2) 1px 0, rgba(0,0,0,0.2) 0 1px,
    rgba(0,0,0,0.2) -1px -1px, rgba(0,0,0,0.2) 1px 1px;
    filter: alpha(opacity=90);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .90;
}

.CarregandoOff { 
    display: none; 
    visibility: hidden; 
} 

.CarregandoOn { 
    display: block; 
    visibility: visible; 
    position:  fixed; 
    z-index: 999; 
    top: 0px; 
    left: 0px; 
    width: 100%; 
    height: 100%; 
    background-color: #ccc; 
    text-align: center; 
    padding-top: 20%; 
    filter: alpha(opacity=75); 
    opacity: 0.75; 
}

.TabelaCabecalho {
	font-size: 12px;
}

.TabelaLinha {
	font-size: 10px;
}

.TabelaSelecionaRegistro {
	font-size: 10px;
	background-color: #E8E8E8;
	border: 2px solid gray;
	padding-left: 50px;
}

.conteudoProcesso {
	min-height: 200px;
	padding: 15px;
}

.listaExComponentes {
	list-style: none;
	font-size: 13px;
	padding: 0px;
}

.listaExComponentes>li {
	width: 100%;
	padding: 35px;
}

.inputsHorizontal {
	list-style: none;
	position: relative;
	width:450px;
	font-size: 13px;
}

.inputsHorizontal li {
	width: 11%;
	float: left;	
}

.inputsHorizontal li>span {
	text-align: right;
	float: right;
	margin-right: 5px;
	position: relative;
	top: 2px;
}

.inputHor {
	width: 21% !important;
}

.spanHor {
	top: -1px !important;
	font-size: 15px;
	font-weight: bold;
	margin-right: -8px !important;
}

.inputPesquisar {
	width: 100%;
	float: left;
	border-radius: 4px;
	border: 1px solid #ccc; 
	padding: 3px 5px;
	position: relative;
	top: -2px;
}

.checkBoxForm {
	font-size: 13px;
}

.checkBoxForm label {
	font-weight: normal;
	position: relative; 
	bottom: 2px;
	left: 4px;
}

.botoesOkCancelar {
	overflow: auto;
}

.botoesOkCancelar ul {
	list-style: none;
}

.botoesOkCancelar ul li {
	float: left; 
	margin-left: 20px;
}

.botoesOkCancelar ul li input {
	width: 100px;
}


.cmcSemana {
	border-left: 1px solid #ddd;
}

.tbIntegrador {
	width: 98% !important;
	margin-top: 5px;
}

.tbIntegrador thead tr th.cmcSemana {
	border-left: 2px solid #ddd;
}


.tbIntegrador tbody tr th {
	text-align: center;
}

.tbIntegrador tbody tr td {
	text-align: center;
	padding: 0px !important;
}

.tbIntegrador tbody tr td:hover {
	background-color: #ddd !important;
	cursor: pointer;
}

.tbIntegrador tbody tr td span {
	padding: 8px;
	display: block;
}

.tbIntegrador tbody tr td a {
	color: #333;
	display: block;
	width: 100%;
	height: 100%;
	padding: 8px;
}

.tbIntegrador tbody tr td a:hover {
	text-decoration: none;
}

.tbIntegrador tbody tr td a:focus {
	text-decoration: none;
}

.tlTbInt {
	text-align: left !important;
}
.setaDireita {
	margin-top: 4px;
	display: inline-block;
	vertical-align: middle;
	border-left: 10px solid #bbb;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
}

.setaEsquerda {
	margin-top: 4px;
	display: inline-block;
	vertical-align: middle;
	border-right: 10px solid #bbb;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
}

.setaEsquerda:hover, .setaDireita:hover {
	border-left-color: #555;
	border-right-color: #555;
	cursor: pointer;
}

.defineCompetencia {
	list-style: none;
	left:50%;
	margin-left: -100px;
	position:absolute;
	width:200px;
}

.defineCompetencia li {
	float: left;
	margin-left: 10px;
	position: relative;
	top: -5px;
}

.defineCompetencia li .setaEsquerda, .setaDireita {
	position: relative;
	top: 5px;
}

.competenciaFixa {
	text-align: center; 
	position: relative; 
	top: 2px; 
	font-size: 16px;
}

.pepepep {
	max-width: 130px;
}

.graf450 {
	min-width: 310px; 
	height: 450px; 
	margin: 0px 15px; 
	border-bottom: 1px solid #ddd;
}

.graf300 {
	min-width: 310px; 
	height: 300px; 
	margin: 0px 15px;
}

.tbDetalhesIntegrados tbody tr:hover {
	background-color: #ddd;
	cursor: pointer;
}

.linkNotasDetalhes {
	display: block; 
	position: absolute; 
	left: 0px; 
	margin-top: -26px; 
	width: 100%; 
	height: 100%;
}

.titulo_info_benef {
	margin-bottom: 8px;
	font: 18px arial;
	color: #444;
	text-align: left;
}

.mgNotas {
	margin: 10px 35px 10px 35px;
}

.formataMostraDeNota strong {
	display: block;
	margin: 13px 0px 8px 3px;
	text-align: left;
	font-size: 12px;
}

.formataNotaselect div {
	text-align: left;
	font-size: 12px;
}

.formataNotaselect input {
	margin: 15px 10px !important;
}

.int_obstetrica {
	width:57%;
	margin-bottom: 30px;
	margin-left: 15px;
	margin-right: 40%; 
	padding: 10px 15px;
	border: 1px solid #dedede;
	border-radius: 3px;
	display: table;
}

.int_obstetrica strong, .int_obstetrica td {
	font-size: 12px;
}

.ftLeft {
	float: left;
}

.clBoth {
	clear: both;
}

.morteMaternaIn {
	margin-top: 30px; 
	margin-bottom: 10px;
	font-size: 12px;
}

.morteMaternaIn>input {
	margin-right: 10px !important;
}

.hcheckboxStyle>tbody>tr>td>label {
	margin: 15px 10px;
}

.hcheckboxStyle>tbody>tr>td>input {
	margin: 15px 10px;
}

.tiralinhabs>tbody>tr>td {
	border-top: 0px solid #fff !important;
}

.titulo_int_obstetrica {
	font-size: 12px;
	color: #444;
	font-weight: bold;
}

.formataCamposBeneficiario div{
	padding: 5px !important;
}

.formataCamposBeneficiario input{
	padding-left: 5px !important;
	padding-right: 5px !important;
  	text-overflow: ellipsis;
}

.mgtp17 {
	margin-top: 17px;
}

.mgtp10 {
	margin-top: 10px;
}

.spanSetaClk {
	font-size: 16px; 
	color: #428bca;
}

.spanSetaClk:hover {
	cursor: pointer;
	color: #275b8b !important;
}

.spanSetaClkBloqueado {
	font-size: 16px; 
	color: #b9b9b9;
}

.notaComErro {
	background-color: #fdbdbf !important;
}

.notaComErro:hover {
	background-color: #fed6d7 !important;
}

.toolOrg {
	float:left;
	margin-top: 10px;
	margin-right: 5px;
	height: 32px;
}

.toolOrg input {
	height: 32px;
}

.toolOrg > .btn {
    padding: 5px 12px;
}

.toolOrg > .btn-group {
	margin-right: 5px;
	margin-bottom: 5px;
}

.toolOrgCheckBox {
	top: -3px;
	padding-left: 0px !important;
	margin: 0px 3px;
}

.toolOrgCheckBox input {
	position: relative;
	top: -9px;
}

.toolOrgRadioButton {
	top: -24px;
	padding-left: 0px !important;
	margin: 0px 3px;
}

.toolOrgRadioButton input {
	margin-right: 7px !important;
	position: relative;
	top: 11px;
}

.toolOrgRadioButton label {
	padding-left: 0px !important;
}

.toolPosition {
	padding-right: 30px !important; 
	top: -20px;
	position: relative !important;
}

.bg-warning {
    background-color: #fcf8e3;
}

.relatorios{
	width: 95%;
}

.relatorios a{
	float:left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.tp-natureza td{
	width: 25%;
	text-align: left;
}

.tp-natureza td label{
	margin-left: 5px;
}

.nat-inf{
	font-size: 16px;
	color: #a3238e;
}

.nat-elo{
	font-size: 16px;
	color: #b1d34b;
}

.nat-sol{
	font-size: 16px;
	color: #f47915;
}

.nat-rec{
	font-size: 16px;
	color: #ed1651;
}

.no-id{
	font-size: 16px;
	color: #411564;
}

td:has(.no-id) {
	background: #fff0c7;
}

.proCol1{
	text-align: left;
	width: 200px;
}

.proCol2{
	text-align: left;
}

.proCol3{
	text-align: left;
	width: 150px;
}

.proCol4{
	text-align: left;
	width: 260px;
}

.proCol5{
	text-align: center;
	width: 50px;
}

.proCol6{
	text-align: center;
	width: 40px;
}

.pnl-lista-protocolo{
	margin-bottom: 120px !important;
}

.manyCheckbox-prot input{
	margin: 10px;	
}









